﻿@{
    List<serwisy_podwykonawcy> wyniki = (List<serwisy_podwykonawcy>)ViewBag.Wyniki;
    Layout = null;
    string v = Request["v"];

    int suma = wyniki.Sum(w => w.liczba_pracownikow);
}

<select name="podwykonawcaDzialanie" id="podwykonawcaDzialanie" value="@v" multiple class="TLO_KOLOR3" style="height: 100%; overflow: hidden;" size="@suma">
    @foreach (var w in wyniki)
    {
        for (int i = 0; i < w.liczba_pracownikow; i++)
        {
            if (v.Contains(string.Format("{0} {1}", w.nazwa, i + 1).ToUpper()))
            {
                <option value="@string.Format("{0} {1}", w.nazwa, i + 1).ToUpper()" selected>@string.Format("{0} {1}", w.nazwa, i + 1).ToUpper()</option>
            }
            else
            {
                <option value="@string.Format("{0} {1}", w.nazwa, i + 1).ToUpper()">@string.Format("{0} {1}", w.nazwa, i + 1).ToUpper()</option>
            }
        }
    }
</select>

<script>
    $("#podwykonawcaDzialanie").on("click", "option", function () {
        diff();
    });
</script>
