﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "Serwis O/Z";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ZleceniaOZ> zlecenia = (List<ZleceniaOZ>)ViewBag.Zlecenia;
    int sumaO = 0;
    int sumaZ = 0;
}
@if (!AppConstants.Check())
{
    <script>
        document.getElementById("menuLink").href = "/2.asp";
        document.getElementById("naglowekStrony").innerHTML = ":: SERWISY"
        document.getElementById("numerAplikacjiStrony").innerHTML = "[A.02.004]"
        document.getElementById("tytulStrony").innerHTML = "SERWISY"
        document.getElementById("tytulDzialu").innerHTML = "::: DZIAŁ TECHNICZNY :::"
        $("#liniaPodDzialem").attr("background", "/tlo_zielen.jpg")
    </script>
}

<h2>Serwisy - liczba zleceń otwartych i zamkniętych</h2>

<table style="width: 100%" border="1">
    <tr>
        <td align="center"><b>NAZWA</b></td>
        <td align="right"><b>LICZBA OTWARTYCH</b></td>
        <td align="right"><b>LICZBA ZAMKNIĘTYCH</b></td>
    </tr>
    @foreach (var z in zlecenia)
    {
        sumaO += z.liczba_otwartych;
        sumaZ += z.liczba_zamknietych;
        <tr>
            <td align="center">@z.nazwa</td>
            <td align="right">@z.liczba_otwartych</td>
            <td align="right">@z.liczba_zamknietych</td>
        </tr>
    }
    <tr>
        <td align="center"><b>RAZEM</b></td>
        <td align="right"><b>@sumaO</b></td>
        <td align="right"><b>@sumaZ</b></td>
    </tr>
</table>

