﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "Kosztorys";
    Layout = "~/Views/Shared/_Blank2.cshtml";

    var dzialania = (List<UsterkiDzialania>)ViewBag.Dzialania;
    var serwis = (Usterki)ViewBag.Serwis;
    var obiekt = Help.GetBudowa(Convert.ToInt32(serwis.idProjektu));
    int lp = 0;
}

<style>
    body {
        font-size: 10px;
    }

    table {
        width: 100%;
        border: 2px solid black;
        border-collapse: collapse;
    }

    .bold td {
        font-weight: bold;
    }
</style>

<table cellpadding="3" cellspacing="0">
    <tr class="bold">
        <td colspan="8" style="border-bottom: 2px solid black;">
            Umowa Ramowa nr UR-S-01-TGA-MSRMW-WIZUALIZACJA-2020<br />
            ZAŁĄCZNIK 07-Wzór Kosztorysu Prac Serwisowych
        </td>
        <td align="right" style="border-bottom: 2px solid black;"><img src="~/Images/PNG/Kaufland_Deutschland.png" width="50" /></td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr class="bold">
        <td colspan="9" align="center" style="border-top: 2px solid black;">KOSZTORYS PRAC</td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr class="bold">
        <td colspan="3" style="border-top: 2px solid black; border-right: 2px solid black; width: 40%;">Od:</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="4" style="border-top: 2px solid black; border-left: 2px solid black; width: 45%;">Do:</td>
    </tr>
    <tr class="bold">
        <td colspan="3" style="border-right: 2px solid black">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="4" style="border-left: 2px solid black">&nbsp;</td>
    </tr>
    <tr class="bold">
        <td colspan="3" style="border-right: 2px solid black">Wizualizacja Sp. z o.o.</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="4" style="border-left: 2px solid black">KAUFLAND POLSKA MARKETY Sp. Z o.o. SP. K.</td>
    </tr>
    <tr class="bold">
        <td colspan="3" style="border-right: 2px solid black">ul. Kasztanowa 6</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="4" style="border-left: 2px solid black">ul. Armii Krajowej 47</td>
    </tr>
    <tr class="bold">
        <td colspan="3" style="border-right: 2px solid black">46-022 Luboszyce</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="4" style="border-left: 2px solid black">50-421 Wrocław</td>
    </tr>
    <tr class="bold">
        <td colspan="3" style="border-right: 2px solid black">tel: +48 77 442 82 00</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="4" style="border-left: 2px solid black">tel: </td>
    </tr>
    <tr class="bold">
        <td colspan="3" style="border-right: 2px solid black; border-bottom: 2px solid black;">e-mail: biuro@wizualizacja.com</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="5" style="border-left: 2px solid black; border-bottom: 2px solid black;">e-mail: marcin.rudzinski@kaufland.pl</td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr class="bold">
        <td colspan="3" style="border: 2px solid black;">Kosztorys nr: WIZ-KP-@serwis.zgloszenieNumer</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="5" style="border: 2px solid black;">Data przygotowania: @serwis.dataZgloszenia.Value.ToShortDateString()</td>
    </tr>
    <tr class="bold">
        <td colspan="9" align="center">&nbsp;</td>
    </tr>
    <tr class="bold">
        <td colspan="3" style="border: 2px solid black;">Dotyczy: @string.Format("[{0}] {1}", obiekt.numer, obiekt.nazwa)</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="5" style="border: 2px solid black;">Umowa nr UR-S-01-TGA-MSRMW-WIZUALIZACJA-2020</td>
    </tr>
    <tr class="bold">
        <td colspan="9" align="center">&nbsp;</td>
    </tr>
    <tr class="bold" style="border: 2px solid black;">
        <td colspan="9" align="left">Temat: @serwis.umiejscowienie @string.Format("(zlecenie nr {0})", serwis.numerObcy)</td>
    </tr>
    <tr class="bold">
        <td colspan="9" align="center">&nbsp;</td>
    </tr>
    <tr class="bold">
        <td colspan="9" align="center">&nbsp;</td>
    </tr>
    <tr class="bold">
        <td align="center" style="border: 2px solid black;">Lp.</td>
        <td align="center" style="border: 2px solid black;">Pozycja cennika w umowie</td>
        <td align="center" style="border: 2px solid black;">Opis</td>
        <td align="center" style="border: 2px solid black;">Model urządzenia</td>
        <td align="center" style="border: 2px solid black;">Producent</td>
        <td align="center" style="border: 2px solid black;">j.m</td>
        <td align="center" style="border: 2px solid black;">ilość</td>
        <td align="center" style="border: 2px solid black;">Cena</td>
        <td align="center" style="border: 2px solid black;">Wartość</td>
    </tr>
    @foreach (var d in dzialania)
    {
        lp += 1;
        <tr class="bold">
            <td align="center" style="border: 2px solid black;">@string.Format("{0}.", lp)</td>
            <td align="center" style="border: 2px solid black;">-</td>
            <td align="center" style="border: 2px solid black;">@d.Opis</td>
            <td align="center" style="border: 2px solid black;"></td>
            <td align="center" style="border: 2px solid black;"></td>
            <td align="center" style="border: 2px solid black;"></td>
            <td align="center" style="border: 2px solid black;">@d.ilosc</td>
            <td align="center" style="border: 2px solid black;"></td>
            <td align="center" style="border: 2px solid black;">@d.ilosc</td>
        </tr>
    }
    <tr class="bold">
        <td colspan="7"></td>
        <td align="center" style="border: 2px solid black;">Razem netto</td>
        <td align="center" style="border: 2px solid black;">0</td>
    </tr>
    <tr class="bold">
        <td colspan="7"></td>
        <td align="center" style="border: 2px solid black;">VAT: 23%</td>
        <td align="center" style="border: 2px solid black;">0</td>
    </tr>
    <tr class="bold">
        <td colspan="7"></td>
        <td align="center" style="border: 2px solid black;">Brutto</td>
        <td align="center" style="border: 2px solid black;">0</td>
    </tr>
    <tr class="bold">
        <td colspan="9" align="center">&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="8">Uwagi:</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="8">1. </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="8">2.</td>
    </tr>
    <tr class="bold">
        <td colspan="9" align="center">&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="8">Załączniki:</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="8">1.</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="8">2.</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="8">3.</td>
    </tr>
    <tr class="bold">
        <td colspan="9" align="center">&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="6">*** Maksymalny czas pracy. Rozliczenie nastapi na podstawie faktycznie przeprowadzonych roboczogodzin wskazanych w protokóle wykonania usługi przy czym podana w kosztorysie ilość jest maksymalna liczbą roboczogodzin na które należy się wynagrodzenie. Zwiększenie liczby godzin ponad ilość podana w kosztorysie wymaga uzyskania uprzedniej zgody (w formie e.mail lub w formie) telefonicznej Osoby Upoważnionej ze strony Zleceniodawcy</td>
    </tr>
    <tr class="bold">
        <td colspan="9" align="center">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
</table>

