﻿@using pobintranetMVC.Models
@{
    Layout = null;
    List<projekt> projekty = ViewBag.Projekty;
    List<Usterki> seriwsy = ViewBag.Serwisy;

    string wspolrzedne = "";
    foreach (var p in projekty)
    {
        var iloscSerwisow = seriwsy.Where(s => s.idProjektu == p.idprojektu && s.zakonczono == false && ((s.typ == "Serwis" || s.typ == "") && s.statusZgloszenia != "Z" && s.statusZgloszenia != "A")).Count();
        string zlecen = "zleceń";
        var iloscSerwisowRozliczone = seriwsy.Where(s => s.idProjektu == p.idprojektu && s.zakonczono == true).Count();
        string zlecen2 = "zleceń";
        bool czyPrzeglad = seriwsy.Where(s => s.idProjektu == p.idprojektu && s.zakonczono == false && (s.typ == "Przeglad")).Any();
        if (iloscSerwisow == 1)
        {
            zlecen = "zlecenie";
        }
        if (iloscSerwisow > 1 && iloscSerwisow < 5)
        {
            zlecen = "zlecenia";
        }
        if (iloscSerwisowRozliczone == 1)
        {
            zlecen2 = "zlecenie";
        }
        if (iloscSerwisowRozliczone > 1 && iloscSerwisow < 5)
        {
            zlecen2 = "zlecenia";
        }
        if (p.langitude != null)
        {
            var color = "{icon: greenIcon}";
            if (iloscSerwisow > 0 && czyPrzeglad)
            {
                color = "{icon: yellowRedIcon}";
            }
            if (iloscSerwisow == 0 && czyPrzeglad)
            {
                color = "{icon: yellowIcon}";
            }
            if (iloscSerwisow > 0 && !czyPrzeglad)
            {
                color = "{icon: redIcon}";
            }
            try
            {
                wspolrzedne += string.Format("L.marker([parseFloat({0}), parseFloat({1})], {9}).bindPopup(\"<p>[{2}] {3}</p>" +
                    "<br>Przegląd: {10}" +
                    "<br><a href='/aplikacje/02/008/wyszukiwanieUsterek.asp?&firma=2&statusNowe=N&winaNasza=1&winaObca=2&winaNieWiem=3&sortowanie=O&nazwa={8}' target='_blank'>Serwisy: {4} {5}</a><br>" +
                    "<a href='/aplikacje/02/008/wyszukiwanieUsterek.asp?&firma=2&statusNowe=N&winaNasza=1&winaObca=2&winaNieWiem=3&sortowanie=O&nazwa={8}&statusModyfikowane=Z' target='_blank'>Rozliczone: {6} {7}</a>\"),"
                    , p.langitude.ToString().Replace(" ", ""), p.latitude.ToString().Replace(" ", ""), p.numer, p.nazwa, iloscSerwisow, zlecen, iloscSerwisowRozliczone, zlecen2, p.nazwa.Substring(0, 11), color, czyPrzeglad ? "TAK" : "NIE");
            }
            catch (Exception)
            {

            }
        }
    }
    wspolrzedne = wspolrzedne.TrimEnd(',');
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mapa serwisów - Wizualizacja Sp. z o.o.</title>
    <link rel="stylesheet" href="~/Content/leaflet.css" />
    <script src="~/Scripts/leaflet.js"></script>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div style="height: 30px;">
        <h6 style="margin: 0">Legenda:</h6>
        <img src="http://int.wizualizacja.local/aplikacjeMVC/Content/images/marker-icon-2x-green.png" height="10" /> Brak serwisu / przeglądu
        <img src="http://int.wizualizacja.local/aplikacjeMVC/Content/images/marker-icon-yellow.png" height="10" /> Przegląd
        <img src="http://int.wizualizacja.local/aplikacjeMVC/Content/images/marker-icon-red.png" height="10" /> Serwis
        <img src="http://int.wizualizacja.local/aplikacjeMVC/Content/images/marker-icon-yell-red.png" height="10" /> Przegląd i serwis
    </div>
    <div id="map"></div>

    <script>
        var greenIcon = new L.Icon({
            iconUrl: 'http://int.wizualizacja.local/aplikacjeMVC/Content/images/marker-icon-2x-green.png',
            shadowUrl: 'http://int.wizualizacja.local/aplikacjeMVC/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var yellowIcon = new L.Icon({
            iconUrl: 'http://int.wizualizacja.local/aplikacjeMVC/Content/images/marker-icon-yellow.png',
            shadowUrl: 'http://int.wizualizacja.local/aplikacjeMVC/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var redIcon = new L.Icon({
            iconUrl: 'http://int.wizualizacja.local/aplikacjeMVC/Content/images/marker-icon-red.png',
            shadowUrl: 'http://int.wizualizacja.local/aplikacjeMVC/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var yellowRedIcon = new L.Icon({
            iconUrl: 'http://int.wizualizacja.local/aplikacjeMVC/Content/images/marker-icon-yell-red.png',
            shadowUrl: 'http://int.wizualizacja.local/aplikacjeMVC/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        let zoom = 6;
        let lat = 52.065162;
        let lon = 19.252522;

        let featureGroups = [
            @Html.Raw(wspolrzedne)
    ];

    let map = L.map("map", {
        minZoom: 0,
        maxZoom: 16
    }).setView([lat, lon], zoom);

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    for (let i = 0; i < featureGroups.length; i++) {
        featureGroups[i].addTo(map);
    }

    let group = new L.featureGroup(featureGroups);
    map.fitBounds(group.getBounds(), { padding: [50, 50] });

    </script>
</body>

</html>
