﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "Protokol";
    Layout = "~/Views/Shared/_Blank2.cshtml";
    DateTime data = string.IsNullOrEmpty(Request["data"]) ? DateTime.Now : DateTime.Parse(Request["data"]);
    string zamowienie = string.IsNullOrEmpty(Request["zamowienie"]) ? "9700146279" : Request["zamowienie"];
    string data_zamowienia = string.IsNullOrEmpty(Request["data_zamowienia"]) ? "30.12.2020 r." : Request["data_zamowienia"];
    var projekt = (projekt)ViewBag.Projekt;
}

<!DOCTYPE html>
<!-- Created by pdf2htmlEX (https://github.com/coolwanglu/pdf2htmlex) -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="generator" content="pdf2htmlEX" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="~/Content/protcss/base.min.css" />
    <link rel="stylesheet" href="~/Content/protcss/fancy.min.css" />
    <link rel="stylesheet" href="~/Content/protcss/main.css" />
    <script src="~/Content/protcss/compatibility.min.js"></script>
    <script>
        try {
            pdf2htmlEX.defaultViewer = new pdf2htmlEX.Viewer({});
        } catch (e) { }

        function Zmien(el) {
            var tekst = prompt("Wprowadź tekst do zmiany.", el.textContent);
            if (tekst != "" && tekst != null) {
                el.textContent = tekst;
            }
        }
    </script>
    <title></title>
    <style>
        .xa { 
            left: 20.5px !important;
        }
    </style>
</head>
<body>
    <div id="sidebar">
        <div id="outline">
        </div>
    </div>

    <div id="page-container">
        <div id="pf1" class="pf w0 h0" data-page-no="1">
            <div class="pc pc1 w0 h0">
                <img class="bi x0 y0 w1 h1" alt="" src="~/Content/protcss/bg1.png" />
                <div class="c x1 y1 w2 h2">
                    <div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">WIZUALIZACJA SP. Z O.O.</div>
                    <div class="t m0 x3 h3 y3 ff1 fs0 fc0 sc0 ls0 ws0">UL. KASZTANOWA 6, 46-022 LUBOSZYCE</div>
                    <div class="t m0 x4 h3 y4 ff1 fs0 fc0 sc0 ls0 ws0">TEL.: (77) 442 09 50, 442 82 00</div>
                    <div class="t m0 x5 h3 y5 ff1 fs0 fc0 sc0 ls0 ws0">BIURO@WIZUALIZACJA.COM</div>
                    <div class="t m0 x6 h3 y6 ff1 fs0 fc0 sc0 ls0 ws0">KRS: 0000175520 <span class="ff2">∙</span> NIP: 7542751410 <span class="ff2">∙</span> REGON: 532410039</div>
                    <div class="t m0 x7 h3 y7 ff2 fs0 fc0 sc0 ls0 ws0" style="left: -30px;">
                        KAPITAŁ<span class="ff1"> </span>ZAKŁADOWY<span class="ff1"> WYNOSI: 52 000 PLN</span>
                    </div>
                </div>
                <div class="c x0 y8 w3 h4">
                    <div class="t m0 x8 h5 y9 ff1 fs1 fc0 sc0 ls0 ws0">
                        KONTO BANKOWE: ING BANK
                        <span class="ff2">ŚLĄSKI</span> 34 1050 1504 1000 0090 3187 9563 | EMAIL: BIURO@WIZUALIZACJA.COM
                    </div>
                </div>
                <div class="t m0 x9 h6 ya ff3 fs2 fc0 sc0 ls0 ws0">
                    <span onclick="Zmien(this);">MPK @projekt.opis-@data.ToString("MM")-@data.ToString("yyyy")</span><span class="_ _0"> </span><span onclick="Zmien(this);">@data.ToString("dd.MM.yyyy")</span>.
                </div>
                <div class="t m0 x9 h6 yb ff3 fs2 fc0 sc0 ls0 ws0">
                    Dotyczy: zamówienia nr <span onclick="Zmien(this);">@zamowienie</span> z dnia <span onclick="Zmien(this);">@data_zamowienia</span> r. na <span class="ff4">usługę</span>  eksploatacji
                </div>
                <div class="t m0 x9 h6 yc ff3 fs2 fc0 sc0 ls0 ws0">
                    instalacji automatyki na <span onclick="Zmien(this);">@string.Format("Kaufland {0} {1} {2}", projekt.miejscowosc, projekt.ulica, projekt.opis)</span>
                </div>
                <div class="t m0 x10 h6 yd ff4 fs2 fc0 sc0 ls0 ws0">,,Usługa<span class="ff3"> nie wymaga </span>protokołu’’</div>
                <div class="c xb ye w4 h7">
                    <div class="t m0 xc h6 yf ff5 fs2 fc0 sc0 ls0 ws0">KAUFLAND POLSKA MARKETY Sp. z o.o.</div>
                    <div class="t m0 xd h6 y10 ff5 fs2 fc0 sc0 ls0 ws0">Aleja Armii Krajowej 47</div>
                    <div class="t m0 h6 y11 ff5 fs2 fc0 sc0 ls0 ws0" style="top: 8px;">
                        50-541 <span class="ff6">Wrocław</span>
                    </div>
                </div>
            </div>
            <div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
        </div>
    </div>
</body>
</html>
