﻿
@{
    ViewBag.Title = "Edytuj materiał";
    Layout = null;
    List<producent> kotrahenci = (List<producent>)ViewBag.Kontrahenci;
    List<rodzaj> rodzaje = (List<rodzaj>)ViewBag.Rodzaje;
    List<magazyn_kategorie> kategorie = (List<magazyn_kategorie>)ViewBag.Kategorie;

    magazyn_materialy material = (magazyn_materialy)ViewBag.Material;
    int zu = Convert.ToInt32(ViewBag.Zu);
    string czyPokazac = material.cena > 0 ? "" : "style=display:none;";
    List<jednostki> jednostki = (List<jednostki>)ViewBag.Jednostki;
}

<script>
    function odkryj() {
        var checked = $("#e_www").is(':checked');
        if (checked) {
            $("#e_wwwDiv").show();
        }
        else {
            $("#e_wwwDiv").hide();
            $("#e_cena").val(0);
        }
    }
</script>

<script>
    function Sprawdz3(id) {
        checked = $(".mkat3" + id).is(":checked");
        if (!checked) {
            $(".mmkat3" + id).removeAttr("checked");
            $(".mmkat3" + id).prop("checked", false);
            $(".sskat" + id).removeAttr("checked");
            $(".sskat" + id).prop("checked", false);
        }
        else {
            $(".mmkat3" + id).attr("checked", true);
            $(".mmkat3" + id).prop("checked", true);
            $(".sskat" + id).attr("checked", true);
            $(".sskat" + id).prop("checked", true);
        }
    }

    function Sprawdz31(id, id2) {
        checked = $(".skat" + id2).is(":checked");
        if (!checked) {
            $(".mmmkat3" + id2).removeAttr("checked");
            $(".mmmkat3" + id2).prop("checked", false);
        }
        else {
            $(".mmmkat3" + id2).attr("checked", true);
            $(".mmmkat3" + id2).prop("checked", true);
        }
        czySa = false;
        $(".mmkat3" + id).each(function (index) {
            if ($(this).is(":checked")) {
                czySa = true;
            }
        });
        if (!czySa) {
            $(".mkat3" + id).removeAttr("checked");
            $(".mkat3" + id).prop("checked", false);
        }
        else {
            $(".mkat3" + id).attr("checked", true);
            $(".mkat3" + id).prop("checked", true);
        }
    }

    //function Sprawdz2(id, id2) {
    //    checked = $(".mmkat3" + id).is(":checked");
    //    czySa = false;
    //    czySa2 = false;
    //    $(".mmmkat3" + id).each(function (index) {
    //        if ($(this).is(":checked")) {
    //            czySa2 = true;
    //        }
    //    });
    //    if (!czySa2) {
    //        $(".skat" + id).removeAttr("checked");
    //        $(".skat" + id).prop("checked", false);
    //    }
    //    else {
    //        $(".skat" + id).attr("checked", true);
    //        $(".skat" + id).prop("checked", true);
    //    }
    //    $(".mmkat3" + id2).each(function (index) {
    //        if ($(this).is(":checked")) {
    //            czySa = true;
    //        }
    //    });
    //    if (!czySa) {
    //        $(".mkat3" + id2).removeAttr("checked");
    //        $(".mkat3" + id2).prop("checked", false);
    //    }
    //    else {
    //        $(".mkat3" + id2).attr("checked", true);
    //        $(".mkat3" + id2).prop("checked", true);
    //    }
    //}

    function SprawdzMat_e_1(id) {
        checked = $(".mkat3" + id).is(":checked");
        if (!checked) {
            $(".mmkat3" + id).removeAttr("checked");
            $(".mmkat3" + id).prop("checked", false);
        }
        else {
            $(".mmkat3" + id).attr("checked", true);
            $(".mmkat3" + id).prop("checked", true);
        }
    }

    function SprawdzMat_e_2(id) {
        checked = $(".mkat3" + id).is(":checked");
        czySa = false;
        $(".mmkat3" + id).each(function (index) {
            if ($(this).is(":checked")) {
                czySa = true;
            }
        });
        if (!czySa) {
            $(".mkat3" + id).removeAttr("checked");
            $(".mkat3" + id).prop("checked", false);
        }
        else {
            $(".mkat3" + id).attr("checked", true);
            $(".mkat3" + id).prop("checked", true);
        }
    }
</script>

@using (Html.BeginForm("Edytuj", "Magazyn", FormMethod.Post, new { enctype = "multipart/form-data", id = "edytujMaterialForm" }))
{
    <input type="hidden" name="m" value="@material.idmaterialu" />
    <input type="hidden" name="zu" value="@zu" />
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" id="e_kategorie" name="kategorie" value="" />
            <fieldset>
                <legend>KATEGORIE</legend>
                @foreach (var k in kategorie.Where(kat => kat.id_nadrzedne == null).ToList())
                {
                    <div class="form-check">
                        @if (!material.nazwy_kategorii.Contains(k.nazwa.TrimEnd()))
                        {
                            <input class="form-check-input kat3 @string.Format("mkat3{0}", k.id_kategorii) " type="checkbox" value="@k.nazwa" id="@string.Format("kat3_{0}", k.id_kategorii)" onclick="SprawdzMat_e_1('@k.id_kategorii');">
                        }
                        else
                        {
                            <input class="form-check-input kat3 @string.Format("mkat3{0}", k.id_kategorii) " type="checkbox" value="@k.nazwa" id="@string.Format("kat3_{0}", k.id_kategorii)" onclick="SprawdzMat_e_1('@k.id_kategorii');" checked>
                        }
                        <label class="form-check-label" for="@string.Format("kat3_{0}", k.id_kategorii)">
                            @k.nazwa
                        </label>
                    </div>
                    foreach (var k2 in kategorie.Where(kat => kat.id_nadrzedne == k.id_kategorii).ToList())
                    {
                        <div class="form-check" style="margin-left: 20px;">
                            @if (!material.nazwy_kategorii.Contains(k2.nazwa.TrimEnd()))
                            {
                                <input class="form-check-input kat3 @string.Format("mmkat3{0}", k.id_kategorii)" type="checkbox" value="@k2.nazwa" id="@string.Format("kat3_{0}", k2.id_kategorii)" onclick="SprawdzMat_e_2('@k.id_kategorii');">
                            }
                            else
                            {
                                <input class="form-check-input kat3 @string.Format("mmkat3{0}", k.id_kategorii) " type="checkbox" value="@k2.nazwa" id="@string.Format("kat3_{0}", k2.id_kategorii)" onclick="SprawdzMat_e_2('@k.id_kategorii');" checked>
                            }
                            <label class="form-check-label" for="@string.Format("kat3_{0}", k2.id_kategorii)">
                                @k2.nazwa
                            </label>
                        </div>
                        foreach (var k3 in kategorie.Where(kat => kat.id_nadrzedne == k2.id_kategorii).ToList())
                        {
                            <div class="form-check" style="margin-left: 40px;">
                                @if (!material.nazwy_kategorii.Contains(k3.nazwa.TrimEnd()))
                                {
                                    <input class="form-check-input kat3" type="checkbox" value="@k3.nazwa" id="@string.Format("kat3_{0}", k3.id_kategorii)">
                                }
                                else
                                {
                                    <input class="form-check-input kat3" type="checkbox" value="@k3.nazwa" id="@string.Format("kat3_{0}", k3.id_kategorii)" checked>
                                }
                                <label class="form-check-label" for="@string.Format("kat3_{0}", k3.id_kategorii)">
                                    @k3.nazwa
                                </label>
                            </div>
                            foreach (var k4 in kategorie.Where(kat => kat.id_nadrzedne == k3.id_kategorii).ToList())
                            {
                                <div class="form-check" style="margin-left: 60px;">
                                    <input class="form-check-input kat3" type="checkbox" value="@k4.nazwa" id="@string.Format("kat3_{0}", k4.id_kategorii)">
                                    <label class="form-check-label" for="@string.Format("kat3_{0}", k4.id_kategorii)">
                                        @k4.nazwa
                                    </label>
                                </div>
                                foreach (var k5 in kategorie.Where(kat => kat.id_nadrzedne == k4.id_kategorii).ToList())
                                {
                                    <div class="form-check" style="margin-left: 80px;">
                                        <input class="form-check-input kat3" type="checkbox" value="@k5.nazwa" id="@string.Format("kat3_{0}", k5.id_kategorii)">
                                        <label class="form-check-label" for="@string.Format("kat3_{0}", k5.id_kategorii)">
                                            @k5.nazwa
                                        </label>
                                    </div>
                                }
                            }
                        }
                    }
                }
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset>
                <legend>Parametry</legend>
                <div class="form-group">
                    <label for="nazwa">Nazwa</label>
                    <input type="text" class="form-control" id="e_nazwa" placeholder="Wpisz nazwę" name="nazwa" required value="@material.numer_wlasny">
                </div>
                <div class="form-group">
                    <label for="nazwa">Kod producenta</label>
                    <input type="text" class="form-control" id="e_kod" placeholder="Wpisz kod producenta" name="kod" value="@material.material">
                </div>
                <div class="form-group">
                    <label for="producent">Producent</label>
                    <div class="select_producent2">
                        <select class="form-control" id="e_producent" name="producent" required>
                            <option value="-1">WYBIERZ PRODUCENTA</option>
                            @foreach (var k in kotrahenci)
                            {
                                if (k.idproducenta == Convert.ToInt32(material.producent))
                                {
                                    <option value="@k.idproducenta" selected>@k.nazwa_producenta</option>
                                }
                                else
                                {
                                    <option value="@k.idproducenta">@k.nazwa_producenta</option>
                                }
                            }
                        </select>
                    </div>
                    <a href="#e_producentModal" data-toggle="modal" data-target="#producentModal">DODAJ</a>
                </div>
                <div class="form-group">
                    <label for="jednostka">Jednostka</label>
                    <select class="form-control" id="e_jednostka" name="jednostka">
                        <option value="-1">WYBIERZ JEDNOSTKĘ</option>
                        @foreach (var j in jednostki)
                        {
                            if (material.jednostka == j.nazwa_jednostki)
                            {
                                <option value="@j.nazwa_jednostki" selected>@j.nazwa_jednostki</option>
                            }
                            else
                            {
                                <option value="@j.nazwa_jednostki">@j.nazwa_jednostki</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group" style="display: none;">
                    <label for="producent">Rodzaje</label><br />
                    <select class="form-control" id="e_rodzaje" name="rodzaje" multiple>
                        @if (material.rodzaj != null)
                        {
                            foreach (var r in rodzaje)
                            {
                                if (material.rodzaj.Contains(r.nazwa_rodzaju))
                                {
                                    <option value="@r.nazwa_rodzaju" selected>@r.nazwa_rodzaju</option>
                                }
                                else
                                {

                                    <option value="@r.nazwa_rodzaju">@r.nazwa_rodzaju</option>
                                }
                            }
                        }
                    </select>
                </div>
                @*<div class="form-group">
                        <label for="producent">Kategorie</label><br />
                        <select class="form-control" id="e_kategorie" name="kategorie" multiple required>
                            @foreach (var k in kategorie)
                            {
                                if (material.nazwy_kategorii.Contains(k.nazwa))
                                {
                                    <option value="@k.nazwa" selected>@k.nazwa</option>
                                }
                                else
                                {
                                    <option value="@k.nazwa">@k.nazwa</option>
                                }
                            }
                        </select>
                    </div>*@
                <div class="form-group">
                    <label for="nazwa">Cena katologowa</label>
                    <input type="number" class="form-control" id="e_cena_katologowa" placeholder="Wpisz cenę" name="cena_katologowa" step="0.01" value="@material.cena_katolofowa.ToString().Replace(",", ".")">
                </div>
                <div class="form-check">
                    @if (string.IsNullOrEmpty(czyPokazac))
                    {
                        <input type="checkbox" class="form-check-input" id="e_www" onclick="odkryj();" checked>
                    }
                    else
                    {
                        <input type="checkbox" class="form-check-input" id="e_www" onclick="odkryj();">
                    }
                    <label class="form-check-label" for="www">WWW</label>
                </div>
            </fieldset>
            @*<button type="submit" class="btn btn-primary btn-lg">ZMIEŃ</button>*@
        </div>
        <div class="col-md-4">
            <div id="e_wwwDiv" @czyPokazac>
                <fieldset>
                    <legend>WWW</legend>
                    <div class="form-group">
                        <label for="cena">Cena</label>
                        <input type="number" class="form-control" id="e_cena" placeholder="Wpisz cenę" name="cena" step="0.01" min="0" value="@material.cena">
                    </div>
                    <div class="form-group">
                        <label for="cena">Ilość</label>
                        <input type="number" class="form-control" id="e_ilosc" placeholder="Wpisz ilość" name="ilosc" step="1" min="0" value="@material.ilosc">
                    </div>
                    <div class="form-group">
                        <label for="cena">Obrazek 1</label>
                        <input type="text" class="form-control" id="e_img1" placeholder="Wpisz ścieżkę www obrazka" name="img1" value="@material.img">
                    </div>
                    <div class="form-group">
                        <label for="cena">Obrazek 2</label>
                        <input type="text" class="form-control" id="e_img2" placeholder="Wpisz ścieżkę www obrazka" name="img2" value="@material.img2">
                    </div>
                    <div class="form-group">
                        <label for="cena">Obrazek 3</label>
                        <input type="text" class="form-control" id="e_img3" placeholder="Wpisz ścieżkę www obrazka" name="img3" value="@material.img3">
                    </div>
                    <div class="form-group">
                        <label for="cena">Link 1</label>
                        <input type="text" class="form-control" id="e_href1" placeholder="Wpisz ścieżkę www" name="href1" value="@material.href">
                    </div>
                    <div class="form-group">
                        <label for="cena">Link 2</label>
                        <input type="text" class="form-control" id="e_href2" placeholder="Wpisz ścieżkę www" name="href2" value="@material.href2">
                    </div>
                    <div class="form-group">
                        <label for="cena">Link 3</label>
                        <input type="text" class="form-control" id="e_href3" placeholder="Wpisz ścieżkę www" name="href3" value="@material.href3">
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <script>
        //$("#e_kategorie").multipleSelect({
        //    filter: true
        //});
        $("#e_rodzaje").multipleSelect({
            filter: true
        });
    </script>
}
