﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "Magazyn";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    List<rodzaj> rodzaje = (List<rodzaj>)ViewBag.Rodzaje;
    List<magazyn_materialy> materialyDoPokazania = (List<magazyn_materialy>)ViewBag.Materialy;
    List<magazyn_kategorie> kategorie = (List<magazyn_kategorie>)ViewBag.Kategorie;
    List<producent> kotrahenci = (List<producent>)ViewBag.Kontrahenci;
    List<string> materialy = (List<string>)ViewBag.MaterialyWszystkieNazwy;
    int wybranyKontrahent = string.IsNullOrEmpty(Request["producent"]) ? -1 : Convert.ToInt32(Request["producent"]);
    string wybranaNazwa = Request["nazwa"];
    string zu = "";
    string wybraneRodzaje = string.IsNullOrEmpty(Request["rodzaje"]) ? "" : Request["rodzaje"];
    string wybraneKategorie = string.IsNullOrEmpty(Request["kategorie"]) ? "" : Request["kategorie"];

    int? koszyk = ViewBag.LicznikKoszyk;
    var sciezka = "/aplikacjeMVC/Magazyn/";

    List<jednostki> jednostki = (List<jednostki>)ViewBag.Jednostki;
}
@if (!AppConstants.Check())
{
    zu = Request["zu"];
    <script>

        function DodajDoKoszyka(id)
        {
            $("#message").load("/aplikacjeMVC/Magazyn/DodajDoKoszyka?zu=" + @zu + "&id=" + id, function () {
                var text = $("#message").text();
                if (text != "Materiał już jest w koszyku") {
                    licznik = parseInt($("#koszykLicznik").text(), 10);
                    $("#koszykLicznik").text(licznik + 1);
                    $("#message").attr("style", "color: green; text-align: right;")
                }
                else {
                    $("#message").attr("style", "color: red;  text-align: right;")
                }
            });
        }

        function UsunZKoszyka(id)
        {
            $("#messageKoszyk").load("/aplikacjeMVC/Magazyn/UsunZKoszyka?zu=" + @zu + "&id=" + id, function () {
                licznik = parseInt($("#koszykLicznik").text(), 10);
                $("#koszykLicznik").text(licznik - 1);
                $("#koszyk").empty();
                $("#message").empty();
                $("#koszyk").load("/aplikacjeMVC/Magazyn/PokazKoszyk?zu=" + @zu, function () {});
            });
        }

        function UsunWszystkoZKoszyka()
        {
            $("#messageKoszyk").load("/aplikacjeMVC/Magazyn/UsunWszystkoZKoszyka?zu=" + @zu, function () {
                $("#koszykLicznik").text("0");
                $("#koszyk").empty();
                $("#message").empty();
                $("#koszyk").load("/aplikacjeMVC/Magazyn/PokazKoszyk?zu=" + @zu, function () {});
            });
        }
    </script>
}
else
{
    zu = "10899";
    sciezka = "/Magazyn/";
    <script>
    function DodajDoKoszyka(id)
                {
            $("#message").load("/Magazyn/DodajDoKoszyka?zu=" + @zu + "&id=" + id, function () {
                    var text = $("#message").text();
                    if (text != "Materiał już jest w koszyku") {
                        licznik = parseInt($("#koszykLicznik").text(), 10);
                    $("#koszykLicznik").text(licznik + 1);
                    $("#message").attr("style", "color: green; text-align: right;")
                    }
                    else {
                    $("#message").attr("style", "color: red;  text-align: right;")
                    }
                });
            }
            function UsunZKoszyka(id)
            {
            $("#messageKoszyk").load("/Magazyn/UsunZKoszyka?zu=" + @zu + "&id=" + id, function () {

                    licznik = parseInt($("#koszykLicznik").text(), 10);
                $("#koszykLicznik").text(licznik - 1);
                $("#koszyk").empty();
                $("#message").empty();
                $("#koszyk").load("/Magazyn/PokazKoszyk?zu=" + @zu, function () {});
        });
        }


        function UsunWszystkoZKoszyka()
        {
            $("#messageKoszyk").load("/Magazyn/UsunWszystkoZKoszyka?zu=" + @zu, function () {
                $("#koszykLicznik").text("0");
                $("#koszyk").empty();
                $("#message").empty();
                $("#koszyk").load("/Magazyn/PokazKoszyk?zu=" + @zu, function () {});
            });
        }
    </script>
}
@{
    loginy login = Help.GetLogin(zu);
}
<script>
    function Sprawdz(id) {
        checked = $(".mkat" + id).is(":checked");
        if (!checked) {
            $(".mmkat" + id).removeAttr("checked");
            $(".mmkat" + id).prop("checked", false);
            $(".sskat" + id).removeAttr("checked");
            $(".sskat" + id).prop("checked", false);
        }
        else {
            $(".mmkat" + id).attr("checked", true);
            $(".mmkat" + id).prop("checked", true);
            $(".sskat" + id).attr("checked", true);
            $(".sskat" + id).prop("checked", true);
        }
    }

    function Sprawdz1(id, id2) {
        checked = $(".skat" + id2).is(":checked");
        if (!checked) {
            $(".mmmkat" + id2).removeAttr("checked");
            $(".mmmkat" + id2).prop("checked", false);
        }
        else {
            $(".mmmkat" + id2).attr("checked", true);
            $(".mmmkat" + id2).prop("checked", true);
        }
        czySa = false;
        $(".mmkat" + id).each(function (index) {
            if ($(this).is(":checked")) {
                czySa = true;
            }
        });
        if (!czySa) {
            $(".mkat" + id).removeAttr("checked");
            $(".mkat" + id).prop("checked", false);
        }
        else {
            $(".mkat" + id).attr("checked", true);
            $(".mkat" + id).prop("checked", true);
        }
    }

    function SprawdzMat1(id) {
        checked = $(".mkat2" + id).is(":checked");
        if (!checked) {
            $(".mmkat2" + id).removeAttr("checked");
            $(".mmkat2" + id).prop("checked", false);
        }
        else {
            $(".mmkat2" + id).attr("checked", true);
            $(".mmkat2" + id).prop("checked", true);
        }
    }

    function SprawdzMat2(id) {
        checked = $(".mkat2" + id).is(":checked");
        czySa = false;
        $(".mmkat2" + id).each(function (index) {
            if ($(this).is(":checked")) {
                czySa = true;
            }
        });
        if (!czySa) {
            $(".mkat2" + id).removeAttr("checked");
            $(".mkat2" + id).prop("checked", false);
        }
        else {
            $(".mkat2" + id).attr("checked", true);
            $(".mkat2" + id).prop("checked", true);
        }
    }
</script>

<script src="~/Scripts/multiselect.js"></script>
<link rel="stylesheet" href="~/Content/multiselect.css">

<style>
    .ms-choice {
        border: none;
    }

    #podgladMaterialowTabela tr td {
        font-size: 12px !important;
    }

    td {
        word-wrap: break-word;
    }

    .modal-fullscreen {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-content {
        top: 0px;
    }

    .modal-body, modal-footer {
        background-color: white;
    }

    .modal-header {
        background-color: #FF8C00
    }

    fieldset {
        display: block !important;
        margin-left: 2px !important;
        margin-right: 2px !important;
        padding-top: 0.35em !important;
        padding-bottom: 0.625em !important;
        padding-left: 0.75em !important;
        padding-right: 0.75em !important;
        border: 1px solid #E5E5E5 !important;
    }

    legend {
        width: auto !important;
        border-bottom: none;
        text-align: left;
        text-transform: uppercase;
    }
</style>

<p style="color: blue; text-align: right;" id="message"></p>
<p style="color: green;">@Request["msg"]</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#materialModal">
    DODAJ MATERIAŁ
</button>
<button type="button" class="btn btn-default btn-hidden" data-toggle="modal" data-target="#producentModal" style="display: none;">
    EDYTUJ PRODUCENTÓW
</button>
<button type="button" class="btn btn-default btn-hidden" data-toggle="modal" data-target="#jednostkaModal" style="display: none;">
    EDYTUJ JEDNOSTKI
</button>
<button type="button" class="btn btn-default btn-hidden" data-toggle="modal" data-target="#kategoriaModal" style="display: none;">
    EDYTUJ KATEGORIĘ
</button>
@if (login.login_poziom == 1)
{
    <button id="showAll" class="btn btn-default" type="button" onclick="$('.btn-hidden').show(); $('#showAll').hide();">POKAŻ UKRYTE POLA</button>
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#koszykModal" style="float: right;">
    POKAŻ KOSZYK (<span id="koszykLicznik">@koszyk</span>)
</button>
<hr />
@using (Html.BeginForm("Wyszukaj", "Magazyn", FormMethod.Post, new { enctype = "multipart/form-data", id = "wyszukajForm" }))
{
    <input type="hidden" name="zu" id="zu" value="@zu" />
    <div style="display: none;">
        <h2>RODZAJE</h2>
        @*RODZAJE*@
        @foreach (var r in rodzaje)
        {
            <div class="form-check">
                @if (wybraneRodzaje.Contains(r.nazwa_rodzaju) || string.IsNullOrEmpty(wybraneRodzaje))
                {
                    <input class="form-check-input rodz" type="checkbox" value="@r.nazwa_rodzaju" id="@string.Format("mat_{0}", r.idrodzaju)" checked>
                }
                else
                {
                    <input class="form-check-input rodz" type="checkbox" value="@r.nazwa_rodzaju" id="@string.Format("mat_{0}", r.idrodzaju)">
                }
                <label class="form-check-label" for="@string.Format("mat_{0}", r.idrodzaju)">
                    @r.nazwa_rodzaju
                </label>
            </div>
        }
        <input type="hidden" name="rodzaje" value="" id="rodzaje" />
    </div>
    <table style="width: 100%; border-spacing: 5px 2px;" cellpadding="10">
        <tr>
            <td valign="top" style="padding:10px; width: 20%;">

                <fieldset>
                    <legend style="border-bottom: none; text-align: center;">KATEGORIE</legend>
                    @foreach (var k in kategorie.Where(kat => kat.id_nadrzedne == null).ToList())
                    {
                        <div class="form-check">
                            @if (wybraneKategorie.Contains(k.nazwa) || string.IsNullOrEmpty(wybraneKategorie))
                            {
                                <input class="form-check-input kat @string.Format("mkat{0}", k.id_kategorii) " type="checkbox" value="@k.nazwa" id="@string.Format("kat_{0}", k.id_kategorii)" checked onclick="Sprawdz('@k.id_kategorii');">
                            }
                            else
                            {
                                <input class="form-check-input kat @string.Format("mkat{0}", k.id_kategorii) " type="checkbox" value="@k.nazwa" id="@string.Format("kat_{0}", k.id_kategorii)" onclick="Sprawdz('@k.id_kategorii');">
                            }
                            <label class="form-check-label" for="@string.Format("kat_{0}", k.id_kategorii)">
                                @k.nazwa
                            </label>
                        </div>
                        foreach (var k2 in kategorie.Where(kat => kat.id_nadrzedne == k.id_kategorii).ToList())
                        {
                            <div class="form-check" style="margin-left: 20px;">
                                @if (wybraneKategorie.Contains(k2.nazwa) || string.IsNullOrEmpty(wybraneKategorie))
                                {
                                    <input class="form-check-input kat @string.Format("mmkat{0} skat{1}", k.id_kategorii, k2.id_kategorii)" type="checkbox" value="@k2.nazwa" id="@string.Format("kat_{0}", k2.id_kategorii)" checked onclick="Sprawdz1('@k.id_kategorii', '@k2.id_kategorii');">
                                }
                                else
                                {
                                    <input class="form-check-input kat @string.Format("mmkat{0} skat{1}", k.id_kategorii, k2.id_kategorii))" type="checkbox" value="@k2.nazwa" id="@string.Format("kat_{0}", k2.id_kategorii)" onclick="Sprawdz1('@k.id_kategorii', '@k2.id_kategorii');">
                                }
                                <label class="form-check-label" for="@string.Format("kat_{0}", k2.id_kategorii)">
                                    @k2.nazwa
                                </label>
                            </div>
                            foreach (var k3 in kategorie.Where(kat => kat.id_nadrzedne == k2.id_kategorii).ToList())
                            {
                                <div class="form-check" style="margin-left: 40px;">
                                    @if (wybraneKategorie.Contains(k3.nazwa) || string.IsNullOrEmpty(wybraneKategorie))
                                    {
                                        <input class="form-check-input kat @string.Format("mmmkat{0} sskat{1}", k2.id_kategorii, k.id_kategorii)" type="checkbox" value="@k3.nazwa" id="@string.Format("kat_{0}", k3.id_kategorii)" checked @*onclick="Sprawdz2('@k2.id_kategorii', '@k.id_kategorii')"*@>
                                    }
                                    else
                                    {
                                        <input class="form-check-input kat @string.Format("mmmkat{0} sskat{1}", k2.id_kategorii, k.id_kategorii)" type="checkbox" value="@k3.nazwa" id="@string.Format("kat_{0}", k3.id_kategorii)" @*onclick="Sprawdz2('@k2.id_kategorii', '@k.id_kategorii')"*@>
                                    }
                                    <label class="form-check-label" for="@string.Format("kat_{0}", k3.id_kategorii)">
                                        @k3.nazwa
                                    </label>
                                </div>
                                foreach (var k4 in kategorie.Where(kat => kat.id_nadrzedne == k3.id_kategorii).ToList())
                                {
                                    <div class="form-check" style="margin-left: 60px;">
                                        @if (wybraneKategorie.Contains(k4.nazwa) || string.IsNullOrEmpty(wybraneKategorie))
                                        {
                                            <input class="form-check-input kat" type="checkbox" value="@k4.nazwa" id="@string.Format("kat_{0}", k4.id_kategorii)" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input kat" type="checkbox" value="@k4.nazwa" id="@string.Format("kat_{0}", k4.id_kategorii)">
                                        }
                                        <label class="form-check-label" for="@string.Format("kat_{0}", k4.id_kategorii)">
                                            @k4.nazwa
                                        </label>
                                    </div>
                                    foreach (var k5 in kategorie.Where(kat => kat.id_nadrzedne == k4.id_kategorii).ToList())
                                    {
                                        <div class="form-check" style="margin-left: 80px;">
                                            @if (wybraneKategorie.Contains(k5.nazwa) || string.IsNullOrEmpty(wybraneKategorie))
                                            {

                                                <input class="form-check-input kat" type="checkbox" value="@k5.nazwa" id="@string.Format("kat_{0}", k5.id_kategorii)" checked>
                                            }
                                            else
                                            {
                                                <input class="form-check-input kat" type="checkbox" value="@k5.nazwa" id="@string.Format("kat_{0}", k5.id_kategorii)">
                                            }
                                            <label class="form-check-label" for="@string.Format("kat_{0}", k5.id_kategorii)">
                                                @k5.nazwa
                                            </label>
                                        </div>
                                    }
                                }
                            }
                        }
                    }
                </fieldset>
                <input type="hidden" name="kategorie" id="kategorie" value="" />
            </td>
            <td valign="top" style="padding:10px;">
                <fieldset>
                    <legend style="border-bottom: none; text-align: center;">WYSZUKIWANIE</legend>
                    <div class="form-group">
                        <label for="nazwa">Nazwa/opis</label>
                        <input type="text" class="form-control" id="f_nazwa" aria-describedby="nazwaHelp" placeholder="Wpisz nazwę/opis lub kod producenta" name="nazwa" value="@wybranaNazwa" list="materialy" autocomplete="off">
                        <datalist id="materialy">
                            @foreach (var m in materialy)
                            {
                                <option value="@m"></option>
                            }
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="producent">Producent</label>
                        <div class="select_producent">
                            <select class="form-control" id="f_producent" name="producent">
                                <option value="-1">WSZYSCY PRODUCENCI</option>
                                @foreach (var k in kotrahenci)
                                {
                                    if (k.idproducenta == wybranyKontrahent)
                                    {
                                        <option value="@k.idproducenta" selected>@k.nazwa_producenta</option>
                                    }
                                    else
                                    {
                                        <option value="@k.idproducenta">@k.nazwa_producenta</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="SubmitForm();">WYSZUKAJ</button>
                </fieldset>
                <hr />
                <fieldset>
                    <legend style="border-bottom: none; text-align: center;">
                        PODGLĄD MATERIAŁÓW
                    </legend>
                    <table style="width: 100%;" border="1" id="podgladMaterialowTabela">
                        <tr>
                            <td align="left"><b>Producent</b></td>
                            <td align="left"><b>Nazwa/opis</b></td>
                            <td align="left"><b>Kod</b></td>
                            <td align="center"><b>Jed.</b></td>
                            @*<td align="center"><b>WWW</b></td>*@
                            <td align="center"><b>Cena</b></td>
                            <td align="center"><b>Akcja</b></td>
                        </tr>
                        @if (materialy.Count == 0)
                        {
                            <tr>
                                <td colspan="7" align="center" style="color: red;">BRAK MATERIAŁÓW</td>
                            </tr>
                        }
                        else if (materialyDoPokazania.Count == 0)
                        {
                            <tr>
                                <td colspan="7" align="center" style="color: red;">BRAK MATERIAŁÓW, KTÓRE SPEŁNIAJĄ KRYTERIA WYSZUKIWANIA</td>
                            </tr>
                        }

                        else
                        {
                            try
                            {
                                materialyDoPokazania = materialyDoPokazania.OrderBy(mdp => Help.GetNazwaProducenta(Convert.ToInt32(mdp.producent))).ThenBy(mdp => mdp.material).ToList();
                            }
                            catch (Exception)
                            {

                            }
                            foreach (var m in materialyDoPokazania)
                            {
                                //var czyWWW = m.nazwy_kategorii.ToLower().Contains("www") ? "TAK" : "NIE";
                                //var cena = m.nazwy_kategorii.ToLower().Contains("www") ? m.cena.Value.ToString("C") : "-";
                                var jednostka = string.IsNullOrEmpty(m.jednostka) ? "" : m.jednostka;
                                <tr>
                                    <td align="left" wrap>@Help.GetNazwaProducenta(Convert.ToInt32(m.producent))</td>
                                    <td align="left" wrap>@m.numer_wlasny</td>
                                    <td align="left" wrap>@m.material</td>
                                    <td align="center" wrap>@jednostka</td>
                                    @*<td align="center">@string.Format("{0} ({1})", czyWWW, cena) </td>*@
                                    <td align="center" nowrap><a href="/aplikacjeMVC/Magazyn/PokazCenyMaterialuArchiwalne?idm=@m.idmaterialu" target="_blank" style="color: black;">@m.cena_katolofowa</a></td>
                                    @if (AppConstants.Check())
                                    {
                                        <td align="center" nowrap>
                                            <a class="pointer" title="Edytuj materiał" onclick="$('#edytujView').load('/Magazyn/Edytuj?@string.Format("m={0}&zu={1}", m.idmaterialu, zu)'); $('#editModal').modal('show')">
                                                <img src="~/Images/PNG/edit1.png" />
                                            </a> |
                                            <a class="pointer" title="Dodaj do koszyka" onclick="DodajDoKoszyka(@m.idmaterialu);"><img src="~/Images/PNG/shop_cart.png" /></a> |

                                            <a class="pointer" title="Usuń materiał" onclick="var r = confirm('Czy na pewno chcesz usunąć materiał @m.numer_wlasny?'); if (r == true) { window.location.href = '/Magazyn/Usun?@string.Format("m={0}&zu={1}", m.idmaterialu, zu)' }">
                                                <img src="~/Images/PNG/delete1.png" />
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td align="center" nowrap>
                                            <a class="pointer" onclick="$('#edytujView').load('/aplikacjeMVC/Magazyn/Edytuj?@string.Format("m={0}&zu={1}", m.idmaterialu, zu)'); $('#editModal').modal('show')">
                                                <img src="~/Images/PNG/edit1.png" />
                                            </a> |
                                            <a class="pointer" title="Dodaj do koszyka" onclick="DodajDoKoszyka(@m.idmaterialu);"><img src="~/Images/PNG/shop_cart.png" /></a> |
                                            <a class="pointer" onclick="var r = confirm('Czy na pewno chcesz usunąć materiał @m.numer_wlasny?'); if (r == true) { window.location.href = '/aplikacjeMVC/Magazyn/Usun?@string.Format("m={0}&zu={1}", m.idmaterialu, zu)' }">
                                                <img src="~/Images/PNG/delete1.png" />
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="7" align="center" style="color: red;">JEŚLI NIE ZNALAZŁEŚ MATERIAŁU TO WŁĄCZ FILTR NAZWY, OPISU LUB PRODUCENTA</td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>
    <hr />
}

<!-- Koszyk Modal -->
<div class="modal fade" id="koszykModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Twój koszyk</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="messageKoszyk" style="color: blue;"></div>
                <div id="koszyk"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger pointer" onclick="var r = confirm('Czy na pewno chcesz usunąć wszystkie materiały?'); if (r == true) { UsunWszystkoZKoszyka() }">
                    Usuń wszystko z koszyka
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!-- Producent Modal -->
<div class="modal fade" id="producentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:5000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DODAJ PRODUCENTA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="http://int.wizualizacja.local/aplikacje/02/003/producent_popup.asp" style="width: 100%; height: 50vh;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!-- Producent Modal Edytuj -->
<div class="modal fade" id="e_producentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:5000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DODAJ PRODUCENTA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="http://int.wizualizacja.local/aplikacje/02/003/producent_popup.asp" style="width: 100%; height: 50vh;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!-- Material Modal -->
<div class="modal fade" id="materialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @using (Html.BeginForm("Dodaj", "Magazyn", FormMethod.Post, new { enctype = "multipart/form-data", id = "materialForm" }))
    {
        <input type="hidden" name="zu" id="zu" value="@zu" />
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DODAWANIE MATERIAŁU</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">

                            @*<div class="form-group">
                                    <label for="producent">Kategorie</label>
                                    <select id="d_kategorie" name="kategorie" multiple required class="form-control">
                                        @foreach (var k in kategorie)
                                        {
                                            <option value="@k.nazwa">@k.nazwa</option>
                                        }
                                    </select>
                                </div>*@
                            <input type="hidden" name="kategorie" id="d_kategorie" value="" />
                            <fieldset>
                                <legend>KATEGORIE</legend>
                                @foreach (var k in kategorie.Where(kat => kat.id_nadrzedne == null).ToList())
                                {
                                    <div class="form-check">
                                        <input class="form-check-input kat2 @string.Format("mkat2{0}", k.id_kategorii) " type="checkbox" value="@k.nazwa" id="@string.Format("kat2_{0}", k.id_kategorii)" onclick="SprawdzMat1('@k.id_kategorii');">
                                        <label class="form-check-label" for="@string.Format("kat2_{0}", k.id_kategorii)">
                                            @k.nazwa
                                        </label>
                                    </div>
                                    foreach (var k2 in kategorie.Where(kat => kat.id_nadrzedne == k.id_kategorii).ToList())
                                    {
                                        <div class="form-check" style="margin-left: 20px;">
                                            <input class="form-check-input kat2 @string.Format("mmkat2{0}", k.id_kategorii)" type="checkbox" value="@k2.nazwa" id="@string.Format("kat2_{0}", k2.id_kategorii)" onclick="SprawdzMat2('@k.id_kategorii');">
                                            <label class="form-check-label" for="@string.Format("kat2_{0}", k2.id_kategorii)">
                                                @k2.nazwa
                                            </label>
                                        </div>
                                        foreach (var k3 in kategorie.Where(kat => kat.id_nadrzedne == k2.id_kategorii).ToList())
                                        {
                                            <div class="form-check" style="margin-left: 40px;">
                                                <input class="form-check-input kat2" type="checkbox" value="@k3.nazwa" id="@string.Format("kat2_{0}", k3.id_kategorii)">
                                                <label class="form-check-label" for="@string.Format("kat2_{0}", k3.id_kategorii)">
                                                    @k3.nazwa
                                                </label>
                                            </div>
                                            foreach (var k4 in kategorie.Where(kat => kat.id_nadrzedne == k3.id_kategorii).ToList())
                                            {
                                                <div class="form-check" style="margin-left: 60px;">
                                                    <input class="form-check-input kat2" type="checkbox" value="@k4.nazwa" id="@string.Format("kat2_{0}", k4.id_kategorii)">
                                                    <label class="form-check-label" for="@string.Format("kat2_{0}", k4.id_kategorii)">
                                                        @k4.nazwa
                                                    </label>
                                                </div>
                                                foreach (var k5 in kategorie.Where(kat => kat.id_nadrzedne == k4.id_kategorii).ToList())
                                                {
                                                    <div class="form-check" style="margin-left: 80px;">
                                                        <input class="form-check-input kat2" type="checkbox" value="@k5.nazwa" id="@string.Format("kat2_{0}", k5.id_kategorii)">
                                                        <label class="form-check-label" for="@string.Format("kat2_{0}", k5.id_kategorii)">
                                                            @k5.nazwa
                                                        </label>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                }
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <legend>Parametry</legend>
                                <div class="form-group">
                                    <label for="nazwa">Nazwa/opis</label>
                                    <input type="text" class="form-control" id="nazwa" placeholder="Wpisz nazwę" name="nazwa" required>
                                </div>
                                <div class="form-group">
                                    <label for="nazwa">Kod producenta</label>
                                    <input type="text" class="form-control" id="kod" placeholder="Wpisz kod producenta" name="kod">
                                </div>
                                <div class="form-group">
                                    <label for="producent">Producent</label>
                                    <div class="select_producent">
                                        <select class="form-control" id="producent" name="producent" required>
                                            <option value="-1">WYBIERZ PRODUCENTA</option>
                                            @foreach (var k in kotrahenci)
                                            {
                                                if (k.idproducenta == wybranyKontrahent)
                                                {
                                                    <option value="@k.idproducenta" selected>@k.nazwa_producenta</option>
                                                }
                                                else
                                                {
                                                    <option value="@k.idproducenta">@k.nazwa_producenta</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <a href="#producentModal" data-toggle="modal" data-target="#producentModal">DODAJ</a>
                                </div>
                                <div class="form-group">
                                    <label for="jednostka">Jednostka</label>
                                    <select class="form-control" id="jednostka" name="jednostka">
                                        <option value="-1">WYBIERZ JEDNOSTKĘ</option>
                                        @foreach (var j in jednostki)
                                        {
                                            <option value="@j.nazwa_jednostki">@j.nazwa_jednostki</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group" style="display: none;">
                                    <label for="producent">Rodzaje</label>
                                    <select id="d_rodzaje" name="rodzaje" multiple class="form-control">
                                        @foreach (var r in rodzaje)
                                        {
                                            <option value="@r.nazwa_rodzaju">@r.nazwa_rodzaju</option>
                                        }
                                    </select>
                                </div>
                                <script>
                                    //$("#d_kategorie").multipleSelect({
                                    //    filter: true
                                    //});

                                    $("#d_rodzaje").multipleSelect({
                                        filter: true
                                    });
                                </script>
                                <div class="form-group">
                                    <label for="nazwa">Cena katologowa</label>
                                    <input type="number" class="form-control" id="cena_katologowa" placeholder="Wpisz cenę" name="cena_katologowa" step="0.01">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="www" onclick="odkryj();">
                                    <label class="form-check-label" for="www">WWW</label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">

                            <div id="wwwDiv" style="display: none;">
                                <fieldset>
                                    <legend>WWW</legend>
                                    <div class="form-group">
                                        <label for="cena">Cena</label>
                                        <input type="number" class="form-control" id="cena" placeholder="Wpisz cenę" name="cena" step="0.01" min="0" value="0">
                                    </div>
                                    <div class="form-group">
                                        <label for="cena">Ilość</label>
                                        <input type="number" class="form-control" id="ilosc" placeholder="Wpisz ilość" name="ilosc" step="1" min="0" value="0">
                                    </div>
                                    <div class="form-group">
                                        <label for="cena">Obrazek 1</label>
                                        <input type="text" class="form-control" id="img1" placeholder="Wpisz ścieżkę www obrazka" name="img1">
                                    </div>
                                    <div class="form-group">
                                        <label for="cena">Obrazek 2</label>
                                        <input type="text" class="form-control" id="img2" placeholder="Wpisz ścieżkę www obrazka" name="img2">
                                    </div>
                                    <div class="form-group">
                                        <label for="cena">Obrazek 3</label>
                                        <input type="text" class="form-control" id="img3" placeholder="Wpisz ścieżkę www obrazka" name="img3">
                                    </div>
                                    <div class="form-group">
                                        <label for="cena">Link 1</label>
                                        <input type="text" class="form-control" id="href1" placeholder="Wpisz ścieżkę www" name="href1">
                                    </div>
                                    <div class="form-group">
                                        <label for="cena">Link 2</label>
                                        <input type="text" class="form-control" id="href2" placeholder="Wpisz ścieżkę www" name="href2">
                                    </div>
                                    <div class="form-group">
                                        <label for="cena">Link 3</label>
                                        <input type="text" class="form-control" id="href3" placeholder="Wpisz ścieżkę www" name="href3">
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn btn-primary" onclick="SubmitForm2();">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Kategoria Modal -->
<div class="modal fade" id="kategoriaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DODAWANIE KATEGORII</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="http://int.wizualizacja.local/aplikacje/02/003/zarzadzanie_kategoriami.asp" style="width: 100%; height: 50vh;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!-- Edytuj Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edytuj materiał</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="edytujView"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SubmitForm3();">Zmień</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!-- Jednostka Modal -->
<div class="modal fade" id="jednostkaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj/Usuń jednostki</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="http://int.wizualizacja.local/aplikacje/02/003/jednostka_popup2.asp" style="width: 100%; height: 50vh;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(".modal").on('shown.bs.modal', function (e) {
        $('.modal-backdrop').remove();
    });

    $("#koszykModal").on('shown.bs.modal', function (e) {
        $('#koszyk').load("@string.Format("{0}PokazKoszyk", sciezka)?zu=@zu");
        $("#koszykMessage").empty();
    });

    $("#koszykModal").on('hidden.bs.modal', function (e) {
        $("#messageKoszyk").empty();
    });

    $('#kategoriaModal').on('hidden.bs.modal', function () {
        window.location.reload(true)
    })

    $('#jednostkaModal').on('hidden.bs.modal', function () {
        window.location.reload(true)
    })

    $('#producentModal').on('hidden.bs.modal', function () {
        $('.select_producent').load("@string.Format("{0}SelectProducent", sciezka)");
    })

    $('#e_producentModal').on('hidden.bs.modal', function () {
        $('.select_producent2').load("@string.Format("{0}SelectProducent2", sciezka)");
    })

    function isEmpty(obj) {
        for (var key in obj) {
            if (obj.hasOwnProperty(key))
                return false;
        }
        return true;
    }

    function SubmitForm() {
        var rodzaje = [];
        $('.rodz:checked').each(function () {
            rodzaje.push($(this).attr('value'));
        });
        if (!isEmpty(rodzaje)) {
            $("#rodzaje").val(rodzaje.join(","));
        }
        var kategorie = [];
        $('.kat:checked').each(function () {
            kategorie.push($(this).attr('value'));
        });
        if (!isEmpty(kategorie)) {
            $("#kategorie").val(kategorie.join(","));
        }
        $("#wyszukajForm").submit();
    }

    function SubmitForm2() {
        var kategorie = [];
        $('.kat2:checked').each(function () {
            kategorie.push($(this).attr('value'));
        });
        if (!isEmpty(kategorie)) {
            $("#d_kategorie").val(kategorie.join(","));
        }

        var submit = true;
        var message = "";
        if (isEmpty(kategorie)) {
            message += "Nie wybrano kategorii.\n";
            submit = false;
        }
        var nazwa = $("#nazwa").val();
        if (isEmpty(nazwa)) {
            message += "Wpisz nazwę lub opis materiału.\n";
            submit = false;
        }
        if ($("#kod").val() == "") {
            message += "Wpisz kod producenta.\n";
            submit = false;
        }
        //if ($("#producent").find('option:selected').val() == "-1") {
        //    message += "Wybierz producenta.\n";
        //    submit = false;
        //}
        if ($("#jednostka").val() == "-1") {
            message += "Wpisz jednostkę.\n";
            submit = false;
        }

        var tryb = false;
        $.get("@string.Format("{0}SprawdzCzyDuplikat?kod=", sciezka)" + $("#kod").val() + "&producent=" + $("#producent").val(), function (data) {
            if (data == 1) {
                submit = false;
                tryb = true;
            }
            if (submit == true) {
            $("#materialForm").submit();
            }
            else {
                if (tryb == true) {
                    if (confirm("Materiał z kodem " + $("#kod").val() + " już istnieje. Przejść do materiału?") == true) {
                        window.location.href = "@string.Format("{0}Index?nazwa=", sciezka)" + $("#kod").val() + "&zu=@zu";
                    }
                }
                else {
                    alert("Błędy: \n" + message);
                }
            }
        });
    }

    function SubmitForm3() {
        var kategorie = [];
        $('.kat3:checked').each(function () {
            kategorie.push($(this).attr('value'));
        });
        if (!isEmpty(kategorie)) {
            $("#e_kategorie").val(kategorie.join(","));
        }
        var submit = true;
        var message = "";
        if (isEmpty(kategorie)) {
            message += "Nie wybrano kategorii.\n";
            submit = false;
        }
        var nazwa = $("#e_nazwa").val();
        if (isEmpty(nazwa)) {
            message += "Wpisz nazwę lub opis materiału.\n";
            submit = false;
        }
        if ($("#e_kod").val() == "") {
            message += "Wpisz kod producenta.\n";
            submit = false;
        }
        //if ($("#e_producent").val() == "-1") {
        //    message += "Wybierz producenta.\n";
        //    submit = false;
        //}
        if ($("#e_jednostka").val() == "-1") {
            message += "Wpisz jednostkę.\n";
            submit = false;
        }
        if (submit == true) {
            $("#edytujMaterialForm").submit();
        }
        else {
            alert("Błędy: \n" + message);
        }
    }

    function odkryj() {
        var checked = $("#www").is(':checked');
        if (checked) {
            $("#wwwDiv").show();
        }
        else {
            $("#wwwDiv").hide();
            $("#cena").val(0);
        }
    }
</script>