﻿@using pobintranetMVC.Models
@{
    var koszyk = (List<materialyKoszyk>)ViewBag.Koszyk;
    var lp = 1;
    Layout = null;
}
<div id="koszyk">
    <style>
        #tabelaKoszyk tr td {
            padding: 10px;
        }
    </style>
    <table border="1" style="width: 100%;" cellpadding="50" id="tabelaKoszyk">
        <tr>
            <td>Lp.</td>
            <td>Producent</td>
            <td>Materiał</td>
            <td>Kod</td>
            <td>Jed.</td>
            <td>Cena</td>
            <td>Akcje</td>
        </tr>
        @if (koszyk.Count == 0)
        {
            <tr>
                <td colspan="7">BRAK MATERIAŁÓW W KOSZYKU</td>
            </tr>
        }
        else
        {
            foreach (var pozycja in koszyk)
            {
                magazyn_materialy material = Help.GetMaterial(Convert.ToInt32(pozycja.IdMaterialu));
                <tr>
                    <td>@lp</td>
                    <td>@Help.GetNazwaProducenta(Convert.ToInt32(material.producent))</td>
                    <td>@Help.GetNazwaMaterialu(Convert.ToInt32(pozycja.IdMaterialu))</td>
                    <td>@material.material</td>
                    <td>@material.jednostka</td>
                    <td>@material.cena_katolofowa</td>
                    <td><a class="pointer" onclick="UsunZKoszyka(@Convert.ToInt32(pozycja.IdMaterialu))"><img src="~/Images/PNG/delete1.png" /></a></td>
                </tr>
                lp++;
            }
        }
    </table>
</div>
