﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "PokazCenyMaterialuArchiwalne";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ceny = (List<magazyn_materialy_cena_arch>)ViewBag.Ceny;
}

<script>
    document.getElementById("menuLink").href = "/aplikacje/02/003/start.asp";
    document.getElementById("naglowekStrony").innerHTML = ":: MAGAZYN"
    document.getElementById("numerAplikacjiStrony").innerHTML = "[A.02.003]"
    document.getElementById("tytulStrony").innerHTML = "MATERIAŁY"
    document.getElementById("tytulDzialu").innerHTML = "::: DZIAŁ TECHNICZNY :::"
    $("#liniaPodDzialem").attr("background", "/tlo_zielen.jpg")
</script>


<table style="width: 100%;" border="1" cellpadding="5">
    <tr>
        <td><b>Kod materiału</b></td>
        <td><b>Data</b></td>
        <td align="right"><b>Poprzednia cena</b></td>
        <td align="right"><b>Nowa Cena</b></td>
    </tr>
    @foreach (var c in ceny)
    {
<tr>
    <td>@c.kod</td>
    <td>@c.data_wprowadzenia.ToString("dd-MM-yyyy hh:mm")</td>
    <td align="right">@string.Format("{0}", c.poprzednia_cena == null && c.poprzednia_cena == 0 ? "" : c.poprzednia_cena.ToString())</td>
    <td align="right">@c.cena</td>
</tr>
    }
</table>
<br />
<a href="javascript:close();" class="btn btn-default">Wróć</a>


