﻿
@{
    Layout = null;

    List<producent> kotrahenci = (List<producent>)ViewBag.Kontrahenci;
}

<select class="form-control" id="e_producent" name="producent" required>
    <option value="-1">WYBIERZ PRODUCENTA</option>
    @foreach (var k in kotrahenci)
    {

        <option value="@k.idproducenta">@k.nazwa_producenta</option>
    }
</select>


