﻿@using pobintranetMVC.Models
@{
    Layout = null;

    List<magazyn_materialy> materialy = (List<magazyn_materialy>)ViewBag.Materialy;
}

<select id="selectmaterial" onload="$(this).val('')" onclick="$('#hfMaterialNazwa').val($(this).val()); $('#tbxMaterial').val($(this).find('option:selected').text());" runat="server" class="wpisy_dp_male" style="width: 100%">
    <option value="" disabled selected></option>
    @foreach (magazyn_materialy m in materialy)
    {
        <option value="@m.idmaterialu" data-cena="@m.cena_katolofowa.ToString().Replace(",", ".")">@string.Format("{0} | {1} | {2}", Help.GetNazwaProducenta(Convert.ToInt32(m.producent)), m.numer_wlasny, m.material)</option>
    }
</select>