﻿
@{
    Layout = null;

    List<jednostki> jednostki = (List<jednostki>)ViewBag.Jednostki;
}

<select id="jednostka" onclick="$('#hfMaterialJednostka').val($(this).val());" runat="server" class="wpisy_dp_male">
    @foreach (var j in jednostki)
    {

        <option value="@j.nazwa_jednostki">@j.nazwa_jednostki</option>
    }
</select>

