﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "DodajObiekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idp = Convert.ToInt32(ViewBag.Idp);
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
<script>
    function DodajOsobe() {
        $.get("DodajOsobe?i=" + $("#imie").val() + "&n=" + $("#nazwisko").val() + "&e=" + $("#email").val() + "&k=" + $("#kontrahent").val() + "&t=" + $("#telefon").val(), function (data) {
            $("#osobaKontaktowa").load('@Url.Action("GetWszystkieKontaktyFirmowe", "Projekt")', function () {
                $("#osoba").val(data);
                $('#osoba').selectize({
                    sortField: 'text'
                });
            });
        });

        $('#osobaForm').hide(); $('#btnForm').show(); $('#obiekt').show();
    }

    function Wroc() {
        $('#osobaForm').hide(); $('#btnForm').show(); $('#obiekt').show();
    }

    function NadpiszDaneAdresowe(p) {

    }
</script>
<form action="DodajObiekt" method="post">
    <div id="obiekt">
        <h2>Dodaj obiekt</h2>
        <h4>Projekt [@Help.GetBudowa(idp).numer] @Help.GetBudowa(idp).nazwa</h4>
        <input type="hidden" id="idp" name="idp" value="@idp" />
        <p>Projekt</p>
        <div id="projektDiv">
            Ładowanie...
        </div>
        <br />
        <br />
        <p>Osoba odpowiedzialna</p>
        <div id="osobaKontaktowa">
            Ładowanie...
        </div>
        <button type="button" onclick="$('#osobaForm').show(); $('#btnForm').hide(); $('#obiekt').hide();" id="btnForm">
            DODAJ KONTAKT
        </button>
        <br />
        <br />
        <p>Miasto</p>
        <input class="form-control" type="text" placeholder="Wpisz miasto" name="miasto" id="miasto" />
        <br />
        <br />
        <p>Ulica</p>
        <input class="form-control" type="text" placeholder="Wpisz ulicę" name="ulica" id="ulica" />
        <br />
        <br />
        <p>Kod</p>
        <input class="form-control" type="text" placeholder="Wpisz kod" name="kod" id="kod" />
        <br />
        <br />
        <p>Ryczałt dojazd</p>
        <input class="form-control" type="number" step="0.01" name="dojazd" id="dojazd" placeholder="0" min="0" required />
        <br /><br />
        <input type="submit" value="ZAPISZ OBIEKT" />
        <hr />
    </div>
</form>
<div style="display: none;" id="osobaForm">
    <h4>DODAJ KONTAKT</h4>
    <p>Imię</p><input type="text" class="form-control" name="imie" id="imie" placeholder="Wpisz imię" /><br /><br />
    <p>Nazwisko</p><input type="text" class="form-control" name="nazwisko" id="nazwisko" placeholder="Wpisz nazwisko" /><br /><br />
    <p>E-mail</p><input type="email" class="form-control" name="email" id="email" placeholder="Wpisz e-mail" /><br /><br />
    <p>Kontrahent</p><div id="kontrahenci">Ładowanie...</div><br /><br />
    <p>Telefon</p><input type="text" class="form-control" name="fon" id="fon" placeholder="Wpisz telefon" /><br /><br />
    <button onclick="DodajOsobe()">ZAPISZ KONTAKT</button>
    <button onclick="Wroc()">WRÓĆ</button>
</div>

<script>
    $(document).ready(function () {
        $("#projektDiv").load('@Url.Action("GetWszystkieProjekty", "Projekt")', function () {
            $('#projekt').selectize({
                sortField: 'text'
            });
            $('#projekt').data("selectize").setValue("");
        });
        $("#osobaKontaktowa").load('@Url.Action("GetWszystkieKontaktyFirmowe", "Projekt")', function () {
            $('#osoba').selectize({
                sortField: 'text'
            });
            $('#osoba').data("selectize").setValue("");
        });
        $("#kontrahenci").load('@Url.Action("GetWszystkichKontrahentow", "Projekt")', function () {
            $('#kontrahent').selectize({
                sortField: 'text'
            });
            $('#kontrahent').data("selectize").setValue("");
        });
    });
</script>



