﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "Generuj Protokoly";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    List<projekt> lista = (List<projekt>)ViewBag.Projekty;
    List<protokoly> listaProtokolow = (List<protokoly>)ViewBag.Protokoly;
    var index = 0;
    var sciezka = "/";
    if (!AppConstants.Check())
    {
        sciezka = "/aplikacjeMVC/";
    }
}

<script>
    function Powiel() {
        var data = document.getElementById("data_zam[0]").value;
        $(".data_zam").each(function () {
            $(this).val(data);
        });
    }
</script>

@using (Html.BeginForm("GenerujProtokoly", "Projekt", FormMethod.Post, new { enctype = "multipart/form-data", id = "formProjektyProtokoly" }))
{
    string data_p = DateTime.Now.ToString("yyyy-MM-dd");
    if (!string.IsNullOrEmpty(Request["data"]))
    {
        data_p = Convert.ToDateTime(Request["data"]).ToString("yyyy-MM-dd");
    }
    string cena_netto = "90.00";
    string stawka_vat = "23";
    if (listaProtokolow != null)
    {
        if (listaProtokolow.Count > 0)
        {
            //data_p = listaProtokolow[0].data.Value.ToString("yyyy-MM-dd");
            cena_netto = listaProtokolow[0].cena_netto.ToString();
            stawka_vat = listaProtokolow[0].stawka_vat.ToString();
        }

    }
    <input type="hidden" value="@Request["projekty"]" name="projekty" />
    <table style="width: 100%">
        <tr>
            <td colspan="3">
                <h4>Data protokołu</h4>
                <input type="date" name="data_p" value="@data_p" id="data_p" />
            </td>
            <td>
                <h4>Cena netto</h4>
                <input type="number" name="cena_netto" min="1" step="0.01" value="90" />
            </td>
            <td>
                <h4>Stawka VAT</h4>
                <input type="number" min="0" max="100" value="@stawka_vat" step="1" name="stawka_vat" /><span>%</span>
            </td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td><b>Data prot.</b></td>
            <td><b>Obiekt</b></td>
            <td><b>Opis</b></td>
            <td><b>Nr zamówienia</b></td>
            <td><b>Data zamówienia</b><br /><button type="button" onclick="Powiel()">Powiel 1-szy</button></td>
        </tr>
        @if (lista.Count == 0)
        {
            <tr>
                <td colspan="5" align="center" style="color: red;">BRAK PROTOKOŁÓW W TYM MIESIĄCU @Convert.ToDateTime(data_p).ToString("yyyy-MM")</td>
            </tr>
        }
        @foreach (var p in lista)
        {
            var zam = "";
            var data_zam = "";
            var data_prot = data_p;
            if (listaProtokolow != null)
            {
                if (listaProtokolow.Where(prot => prot.id_projektu == p.idprojektu).Any())
                {
                    var protokol = listaProtokolow.Where(prot => prot.id_projektu == p.idprojektu).First();
                    zam = protokol.nr_zamowienia;
                    data_zam = protokol.data_zamowienia.Value.ToString("yyyy-MM-dd");
                    data_prot = protokol.data.Value.ToString("yyyy-MM-dd");
                }
            }
    <tr>
        <td>@data_prot</td>
        <td>@string.Format("[{0}] {1}", p.numer, p.nazwa)</td>
        <td>@p.opis</td>
        <td><input type="text" name="@string.Format("zamowienie[{0}]", index)" value="@zam" id="@string.Format("zamowienie[{0}]", index)" /><input type="hidden" name="@string.Format("projekt[{0}]", index)" value="@p.idprojektu" /></td>
        <td><input type="date" class="data_zam" name="@string.Format("data_zam[{0}]", index)" value="@data_zam" id="@string.Format("data_zam[{0}]", index)" /></td>
    </tr>
            index++;
        }
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
    </table>
    <button type="button" onclick="window.location.href = '@string.Format("{0}Projekt/GenerujProtokoly?data=", sciezka)' + $('#data_p').val();">Pokaż protokoły z datą</button><span> | </span>
    <input type="submit" value="Zapisz protokoły" />
    if (listaProtokolow != null)
    {
        if (listaProtokolow.Count > 0)
        {
            <span> | </span>
            @Html.ActionLink("Wygeneruj FV", "StworzFVzbiorczo", "Projekt", new { data = data_p }, null) <span> | </span>
            @Html.ActionLink("Wygeneruj protokoły", "WygenerujZbiorczoProtokoly", "Projekt", new { projekty = Request["projekty"], data = data_p }, null)
        }
    }
}
