﻿@{
    List<projekt> kontakty = (List<projekt>)ViewBag.Kontakty;
    Layout = null;
}

<select id="projekt" name="projekt" required onchange="NadpiszDaneAdresowe(this.value);">
    @foreach (var k in kontakty)
    {
        <option value="@k.idprojektu">@string.Format("[{0}] {1}", k.numer, k.nazwa)</option>
    }
</select>
