﻿@{
    List<kontaktyFirmowe> kontakty = (List<kontaktyFirmowe>)ViewBag.Kontakty;
    Layout = null;
}

<select id="osoba" name="osoba" onclick="this.select();" required>
    @foreach (var k in kontakty)
    {
        <option value="@k.id">@string.Format("{0} {1} [{2}]", k.Imie, k.Nazwisko, k.Firma)</option>
    }
</select>