﻿@{ 
    List<kontrahent> kontakty = (List<kontrahent>)ViewBag.Kontakty;
    Layout = null;
}

<select id="kontrahent" name="kontrahent">
    @foreach (var k in kontakty)
    {
        <option value="@k.idkontahenta">@string.Format("{0}", k.indeks)</option>
    }
</select>