﻿@using pobintranetMVC.Models
@{
    Layout = null;
    var szczegoly = (List<projekt_szczegolyResult>)ViewBag.Szczegoly;
    var projekty = (List<projekt>)ViewBag.Projekty;
    var netto = (List<double>)ViewBag.NettoPoza;
    var vat = (List<double>)ViewBag.VatPoza;

    var sprzedaz = (List<double>)ViewBag.Sprzedaz;
}
<h4>Data wydruku: @DateTime.Now.ToString("dd-MM-yyyy HH:mm")</h4>
<table style="width: 100%;" border="1">
    <tr>
        <td align="right">Lp.</td>
        <td>Projekt</td>
        <td align="right">Umowa + Aneksy</td>
        <td align="right">Koszty</td>
        <td align="right">Sprzedaz</td>
        <td align="right">Umowa + Aneksy - Sprzedaż</td>
        <td align="right">Sprzedaż - Koszty</td>
    </tr>
    @for (int i = 0; i < projekty.Count; i++)
    {
        var koszty = szczegoly[i].KOSZTY_NETTO - netto[i];
        var sprzedaze = sprzedaz[i] != -1 ? sprzedaz[i] : szczegoly[i].SPZREDAZ_NETTO;
        <tr>
            <td align="right">@string.Format("{0}", i+1)</td>
            <td>@string.Format("[{0}] {1}", projekty[i].numer, projekty[i].nazwa)</td>
            <td align="right">@string.Format("{0:C2}", szczegoly[i].RAZEM_NETTO)</td>
            <td align="right">@string.Format("{0:C2}", koszty)</td>
            <td align="right">@string.Format("{0:C2}", sprzedaze)</td>
            <td align="right">@string.Format("{0:C2}", szczegoly[i].RAZEM_NETTO - sprzedaze)</td>
            <td align="right">@string.Format("{0:C2}", sprzedaz[i] - koszty)</td>
        </tr>
    }
</table>