﻿
@{
    ViewBag.Title = "WygenerujZbiorczoProtokoly";
    Layout = "~/Views/Shared/_Blank.cshtml";
    List<projekt> lista = (List<projekt>)ViewBag.Projekty;
    List<protokoly> listaProtokolow = (List<protokoly>)ViewBag.Protokoly;
}

<style>
    body {
        padding: 0px !important;
    }
</style>

@foreach (var l in listaProtokolow)
{
    string id = string.Format("Iframe{0}", l.id_projektu);
    string data_zam = l.data_zamowienia.Value.ToString("dd.MM.yyyy");
    <iframe scrolling="no" class="iframePrint" height="1080" id="@id" src="http://int.wizualizacja.local/aplikacjeMVC/Serwis/Protokol2?idprojektu=@l.id_projektu&zamowienie=@l.nr_zamowienia&data_zamowienie=@data_zam&data=&@l.data"></iframe>
}



