﻿@using pobintranetMVC.Models
@{ List<pobintranetMVC.zakup> zakupy = (List<pobintranetMVC.zakup>)ViewBag.Zakupy;
    List<zakup_pozycje> pozycje = (List<zakup_pozycje>)ViewBag.Pozycje;
    List<kontrahent> kontrahenci = (List<kontrahent>)ViewBag.Kontrahenci;
    Layout = null;

    double? podsumowanie_netto = 0;
    double? podsumowanie_brutto = 0;
    double? podsumowanie_zaplacono = 0;
    double? podsumowanie_zostalo = 0; }

<table cellspacing="0" rules="all" border="1" id="gvDokZakupowe" style="font-family:Verdana;width:100%;border-collapse:collapse; width: 100%;">
    @foreach (kontrahent kon in kontrahenci)
    {
        int indeks = 0;
        double? suma_netto = 0;
        double? suma_brutto = 0;
        double? suma_zaplacono = 0;
        double? suma_zostalo = 0;
<tbody>
    <tr>
        <th scope="col">&nbsp;</th>
    </tr>
    <tr>
        <td>
            <span id="gvDokZakupowe_Label1_0" style="font-weight:bold;">@kon.indeks</span>
            <br>
            <div>
                <table cellspacing="0" rules="all" id="gvDokZakupowe_gvDokZakupoweSzczegoly_0" style="border-color:LightGrey;border-width:1px;border-style:solid;border-collapse:collapse; width: 100%">
                    <tbody>
                        @foreach (pobintranetMVC.zakup zakup in zakupy.Where(z => z.idkontrahenta == kon.idkontahenta).OrderBy(z => z.nrdok_obcy).ToList())
                        {
                            indeks += 1;
                            var netto = zakup.suma_netto_pln;
                            var brutto = zakup.suma_netto_pln + zakup.suma_vat_pln;

                            var zaplacono = Help.GetSaldoZakup(zakup.idzakupu);
                            if (zaplacono == null)
                            {
                                zaplacono = 0;
                            }

                            var zostalo = brutto - zaplacono;
                            var s2opis = Help.GetOpisKontaAnalitycznego2(zakup.ida2);

                            string tw = Help.GetIso8601WeekOfYear(zakup.data_wystawienia.Value).ToString("00");
                            string tp = Help.GetIso8601WeekOfYear(zakup.data_platnosci.Value).ToString("00");

                            try
                            {
                                zakup_pozycje z_p = pozycje.Where(p => p.idzakupu == zakup.idzakupu).First();
                                if (z_p != null)
                                {
                                    if (z_p.netto + z_p.vat != brutto)
                                    {
                                        netto = z_p.netto;
                                        brutto = z_p.netto + z_p.vat;
                                        if (zaplacono > brutto)
                                        {
                                            zaplacono = brutto;
                                        }
                                        zostalo = brutto - zaplacono;
                                    }
                                }
                            }
                            catch (Exception)
                            {
                            }

                            suma_netto += netto;
                            suma_brutto += brutto;
                            suma_zaplacono += zaplacono;
                            suma_zostalo += zostalo;

                            podsumowanie_netto += netto;
                            podsumowanie_brutto += brutto;
                            podsumowanie_zaplacono += zaplacono;
                            podsumowanie_zostalo += zostalo;


        <tr>
            <td style="width:13px;">
                @indeks

            </td>
            <td style="width:250px;">
                <span id="gvDokZakupowe_gvDokZakupoweSzczegoly_0_lbDokument_0">@kon.indeks [@zakup.nrdok_obcy]</span>

            </td>
            <td align="center" style="width:140px;">
                <span id="gvDokZakupowe_gvDokZakupoweSzczegoly_0_lbDataWystawienia_0">@zakup.data_wystawienia.Value.ToString("dd-MM-yyyy")</span>
                &nbsp;[<span id="gvDokZakupowe_gvDokZakupoweSzczegoly_0_lbDataWystawieniaTydzien_0">@tw</span>]
            </td>
            <td align="center" style="width:140px;">
                <span id="gvDokZakupowe_gvDokZakupoweSzczegoly_0_lbDataPlatnosci_0">@zakup.data_platnosci.Value.ToString("dd-MM-yyyy")</span>
                &nbsp;[<span id="gvDokZakupowe_gvDokZakupoweSzczegoly_0_lbDataPlatnosciTydzien_0">@tp</span>]
            </td>
            <td align="right" style="width:80px;">
                <span id="gvDokZakupowe_gvDokZakupoweSzczegoly_0_lbNetto_0">@netto.Value.ToString("C")</span>
            </td>
            <td align="right" style="width:80px;">
                <span id="gvDokZakupowe_gvDokZakupoweSzczegoly_0_lbBrutto_0">@brutto.Value.ToString("C")</span>
            </td>
            <td align="right" style="width:80px;">
                <span id="gvDokZakupowe_gvDokZakupoweSzczegoly_0_lbZaplacono_0">@zaplacono.Value.ToString("C")</span>
            </td>
            <td align="right" style="width:80px;">
                <span id="gvDokZakupowe_gvDokZakupoweSzczegoly_0_lbZostalo_0">@zostalo.Value.ToString("C")</span>
            </td>
            <td align="right" style="width:300px;">@s2opis</td>
        </tr>
}
                    </tbody>
                </table>
            </div>
            <br>
        </td>
    </tr>
</tbody>
}
    <tbody>
    <tr>
        <td>
            <div>
                <table cellspacing="0" rules="all" id="gvDokZakupowe_gvDokZakupoweSzczegoly_0" style="border-color:LightGrey;border-width:1px;border-style:solid;border-collapse:collapse; width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 13px; text-align: right"></td>
                            <td style="width: 250px; text-align: right"></td>
                            <td style="width: 140px; text-align: right"></td>
                            <td style="width: 140px; text-align: right"></td>
                            <td style="width: 80px; text-align: right; border-right: 1px solid black;">
                                <span id="lbNettoSuma" style="font-weight:bold;">@podsumowanie_netto.Value.ToString("C")</span>
                            </td>
                            <td style="width: 80px; text-align: right; border-right: 1px solid black;">
                                <span id="lbBruttoSuma" style="font-weight:bold;">@podsumowanie_brutto.Value.ToString("C")</span>
                            </td>
                            <td style="width: 80px; text-align: right; border-right: 1px solid black;">
                                <span id="lbZaplaconoSuma" style="font-weight:bold;">@podsumowanie_zaplacono.Value.ToString("C")</span>
                            </td>
                            <td style="width: 80px; text-align: right">
                                <span id="lbPozostaloSuma" style="font-weight:bold;">@podsumowanie_zostalo.Value.ToString("C")</span>
                            </td>
                            <td style="width: 300px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
        </td>
    </tr>
    </tbody>
</table>