﻿
@{
    ViewBag.Title = "DrukujWieleFakturSprzedazowych";
    Layout = "~/Views/Shared/_Blank.cshtml";
    List<int> indeksy = (List<int>)ViewBag.Indeksy;
}

<style>
    body {
        padding: 0px !important;
    }
</style>

@foreach (var i in indeksy)
{
    string id = string.Format("Iframe{0}", i);
    <iframe class="iframePrint" height="1080" id="@id" src="http://int.wizualizacja.local/aplikacje/05/007/wydruk_sprzedaz_mpp.asp?idsprzedazy=@i"></iframe>

    @*<script>
        // Selecting the iframe element
        var frame = document.getElementById("@id");

        // Adjusting the iframe height onload event
        frame.onload = function ()
        // function execute while load the iframe
        {
            // set the height of the iframe as
            // the height of the iframe content
            frame.style.height =
                frame.contentWindow.outerHeight + 'px';


            // set the width of the iframe as the
            // width of the iframe content
            frame.style.width =
                frame.contentWindow.outerHeight + 'px';

        }
    </script>*@
}



