﻿@using pobintranetMVC.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wizualizacja Sp. z o. o.</title>
    <style>
        body {
            font-family: Arial, serif;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>

