﻿@using pobintranetMVC.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wizualizacja Sp. z o. o.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (!AppConstants.Check())
    {
        <link rel="stylesheet" type="text/css" href="/css/poburski.css">
    }
</head>
<body id="body">
    <TABLE WIDTH="1200" BORDER="0" align="center" CELLPADDING="0" CELLSPACING="0" style="border-bottom: 1px solid black;">
        @if (!AppConstants.Check())
        {
            <TR>
                <TD width="162">
                    <a href="/go.html"><IMG SRC="/grafika/go_01.jpg" WIDTH=162 border="0"></a>
                </TD>
                <TD width="700" colspan="3" valign="middle">
                    <a href="/a.asp" class="tytul_api" style="margin-right: 20px; margin-left: 20px;">APLIKACJE</a>
                    <a href="/2.asp" style="margin-right: 20px;" class="tytul_api">DZIAŁ TECHNICZNY</a>
                    <a href="/3.asp" style="margin-right: 20px;" class="tytul_api">CONTROLLING</a>
                    <a href="/4.asp" style="margin-right: 20px;" class="tytul_api">DZIAŁ EKONOMICZNY</a>
                    <a href="/5.asp" style="margin-right: 20px;" class="tytul_api">BIURO</a>
                    <a href="/6.asp" style="margin-right: 20px;" class="tytul_api">DZIAŁ PERSONALNY</a>
                    <a href="/p.asp" style="margin-right: 20px;" class="tytul_api">P</a>
                    <a href="/i.asp" style="margin-right: 20px;" class="tytul_api">I</a>
                </TD>
                <TD><IMG SRC="/grafika/odstep.gif" WIDTH=1 HEIGHT=82></TD>
            </TR>
            <TR>
                <TD COLSPAN=2 ROWSPAN=2 align="left" valign="middle" background="/grafika/go_05.jpg">
                    <table width="122" height="30" border="0" align="center" cellpadding="0" cellspacing="5">
                        <tr>
                            <td class="tytul1bld" nowrap><div align="center" id="tytulDzialu">::: BIURO :::</div></td>
                        </tr>
                        <tr style="line-height: 0;">
                            <td height="5" background="/tlo_zielen.jpg" id="liniaPodDzialem"><img src="/grafika/odstep.gif" width="5" height="5"></td>
                        </tr>
                    </table>
                </TD>
                <TD ROWSPAN=2 align="left" valign="top" background="/grafika/go_06.jpg"></TD>
                <TD>
                    <IMG SRC="/grafika/odstep.gif" WIDTH=1 HEIGHT=82>
                </TD>
            </TR>
            <TR>
                <TD background="/grafika/go_07.jpg"><div align="center" class="tresc">		</div></TD>
                <TD>
                    <IMG SRC="/grafika/odstep.gif" WIDTH=1 HEIGHT=17>
                </TD>
            </TR>
        }
        <TR>
            <TD COLSPAN=4 id="tlo">
                <table width="800" border="1" align="center" cellpadding="0" cellspacing="5">
                    <tr valign="top">
                        <td width="800" bgcolor="#333333">
                            <table style="width: 100%;" border="1" cellspacing="1" cellpadding="3">
                                <tr bgcolor="#EBEBEB">
                                    <td width="87" bgcolor="#F3F3F3" class="tytul1bld"><div align="left">aplikacja</div></td>
                                    <td width="96" bgcolor="#F3F3F3" class="tytul1bld"><div align="left" id="numerAplikacjiStrony">[A.05.005]</div></td>
                                    <td width="494" bgcolor="#F3F3F3" class="tytul1bld"><div align="left" id="tytulStrony">Rozrachunki kontrahentów </div></td>
                                    <td width="81" bgcolor="#F3F3F3">
                                        <div align="center"><a href="/" id="menuLink" class="link_czarny">:: MENU ::</a></div>
                                    </td>
                                </tr>
                                <tr bgcolor="#EBEBEB">
                                    <td colspan="4">
                                        @if (!AppConstants.Check())
                                        {
                                            <img src="/grafika/odstep.gif" width="1" height="1">
                                        }
                                    </td>
                                </tr>
                                <tr bgcolor="#EBEBEB" style="border-bottom:1px solid black">
                                    <td colspan="4" bgcolor="#F3F3F3">
                                        <table style="width: 100%" border="1" align="center" cellpadding="0" cellspacing="0" bgcolor="#666666">
                                            <tr>
                                                <td>
                                                    <table style="width: 100%" border="1" cellpadding="0" cellspacing="1">
                                                        <tr>
                                                            <td height="20" align="left" valign="middle" bgcolor="#FFFFFF" class="link_czarny" id="naglowekStrony">::</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" bgcolor="#FFFFFF" style="padding:20px;">@RenderBody()</td>
                                                        </tr>
                                                        <TR style="border-bottom: 1px solid black;">
                                                            <TD height="19" COLSPAN=4 class="stopka" id="stopka">
                                                                <div align="center" class="stopka">
                                                                    <div align="center">Wizualizacja Sp. z o.o. - INTRANET (System Obiegu Dokumentów)</div>
                                                                </div>
                                                            </TD>
                                                            <TD>
                                                                @if (!AppConstants.Check())
                                                                {
                                                                    <IMG SRC="/grafika/odstep.gif" WIDTH=1 HEIGHT=19>
                                                                }
                                                            </TD>
                                                        </TR>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </TD>
        </TR>
    </TABLE>
    @RenderSection("scripts", required: false)
</body>
</html>