﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "GetGodzinyNaProjekcie";
    Layout = "~/Views/Shared/_Blank2.cshtml";

    var projekty = (List<projekt>)ViewBag.Projekty;
    var projektWybrany = Request["idprojektu"] == null ? -1 : Convert.ToInt32(Request["idprojektu"]);

    //var odm = (int)ViewBag.OdM;
    //var odr = (int)ViewBag.OdR;
    //var dom = (int)ViewBag.DoM;
    //var dor = (int)ViewBag.DoR;
    DateTime odData = new DateTime();
    DateTime doData = new DateTime();

    if (projektWybrany != -1)
    {
        odData = (DateTime)ViewBag.odData;
        doData = (DateTime)ViewBag.doData;
    }
}
@Scripts.Render("~/bundles/jquery")

<form>
    <select name="idprojektu">
        <option value="-1" disabled>Wybierz projekt</option>
        @foreach (var p in projekty.OrderBy(pr => pr.numer).ToList())
        {
            if (projektWybrany == p.idprojektu)
            {
                <option value="@p.idprojektu" selected>@string.Format("[{0}] {1}", p.numer, p.nazwa)</option>
            }
            else
            {
                <option value="@p.idprojektu">@string.Format("[{0}] {1}", p.numer, p.nazwa)</option>
            }
        }
    </select>
    <input type="submit" value="Znajdź" />
</form>

@if (projektWybrany != -1)
{
    var projekt = Help.GetBudowa(projektWybrany);
    DateTime i = DateTime.Parse(string.Format("01-01-{0}", doData.Year.ToString()));
    while (i <= doData)
    {
        <div id="@string.Format("m{0}{1}", i.Year, i.Month)"></div>

        <script>$("#@string.Format("m{0}{1}", i.Year, i.Month)").load("@Html.Raw(string.Format("/aplikacje/06/001/wydruk_wynagrodzenia_proj.asp?ROK={0}&M={1}&projekt={2}&pobierz=pobierz", i.Year, i.Month, projekt.numer))")</script>
        i = i.AddMonths(1);
    }
}

