﻿@{
    List<pracownik> wyniki = (List<pracownik>)ViewBag.Wyniki;
    Layout = null;
    string v = Request["v"];
}

<select name="osobaDzialanie" id="osobaDzialanie" value="@v" multiple class="TLO_KOLOR3" style="height: 100%; overflow: hidden;" size="@wyniki.Count">
    @foreach (var w in wyniki)
    {
        if (v.Contains(string.Format("{0} {1}", w.imie, w.nazwisko)))
        {
            <option value="@string.Format("{0} {1}", w.imie, w.nazwisko)" selected>@string.Format("{0} {1}", w.imie, w.nazwisko)</option>
        }
        else
        {
            <option value="@string.Format("{0} {1}", w.imie, w.nazwisko)">@string.Format("{0} {1}", w.imie, w.nazwisko)</option>
        }
    }
</select>
<script>
    $("#osobaDzialanie").on("click", "option", function () {
        diff();
    });
</script>
