.ff0 {
    font-family: sans-serif;
    visibility: hidden;
}

@font-face {
    font-family: ff1;
    src: url(f1.woff)format("woff");
}

.ff1 {
    font-family: ff1;
    line-height: 1.002930;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2;
    src: url(f2.woff)format("woff");
}

.ff2 {
    font-family: ff2;
    line-height: 1.002930;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3;
    src: url(f3.woff)format("woff");
}

.ff3 {
    font-family: ff3;
    line-height: 0.938477;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4;
    src: url(f4.woff)format("woff");
}

.ff4 {
    font-family: ff4;
    line-height: 0.938477;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff5;
    src: url(f5.woff)format("woff");
}

.ff5 {
    font-family: ff5;
    line-height: 0.938477;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff6;
    src: url(f6.woff)format("woff");
}

.ff6 {
    font-family: ff6;
    line-height: 0.938477;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

.m0 {
    transform: matrix(0.250000,0.000000,0.000000,0.250000,0,0);
    -ms-transform: matrix(0.250000,0.000000,0.000000,0.250000,0,0);
    -webkit-transform: matrix(0.250000,0.000000,0.000000,0.250000,0,0);
}

.v0 {
    vertical-align: 0.000000px;
}

.ls0 {
    letter-spacing: 0.000000px;
}

.sc_ {
    text-shadow: none;
}

.sc0 {
    text-shadow: -0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em transparent;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .sc_ {
        -webkit-text-stroke: 0px transparent;
    }

    .sc0 {
        -webkit-text-stroke: 0.015em transparent;
        text-shadow: none;
    }
}

.ws0 {
    word-spacing: 0.000000px;
}

._0 {
    width: 1188.048000px;
}

.fc0 {
    color: rgb(0,0,0);
}

.fs1 {
    font-size: 36.000000px;
}

.fs0 {
    font-size: 40.000000px;
}

.fs2 {
    font-size: 48.000000px;
}

.y9 {
    bottom: 2.417000px;
}

.y7 {
    bottom: 16.114002px;
}

.y11 {
    bottom: 23.247003px;
}

.y6 {
    bottom: 28.320999px;
}

.y0 {
    bottom: 35.500000px;
}

.y10 {
    bottom: 37.046002px;
}

.yf {
    bottom: 50.845002px;
}

.y5 {
    bottom: 52.735001px;
}

.y4 {
    bottom: 64.941999px;
}

.y3 {
    bottom: 77.148999px;
}

.y2 {
    bottom: 89.355999px;
}

.yd {
    bottom: 311.258039px;
}

.yc {
    bottom: 394.052025px;
}

.yb {
    bottom: 407.851026px;
}

.ye {
    bottom: 532.743019px;
}

.ya {
    bottom: 670.032025px;
}

.y8 {
    bottom: 696.587025px;
}

.y1 {
    bottom: 707.573025px;
}

.h4 {
    height: 10.986000px;
}

.h5 {
    height: 29.689453px;
}

.h3 {
    height: 32.988281px;
}

.h6 {
    height: 34.945312px;
}

.h7 {
    height: 76.500002px;
}

.h2 {
    height: 98.876999px;
}

.h1 {
    height: 771.500000px;
}

.h0 {
    height: 841.900024px;
}

.w4 {
    width: 260.000006px;
}

.w2 {
    width: 271.299988px;
}

.w3 {
    width: 483.950012px;
}

.w1 {
    width: 484.500000px;
}

.w0 {
    width: 595.299988px;
}

.xc {
    left: 10.670988px;
}

.x6 {
    left: 30.956999px;
}

.x8 {
    left: 36.946000px;
}

.xd {
    left: 63.638987px;
}

.x0 {
    left: 75.000000px;
}

.x9 {
    left: 20.500000px;
}

.x10 {
    left: 80.500000px;
}

.xe {
    left: 84.978987px;
}

.x7 {
    left: 90.878996px;
}

.x3 {
    left: 102.022002px;
}

.xa {
    left: 20.500000px;
}

.x4 {
    left: 141.258994px;
}

.x5 {
    left: 147.707007px;
}

.x2 {
    left: 164.058005px;
}

.xb {
    left: 270.800012px;
}

.x1 {
    left: 287.749994px;
}

@media print {
    .v0 {
        vertical-align: 0.000000pt;
    }

    .ls0 {
        letter-spacing: 0.000000pt;
    }

    .ws0 {
        word-spacing: 0.000000pt;
    }

    ._0 {
        width: 1584.064000pt;
    }

    .fs1 {
        font-size: 48.000000pt;
    }

    .fs0 {
        font-size: 53.333333pt;
    }

    .fs2 {
        font-size: 64.000000pt;
    }

    .y9 {
        bottom: 3.222666pt;
    }

    .y7 {
        bottom: 21.485336pt;
    }

    .y11 {
        bottom: 30.996003pt;
    }

    .y6 {
        bottom: 37.761332pt;
    }

    .y0 {
        bottom: 47.333333pt;
    }

    .y10 {
        bottom: 49.394670pt;
    }

    .yf {
        bottom: 67.793336pt;
    }

    .y5 {
        bottom: 70.313334pt;
    }

    .y4 {
        bottom: 86.589333pt;
    }

    .y3 {
        bottom: 102.865332pt;
    }

    .y2 {
        bottom: 119.141332pt;
    }

    .yd {
        bottom: 415.010718pt;
    }

    .yc {
        bottom: 525.402700pt;
    }

    .yb {
        bottom: 543.801367pt;
    }

    .ye {
        bottom: 710.324025pt;
    }

    .ya {
        bottom: 893.376034pt;
    }

    .y8 {
        bottom: 928.782700pt;
    }

    .y1 {
        bottom: 943.430700pt;
    }

    .h4 {
        height: 14.648000pt;
    }

    .h5 {
        height: 39.585938pt;
    }

    .h3 {
        height: 43.984375pt;
    }

    .h6 {
        height: 46.593750pt;
    }

    .h7 {
        height: 102.000002pt;
    }

    .h2 {
        height: 131.835999pt;
    }

    .h1 {
        height: 1028.666667pt;
    }

    .h0 {
        height: 1122.533366pt;
    }

    .w4 {
        width: 346.666675pt;
    }

    .w2 {
        width: 361.733317pt;
    }

    .w3 {
        width: 645.266683pt;
    }

    .w1 {
        width: 646.000000pt;
    }

    .w0 {
        width: 793.733317pt;
    }

    .xc {
        left: 14.227984pt;
    }

    .x6 {
        left: 41.275999pt;
    }

    .x8 {
        left: 49.261333pt;
    }

    .xd {
        left: 84.851983pt;
    }

    .x0 {
        left: 100.000000pt;
    }

    .x9 {
        left: 27.333333pt;
    }

    .x10 {
        left: 107.333333pt;
    }

    .xe {
        left: 113.305316pt;
    }

    .x7 {
        left: 121.171995pt;
    }

    .x3 {
        left: 136.029336pt;
    }

    .xa {
        left: 167.333333pt;
    }

    .x4 {
        left: 188.345325pt;
    }

    .x5 {
        left: 196.942676pt;
    }

    .x2 {
        left: 218.744006pt;
    }

    .xb {
        left: 361.066683pt;
    }

    .x1 {
        left: 383.666658pt;
    }
}
