﻿
@{
    ViewBag.Title = "DodajPodzadanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idzadania = (int)ViewBag.Id; 
    var host = "";
    if (!HttpContext.Current.Request.IsLocal)
    {
        host = "/aplikacjeMVC";
    }
}

<h2>Dodaj Podzadanie</h2>
<form action="@host/Zadania/DodajPodzadanie" method="post">

    <input type="hidden" value="@Request["zu"]" name="zu" />
    <input type="hidden" value="@idzadania" name="idzadania" />
    <label for="nazwa">Nazwa</label>
    <input id="nazwa" type="text" name="nazwa" placeholder="Wpisz nazwe" required class="form-control" />
    <br />
    <label for="opis">Opis</label>
    <input id="opis" type="text" name="opis" placeholder="Wpisz opis" required class="form-control" />
    <br />
    <input type="submit" value="Zapisz" class="btn btn-primary" />
</form>
