﻿@model pobintranetMVC.zadania
@using pobintranetMVC.Models
@{
    Layout = null;
    List<projekt> projekty = Help.GetWszystkieBudowy();

    var pracownicy = (List<loginy_pracownik>)ViewBag.Pracownicy;

    string listaEmail = "";
    foreach (var p in pracownicy)
    {
        listaEmail += "'" + p.login_email + "',";
    }
    listaEmail = listaEmail.TrimEnd(',');
    string action = "DodajZadanie";
    if (ViewBag.Edycja == "1")
    {
        action = "EdytujZadanie";
    }
    int zu = Convert.ToInt32(ViewBag.Zu);
}

<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-tokenfield.min.js"></script>

<link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-tokenfield.min.css" rel="stylesheet">
<style>
    fieldset {
        padding: 10px !important;
        border: 1px solid black !important;
    }
</style>
<form action="@action" method="post">
    <br />
    <div class="container">
        <input type="submit" value="Zapisz" class="btn btn-primary" /><br /><br />
        <fieldset>
            @if (ViewBag.Edycja == "1")
            {
                <input type="hidden" value="@Request["idzadania"]" name="idzadania" />
            }
            <input type="hidden" value="@zu" name="zu" />
            <h5>Utworzył: @Help.GetImieNazwiskoPracownika(Model.utworzyl)</h5>
            <h5>Nazwa zadania</h5>
            @Html.TextBoxFor(m => m.nazwa_zadania, new { @class = "form-control", required = "true" })
            <h5>Data rozpoczęcia</h5>
            @Html.TextBoxFor(m => m.data_rozpoczecia, new { @class = "form-control", type = "date", required = "true", @Value = Model.data_rozpoczecia.ToString("yyyy-MM-dd") })
            <h5>Data zakończenia</h5>
            @Html.TextBoxFor(m => m.data_zakonczenia, new { @class = "form-control", type = "date", required = "true", @Value = Model.data_zakonczenia.ToString("yyyy-MM-dd") })
            <h5>Projekt</h5>
            <select name="idprojektu" required class="form-control">
                @foreach (projekt p in projekty)
                {
                    if (p.idprojektu == Model.id_projketu)
                    {
                        <option value="@p.idprojektu" selected>@string.Format("[{0}] {1}", p.numer, p.nazwa) </option>
                    }
                    else
                    {
                        <option value="@p.idprojektu">@string.Format("[{0}] {1}", p.numer, p.nazwa) </option>
                    }
                }
            </select>
        </fieldset>
        <br /><hr /><br />
        <fieldset>
            <h5>Adresaci</h5>
            <input type="text" name="adresaci" id="adresaci" class="form-control" value="@Model.adresaci" />

            <script>
        var tokensAdresaci = [@Html.Raw(listaEmail)];
        $(document).ready(function () {
            $('#adresaci').tokenfield({
                autocomplete: {
                    source: tokensAdresaci,
                    delay: 100
                },
                showAutocompleteOnFocus: true
            });
        });
            </script>
            <h5>Rozpoczęto</h5>
            @Html.TextBoxFor(m => m.rozpoczeto, new { @class = "form-control", type = "date", @Value = Model.rozpoczeto == null ? "" : Model.rozpoczeto.Value.ToString("yyyy-MM-dd") })
            <h5>Wykonanie</h5>
            @Html.TextBoxFor(m => m.wykonanie, new { @class = "form-control", type = "date", @Value = Model.wykonanie == null ? "" : Model.wykonanie.Value.ToString("yyyy-MM-dd") })
            <h5>Zakończono</h5>
            @Html.TextBoxFor(m => m.zakonczono, new { @class = "form-control", type = "date", @Value = Model.zakonczono == null ? "" : Model.zakonczono.Value.ToString("yyyy-MM-dd") })
            <input type="hidden" name="idserwisu" value="@Request["idserwisu"]" />
            <input type="hidden" name="utworzyl" value="@Request["zu"]" />
            <input type="hidden" name="zmodyfikowal" value="@Request["zu"]" />
            <h5>Wykonuje</h5>
            <input type="text" name="wykonuje" id="wykonuje" class="form-control" value="@Model.wykonuje" />
            <h5>Status</h5>
            <p style="color: #96DDFF">0 - Nowy<p style="color: #9999FF">1-50 - Rozpoczęty</p><p style="color: #4646FF">50-99 - w trakcie</p><p style="color: #82C065">100 - zakońćzony</p><p style="color: #FF6666">Po terminie</p>
            <label id="statusLabel">@Model.status</label>
            <input type="range" name="status" min="0" max="100" step="1" oninput="document.getElementById('statusLabel').innerHTML = this.value" style="width: 90%;" required value="@Model.status" />
            <script>
        var tokensWykonuje = [@Html.Raw(listaEmail)];
        $(document).ready(function () {
            $('#wykonuje').tokenfield({
                autocomplete: {
                    source: tokensWykonuje,
                    delay: 100
                },
                showAutocompleteOnFocus: true
            });
        });
                
            </script>

            <input type="hidden" name="zakonczyl" value="@Request["zu"]" />
        </fieldset>
        <br />
        <input type="submit" value="Zapisz" class="btn btn-primary" />
        @*<button onclick="goBack()" class="btn btn-default">Wróc</button>*@
    </div>
</form>

@*<script>
        function goBack() {
            window.history.back();
        }
    </script>*@