﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    string projekt = string.IsNullOrWhiteSpace(Request["idprojektu"]) ? "" : string.Format(" - {0}", Help.GetBudowa(Convert.ToInt32(Request["idprojektu"])).nazwa);
    List<zadania> lista = (List<zadania>)ViewBag.Lista;
    List<projekt> projekty = Help.GetWszystkieBudowy();

    List<int> zadaniaProjekty = lista.OrderBy(l => l.id_projketu).Select(l => l.id_projketu).Distinct().ToList();
    var host = "";
    if (!HttpContext.Current.Request.IsLocal)
    {
        host = "/aplikacjeMVC";
    }
    string idprojektu = string.IsNullOrWhiteSpace(Request["idprojektu"]) ? "" : Request["idprojektu"];

    string listaEmail = "";
    var pracownicy = Help.GetLoginyEmail();
    foreach (var p in pracownicy)
    {
        listaEmail += "'" + p.login_email + "',";
    }

    string czyZakonczone = "";
    if (Request["Zakonczone"] == "1")
    {
        czyZakonczone = "checked";
    }
    string czySzczegoly = "";
    if (Request["szczegoly"] == "1")
    {
        czySzczegoly = "checked";
    }
}
<h2>Podgląd zadań @projekt</h2>

<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap-tokenfield.min.js"></script>
<link href="~/Content/bootstrap-tokenfield.min.css" rel="stylesheet">
<link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
<style>
    body {
        font-size: 14px !important;
    }

    .cursor {
        cursor: pointer;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 15px;
    }
</style>

<!--<a href="~/Zadania/DodajZadanie?p=@idprojektu&zu=@Request["zu"]" class="btn btn-info">Dodaj +</a>-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
    Dodaj +
</button>
<br />
@using (Html.BeginForm("Index", "Zadania", FormMethod.Get, new { enctype = "multipart/form-data", id = "filtrZadania" }))
{
    <table style="width: 100%">
        <tr>
            <td style="width: 30%">
                <label>Projekt</label>
                <input type="hidden" value="@Request["zu"]" name="zu" />
                @*<select name="idprojektu" class="form-control" style="width: auto;">
                        <option value="">Wszystkie</option>
                        @foreach (projekt p in projekty)
                        {
                            if (!string.IsNullOrWhiteSpace(Request["idprojektu"]))
                            {
                                if (Convert.ToInt32(Request["idprojektu"]) == p.idprojektu)
                                {
                                    <option value="@p.idprojektu" selected>@p.nazwa</option>
                                }
                                else
                                {
                                    <option value="@p.idprojektu">@p.nazwa</option>
                                }
                            }
                            else
                            {
                                <option value="@p.idprojektu">@p.nazwa</option>
                            }
                        }
                    </select>*@
                <input list="projekty" id="listaProjekty" class="form-control" value="@projekt.Replace(" - 2", "2")" onclick="$(this).select()">
                <datalist id="projekty">
                    @foreach (projekt p in projekty)
                    {
                        <option value="@p.nazwa" data-id="@p.idprojektu"></option>
                    }
                </datalist>
                <input type="hidden" value="" name="idprojektu" id="idprojektu" />
            </td>
            <td style="width: 15%">
            </td>
            <td style="width: 15%" align="left" valign="top">
                <label>Od</label>
                <input type="date" name="from" value="@Request["from"]" class="form-control" style="width: auto;" />
                <label>Do</label>
                <input type="date" name="to" value="@Request["to"]" class="form-control" style="width: auto;" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>Adresaci</label>
                <input type="text" name="workers" id="workers" class="form-control" value="@Request["workers"]" style="width: 50%" />
            </td>
            <td>
            </td>
            <td align="left" valign="top">
                <label><input type="checkbox" value="1" name="zakonczone" id="chkZakonczone" @czyZakonczone />Zakończone</label><br />
                <label><input type="checkbox" value="1" name="szczegoly" id="chkSzczegoly" @czySzczegoly />Pokaż szczegóły</label>
            </td>

        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td align="left" valign="top">
                <input type="submit" class="btn btn-primary" value="Szukaj" />
            </td>
            <td></td>

        </tr>
    </table>
    <br />

    <script>
        var tokensAdresaci = [@Html.Raw(listaEmail)];
        $(document).ready(function () {
            $('#workers').tokenfield({
                autocomplete: {
                    source: tokensAdresaci,
                    delay: 100
                },
                showAutocompleteOnFocus: true
            });
            $("#listaProjekty").on("change", function () {
                try {
                    var val = $("#listaProjekty").val();
                    var id = $('#projekty option').filter(function () {
                        return this.value == val;
                    }).data('id');
                    $("#idprojektu").val(id);
                } catch (error) {
                    console.error(error);
                    alert("Taki projekt nie istnieje.");
                    $("#listaProjekty").val("");
                    $("#idprojektu").val("");
                }
            });
            $("#listaProjekty").change();
        });

        function ukryj(e, p_index) {
            if (e.hasClass('tr_open'))
            {
                e.removeClass('tr_open'); $('.projekt' + p_index).hide();
            }
            else
            {
                e.addClass('tr_open'); $('.projekt' + p_index).show();
            }
        }
    </script>
}
<br />
<br />

<a href="~/Zadania/Wykres2?idprojektu=@idprojektu&from=@Request["from"]&to=@Request["to"]" target="_blank">POKAŻ NA WYKRESIE</a>
<table border="1" style="width: 100%; max-width: 1500px;" cellpadding="2">

    @if (lista != null)
    {
        if (lista.Count == 0)
        {
            <tr>
                <td colspan="7" align="center" style="color: red; font-weight: bold;">BRAK ZADAŃ</td>
            </tr>
        }
    }
    @foreach (int p_index in zadaniaProjekty)
    {
        projekt budowaNaglowek = Help.GetBudowa(p_index);
        <tr style="background-color: darkgray;font-weight: bold;" onclick="ukryj($(this) , '@p_index');" class="tr_open cursor">
            <td colspan="8"><h4>@string.Format("[{0}] {1} - {2} szt.", budowaNaglowek.numer, budowaNaglowek.nazwa, lista.Where(l => l.id_projketu == p_index).ToList().Count)</h4></td>
        </tr>
        <tr class="@string.Format("projekt{0}", p_index)">
            <td align="center"><b>Status</b></td>
            <td align="center"><b>Nazwa zadania</b></td>
            <td align="center"><b>Projekt</b></td>
            <td align="center"><b>Data rozpoczęcia</b></td>
            <td align="center"><b>Data zakończenia</b></td>
            <td align="center"><b>Zakończono</b></td>
            <td align="center"><b>Wykonuje</b></td>
            <td align="center"><b>Akcje</b></td>
        </tr>
        foreach (zadania z in lista.Where(l => l.id_projketu == p_index).ToList())
        {
            string kolor = Help.GetKolorZadania(z.status, z.data_zakonczenia, z.zakonczono);
            projekt budowa = Help.GetBudowa(z.id_projketu);
            <tr class="@string.Format("projekt{0}", p_index)">
                <td align="center" style="background-color: @kolor">@string.Format("{0}%", z.status)</td>
                <td align="center">@z.nazwa_zadania</td>
                <td align="center">@string.Format("[{0}] {1}", budowa.numer, budowa.nazwa)</td>
                <td align="center" nowrap>@z.data_rozpoczecia.ToShortDateString()</td>
                <td align="center" nowrap>@z.data_zakonczenia.ToShortDateString()</td>
                <td align="center" nowrap>@string.Format(z.zakonczono == null ? "NIE" : "TAK")<br />@string.Format(z.zakonczono == null ? "" : z.zakonczono.Value.ToShortDateString())</td>
                <td align="center" wrap>
                    @foreach (var w in z.wykonuje.Split(','))
                    {
                        <span>@string.Format("{0}", Help.GetImieNazwiskoPracownikaZEmaila(w))</span><br />
                    }
                </td>
                <td align="center" nowrap>
                    <a href="~/Zadania/EdytujZadanie?zu=@Request["zu"]&idzadania=@z.idzadania" style="color: white"><b>EDYTUJ</b></a>
                    @if (!string.IsNullOrEmpty(Request["zu"]))
                    {
                        if (z.utworzyl == Convert.ToInt32(Request["zu"]) || Help.SprawdzUprawnienie(Convert.ToInt32(Request["zu"]), 0))
                        {
                            <!--<span> | </span><a href="@host/Zadania/AnulujZadanie?zu=@Request["zu"]&idzadania=@z.idzadania" style="color: red;"><b>ANULUJ</b></a>-->
                            @*<span> | </span><a href="@host/Zadania/UsunZadanie?zu=@Request["zu"]&idzadania=@z.idzadania" style="color: red;"><b>USUŃ</b></a>*@
                        }
                    }
                    <!--<span> | </span><a href="@host/Zadania/ZakonczZadanie?zu=@Request["zu"]&idzadania=@z.idzadania" style="color: forestgreen;"><b>ZAKOŃCZ</b></a>-->
                </td>


            </tr>
            <tr>
                <td colspan="8">
                    <div id="@string.Format("podzadania{0}", z.idzadania)">Ladowanie...</div>
                    <script>
                        $(document).ready(function () {
                            $('#@string.Format("podzadania{0}", z.idzadania)').load('@host/Zadania/Podzadania?idzadania=' + @z.idzadania + '&zu=@Request["zu"]');
                        });
                    </script>

                </td>
            </tr>
            @*<tr style="background-color: @kolor">
                    <td colspan="8" height="10px"></td>
                </tr>*@
            if (!string.IsNullOrEmpty(Request["szczegoly"]))
            {
                var rozpoczeto = z.rozpoczeto == null ? "" : z.rozpoczeto.Value.ToShortDateString();
                var wykonanie = z.wykonanie == null ? "" : z.wykonanie.Value.ToShortDateString();
                <tr class="@string.Format("projekt{0}", p_index)">
                    <td colspan="8">
                        <h4>Szczegóły:</h4>
                        <p>Adresaci: @z.adresaci</p>
                        <p>Rozpoczęto: @rozpoczeto</p>
                        <p>Wykonanie: @wykonanie</p>
                    </td>
                </tr>
            }
        }
    }
</table>
<hr />
<h5>Status</h5>
<p style="color: #96DDFF">0 - Nowy<p style="color: #9999FF">1-50 - Rozpoczęty</p><p style="color: #4646FF">50-99 - w trakcie</p><p style="color: #82C065">100 - zakońćzony</p><p style="color: #FF6666">Po terminie</p>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 90vh; padding-right: 17px;">
    <div class="modal-dialog" role="document" style="width: 75%;">
        <div class="modal-content" style="height: 90vh;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodawanie zadania</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 85%;">
                @*<div id="dodajModalBody">Ładowanie....</div>*@
                <iframe src="@Url.Action("DodajZadanie", "Zadania", new { p = idprojektu, zu = Request["zu"] })" style="height: 100%; width: 100%;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#exampleModal").on('shown.bs.modal', function (e) {
        $('.modal-backdrop').remove();
    });

    //$("#dodajModalBody").load("@Url.Action("DodajZadanie", "Zadania", new { p = idprojektu, zu = Request["zu"] })");
</script>
<script>
    function Zakoncz(v, z, zu) {
        if (document.getElementById('podzadanie' + v).checked) {
            window.location.href = "@host/Zadania/ZakonczPodzadanie?czyUsunac=true&id=" + v + "&idzadania=" + z + "&zu=" +zu;
        } else {
            window.location.href = "@host/Zadania/ZakonczPodzadanie?czyUsunac=false&id=" + v + "&idzadania=" + z + "&zu=" + zu;
        }
    }
</script> 