﻿@using pobintranetMVC.Models
@{
    Layout = null;
    List<zadania_podzadania> lista = (List<zadania_podzadania>)ViewBag.Lista;
    zadania zadanie = (zadania)ViewBag.Zadanie;
    var host = "";
    if (!HttpContext.Current.Request.IsLocal)
    {
        host = "/aplikacjeMVC";
    }

    var zu = !string.IsNullOrEmpty(Request["zu"]) ? Convert.ToInt32(Request["zu"]) : 0;
}

@if (zadanie.status == "100" && lista.Count == 0)
{
    <br />
}
else
{
    <table border="1" cellpadding="10" cellspacing="10">
        @if (lista.Count == 0)
        {
            <tr>
                <td colspan="3" style="color: cornflowerblue">Brak podzadan dla tego zadania.</td>
            </tr>
        }
        else
        {
            <tr style="border: 1px solid black;">
                <th>Akcje</th>
                @if (zadanie.utworzyl == zu || HttpContext.Current.Request.IsLocal || Help.SprawdzUprawnienie(Convert.ToInt32(zu), 0))
                {
                    <th>Usuwanie</th>
                }
                <th>Nazwa</th>
                <th>Opis</th>
            </tr>
            foreach (var l in lista)
            {
                var zakonczono = l.zakonczono == true ? "checked" : "";
                <tr style="border: 1px solid black;">
                    <td align="center">
                        <label><input type="checkbox" @zakonczono onchange="Zakoncz(@l.id_podzadania, @zadanie.idzadania, @zu);" id="@string.Format("podzadanie{0}", l.id_podzadania)" />Zakonczono</label>
                        @if (l.zakonczono == true)
                        {
                            <br />
                            <span>Data zakonczenia @l.data_ukonczenia.Value.ToString("dd-MM-yyyy hh:mm")</span>
                        }
                    </td>

                    |
                    @if (zadanie.utworzyl == zu || HttpContext.Current.Request.IsLocal || Help.SprawdzUprawnienie(Convert.ToInt32(zu), 0))
                    {

                        <td align="center">
                            <a href="@host/Zadania/UsunPodzadanie?idpodzadania=@l.id_podzadania&idzadania=@zadanie.idzadania&zu=@zu">Usun</a>
                        </td>
                    }
                    <td align="center">@l.nazwa</td>
                    <td align="center">@l.opis</td>
                </tr>
            }
        }
    </table>
}
@if (zadanie.status != "100")
{
    <button type="button" class="btn btn-sm btn-success" onclick="window.location.href = '@host/Zadania/DodajPodzadanie?zu=@zu&idzadania=@zadanie.idzadania'">Dodaj podzadanie</button>
}
