﻿@{ 
    int idzadania = Convert.ToInt32(ViewBag.Zadanie);
    Layout = null;
    string zu = Request["zu"];
}

<form action="UsunZadanie" method="post">
    <input type="hidden" name="idzadania" value="@idzadania" />
    <input type="hidden" name="zu" value="@zu" />
    <h2>Czy na pewno chcesz usunąć zadanie?</h2>
    <input type="submit" value="Tak" class="btn btn-danger" />
    <a href="/aplikacjeMVC/Zadania/Index?zu=@zu" class="btn btn-primary">NIE</a>
</form>