﻿
@{
    ViewBag.Title = "Wykres";
    Layout = "~/Views/Shared/_Blank2.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-1.8.4.css" />
<link rel="stylesheet" type="text/css" href="~/Content/reset.css" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery.ganttView.css" />

<h2>Podgląd zadań na wykresie</h2>

<div id="ganttChart"></div>
<br />
<br />
<div id="eventMessage"></div>
<script type="text/javascript" src="~/Scripts/date.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.4.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.4.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.ganttView.js"></script>
<script type="text/javascript">
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [day, month, year].join('-');
    }
    var currentData;
        var ganttData = @Html.Raw(ViewBag.Data)
            $(document).ready(function () {
            $(function () {
            $("#ganttChart").ganttView({
                data: ganttData,
                slideWidth: 1800,
                behavior: {
                    onClick: function (data) {
                        currentData = data;
                        var msg = "Zadanie: " + data.name + ": { start: " + formatDate(data.start) + ", koniec: " + formatDate(data.end) + " }";
                        $("#eventMessage").text(msg);
                    },
                    onResize: function (data) {
                        currentData = data;
                        var msg = "Zdarzenie - zmieniłeś długość zadania: " + data.name + ": { start: " + formatDate(data.start) + ", koniec: " + formatDate(data.end)+ " }";
                        $("#eventMessage").text(msg);
                        $.get("ZmienStartKoniec?z=" + data.idz + "&s=" + formatDate(data.start) + "&e=" + formatDate(data.end), function (data, status) { });
                    },
                    onDrag: function (data) {
                        currentData = data;
                        var msg = "Zdarzenie - przeniosłeś zadanie: " + data.name + ": { start: " + formatDate(data.start) + ", koniec: " + formatDate(data.end) + " }";
                        $("#eventMessage").text(msg);
                        $.get("ZmienStartKoniec?z=" + data.idz + "&s=" + formatDate(data.start) + "&e=" + formatDate(data.end), function (data, status) { });
                    }
                }
            });
                //style
                $("#ganttChart").attr("style", "width: 2300px;")
                $(".ganttview-slide-container").attr("style", "width: 2000px;")
                $(".ganttview-hzheader-months").attr("style", "width: 2000px;")
                $(".ganttview-hzheader-days").attr("style", "width: 2000px;")

                $(".ganttview-hzheader-months").after("<br><br>");
                $(".ganttview-vtheader").prepend("<br><br>");
                $(".ganttview-grid").prepend("<br>");

                $(".ganttview-block").mouseover(function () { this.click(); });
                $(".ganttview-vtheader-series").attr("style", "display: none;");
                $(".ganttview-vtheader-item").attr("style", "display: flex; justify-content: right;");

                $(".ganttview-block").dblclick(function () {
                    var name = prompt("Wpisz nową nazwę zadania", currentData.name);
                    if (name != null) {
                        $.get("ZmienNazwe?z=" + currentData.idz + "&n=" + name, function (data, status) { });
                        var msg = "Zdarzenie - zmieniono nazwę zadania z: " + currentData.name + " na: " + name;
                        alert(msg);
                        window.location.reload();
                    }
                });
            });
        });
</script>

