﻿@{
    Layout = null;
    var listaZadan = (List<zadania>)ViewBag.Lista;
    var listaProjektow = (List<projekt>)ViewBag.Projekty;
    string data = "";
    if (listaProjektow.Count != 0)
    {
        foreach (var p in listaProjektow)
        {
            var data_rozpoczecia = listaZadan.Where(z => z.id_projketu == p.idprojektu).Max(z => z.data_rozpoczecia.AddDays(-2)).ToString("yyyy/MM/dd");
            if(!string.IsNullOrEmpty(Request["from"]))
            {
                data_rozpoczecia = Convert.ToDateTime(Request["from"]).ToString("yyyy/MM/dd");
            }
            var data_zakonczenia = listaZadan.Where(z => z.id_projketu == p.idprojektu).Max(z => z.data_zakonczenia.AddDays(2)).ToString("yyyy/MM/dd");
            if (!string.IsNullOrEmpty(Request["to"]))
            {
                data_rozpoczecia = Convert.ToDateTime(Request["to"]).ToString("yyyy/MM/dd");
            }
            var status = listaZadan.Where(z => z.id_projketu == p.idprojektu).Average(z => Convert.ToInt32(z.status));
            data += "['";
            data += p.idprojektu;
            data += "','";
            data += p.numer;
            data += " - ";
            data += p.nazwa;
            data += "', new Date('";
            data += data_rozpoczecia;
            data += "'), new Date('";
            data += data_zakonczenia;
            data += "'), null,";
            data += status;
            data += ", null";
            data += ", 'autumn";
            data += "'],";
            data += Environment.NewLine;

            foreach (var z in listaZadan.Where(lz => lz.id_projketu == p.idprojektu))
            {
                var data_zakonczenia_zadania = z.data_zakonczenia;
                if (z.data_rozpoczecia == z.data_zakonczenia)
                {
                    data_zakonczenia_zadania = z.data_zakonczenia.AddDays(1);
                }
                data += "['";
                data += z.idzadania;
                data += "','";
                data += z.nazwa_zadania;
                data += "', new Date('";
                data += z.data_rozpoczecia.ToString("yyyy/MM/dd");
                data += "'), new Date('";
                data += data_zakonczenia_zadania.ToString("yyyy/MM/dd");
                data += "'), null,";
                data += z.status;
                data += ", '";
                data += z.id_projketu;
                data += "', 'spring";
                data += "'],";
                data += Environment.NewLine;
            }
        }
    }
    data = data.TrimEnd(',');
}
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['gantt'] });
        google.charts.setOnLoadCallback(drawChart);

        function daysToMilliseconds(days) {
            return days * 24 * 60 * 60 * 1000;
        }

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');
            data.addColumn('string', 'Resource');

            data.addRows([
                @Html.Raw(data)
                //['Research', 'Find sources',
                //    new Date(2015, 0, 1), new Date(2015, 0, 5), null, 100, null],
                //['Write', 'Write paper',
                //    null, new Date(2015, 0, 9), daysToMilliseconds(3), 25, 'Research,Outline'],
                //['Cite', 'Create bibliography',
                //    null, new Date(2015, 0, 7), daysToMilliseconds(1), 20, 'Research'],
                //['Complete', 'Hand in paper',
                //    null, new Date(2015, 0, 10), daysToMilliseconds(1), 0, 'Cite,Write'],
                //['Outline', 'Outline paper',
                //    null, new Date(2015, 0, 6), daysToMilliseconds(1), 100, 'Research']

            ]);

            var options = {
                height: 1500
            };

            var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="chart_div"></div>
</body>
</html>
