﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "Loginy uprawnienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<loginy_uprawnienia_view> lista = (List<loginy_uprawnienia_view>)ViewBag.Lista;
    loginy_uprawnienia_view login = (loginy_uprawnienia_view)ViewBag.Login;
    var sciezka = "/Login/";
    if (!AppConstants.Check())
    {
        sciezka = "/aplikacjeMVC/Login/";
    }
    List<pobintranetMVC.pracownik> pracownicy = (List<pobintranetMVC.pracownik>)ViewBag.Pracownicy;
    string message = Request["msg"];
}

@if (!AppConstants.Check())
{
    <script>
        document.getElementById("menuLink").href = "/6.asp";
        document.getElementById("naglowekStrony").innerHTML = ":: UPRAWNIENIA"
        document.getElementById("numerAplikacjiStrony").innerHTML = "[A.06.002]"
        document.getElementById("tytulStrony").innerHTML = "UPRAWNIENIA UŻYTKOWNIKÓW"
        document.getElementById("tytulDzialu").innerHTML = "::: DZIAŁ PERSONALNY :::"
        $("#liniaPodDzialem").attr("background", "/tlo_niebieski.jpg")
    </script>
}

<label>Zmień login:</label><select onchange="window.location.href = '@string.Format("{0}Index?id=", sciezka)' + this.value">
    @foreach (var l in lista)
    {
        if (login.id == l.id)
        {
            <option value="@l.id" selected>@string.Format("{0} {1}", l.nazwisko, l.imie)</option>
        }
        else
        {
            <option value="@l.id">@string.Format("{0} {1}", l.nazwisko, l.imie)</option>
        }
    }
</select>
<a href="/aplikacje/06/001/pracownik.asp?idpracownika=-1" style="float: right;">DODAJ NOWEGO PRACOWNIKA</a>
<hr />
<form action="DodajUzytkownikaDoUprawnienia">
    <h4>Dodaj uprawnienie dla pracownika</h4>
    <select name="id_login">
        @foreach(var p in pracownicy)
            {
                <option value="@p.idpracownika">@string.Format("{0} {1}", p.nazwisko, p.imie)</option>
            }
    </select>
    <input type="submit" value="Dodaj uprawnienia dla użytkownika" />
</form>
<br />
<br />
<h2>Loginy uprawnienia @string.Format("{0} {1}", login.nazwisko, login.imie)</h2>
<p style="color: green;">@message</p>
<form action="ZapiszUprawnienie">
    <input type="hidden" value="@login.id" name="id_login" />
    <table>
        <tr>
            <td>
                <label>01. Marketing</label>
                <select name="w1">
                    @if (login.intranet_01_marketing == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login.intranet_01_marketing == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
            <td>
                <label>01. Marketing - tylko odczyt</label>
                <select name="o1">
                    @if (login._01_readonly == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login._01_readonly == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>02. Dział techniczny</label>
                <select name="w2">
                    @if (login.intranet_02_dt == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login.intranet_02_dt == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
            <td>
                <label>02. Dział techniczny - tylko odczyt</label>
                <select name="o2">
                    @if (login._02_readonly == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login._02_readonly == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>03. Controlling</label>
                <select name="w3">
                    @if (login.intranet_03_controlling == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login.intranet_03_controlling == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
            <td>
                <label>03. Controlling - tylko odczyt</label>
                <select name="o3">
                    @if (login._03_readonly == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login._03_readonly == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>04. Dział ekonomiczny </label>
                <select name="w4">
                    @if (login.intranet_04_de == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login.intranet_04_de == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
            <td>
                <label>04. Dział ekonomiczny - tylko odczyt</label>
                <select name="o4">
                    @if (login._04_readonly == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login._04_readonly == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>05. Biuro</label>
                <select name="w5">
                    @if (login.intranet_05_biuro == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login.intranet_05_biuro == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
            <td>
                <label>05. Biuro - tylko odczyt</label>
                <select name="o5">
                    @if (login._05_readonly == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login._05_readonly == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>06. Dział personalny</label>
                <select name="w6">
                    @if (login.intranet_06_dp == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login.intranet_06_dp == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
            <td>
                <label>06. Dział personalny - tylko odczyt</label>
                <select name="o6">
                    @if (login._06_readonly == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login._06_readonly == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Administrator</label>
                <select name="admin">
                    @if (login.admin == 1)
                    {
                        <option value="0">NIE</option>
                    }
                    else
                    {
                        <option value="0" selected>NIE</option>
                    }
                    @if (login.admin == 0)
                    {
                        <option value="1">TAK</option>
                    }
                    else
                    {
                        <option value="1" selected>TAK</option>
                    }
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Zapisz" />
</form>
