﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "intranet - Wizualizacja Sp. z o.o.";
    Layout = "~/Views/Shared/_Blank.cshtml";
}

<style>
    dt a, dt {
        font-size: 20px;
    }

    .row div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <h2>B2B</h2>
        <dl>
            <dt>1. <a href="/aplikacje/05/006/start.asp" target="_blank">Kontrahenci</a></dt>
            <dt>2. <a href="/aplikacje/05/004/start.asp" target="_blank">Koszty</a></dt>
            <dt>3. <a href="/1.asp" target="_blank">Marketing</a></dt>
            <dt>4. <a href="/aplikacje/05/005/start.asp" target="_blank">Rozliczenia</a></dt>
            <dt>5. <a href="/aplikacje/03/005/start.asp" target="_blank">Raporty finansowe</a></dt>
            <dt>6. <a href="/aplikacje/05/007/start.asp" target="_blank">Sprzedaż</a></dt>
            <dt>7. <a href="/zamowienia/start.aspx" target="_blank">Zamówienia</a></dt>
        </dl>
    </div>
    <div class="col-md-4">
        <h2>B2E</h2>
        <dl>
            <dt>1. <a href="/aplikacje/02/002/start.asp" target="_blank">Koszty projektu</a></dt>
            <dt>
                2. Optymalizacja czasu produkcji
            </dt>
            <dt>
                3.
                <a href="/aplikacje/03/010/start.asp" target="_blank">Polisy</a>
            </dt>
            <dt>
                4. <a href="/aplikacje/06/001/start.asp" target="_blank">
                    Pracownicy
                </a>
            </dt>
            <dt>
                5. <a href="/aplikacje/05/003/start.asp" target="_blank">
                    Projekt
                </a>
            </dt>
            <dt>
                6. Raporty
            </dt>
            <dt>
                7. <a href="/aplikacje/04/001/start.asp" target="_blank">
                    Rozliczenie projektu
                </a>
            </dt>
            <dt>
                8. <a href="/aplikacje/03/008/start.asp" target="_blank">
                    Samochody
                </a>
            </dt>
            <dt>
                9. Scada
            </dt>
            <dt>
                10. <a href="/aplikacje/03/009/start.asp" target="_blank">
                    Wyposażenie
                </a>
            </dt>
            <dt>
                11. Zlecenia produkcyjne
            </dt>
        </dl>
    </div>
    <div class="col-md-4">
        <h2>B2C</h2>
        <dl>
            <dt>
                1. Zlecenia
            </dt>
            <dt>
                2. <a href="http://wizualizacja.eu" target="_blank">Serwis WWW</a>
            </dt>
        </dl>
    </div>
</div>