﻿@using pobintranetMVC.Models
@{
    var sprzedaz = (List<sprzedaz_przeterminowane>)ViewBag.Sprzedaz;

    var bhp_p = (List<pobintranetMVC.pracownik>)ViewBag.BadanieBhpPrzeterminowane;
    var bhp = (List<pobintranetMVC.pracownik>)ViewBag.BadanieBhp;

    var badanie_p = (List<pobintranetMVC.pracownik>)ViewBag.BadanieLekarskiePrzeterminowane;
    var badanie = (List<pobintranetMVC.pracownik>)ViewBag.BadanieLekarskie;

    var przeglad_p = (List<pobintranetMVC.Controllers.HomeController.przeglad>)ViewBag.PrzegladPrzeterminowane;
    var przeglad = (List<pobintranetMVC.Controllers.HomeController.przeglad>)ViewBag.Przeglad;

    var polisa_p = (List<pobintranetMVC.Controllers.HomeController.polisa>)ViewBag.PolisaPrzeterminowane;
    var polisa = (List<pobintranetMVC.Controllers.HomeController.polisa>)ViewBag.Polisa;

    Layout = null;

    int index = 0;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<table style="min-width: 50%; width: 100%;" border="1">
    <tr style="display: none;">
        <td colspan="3" align="center">
            <b>Przeterminowane faktury sprzedaży</b>
        </td>
    </tr>
    <tr style="display: none;">
        <td align="center" colspan="3">
            @foreach (var k in sprzedaz.Select(sp => sp.indeks).Distinct().ToList())
            {
                <div class="card" style="background-color: #E4D8CC">
                    <div class="card-header" id="@string.Format("heading{0}", index)">
                        <h6 class="mb-0">
                            @k
                        </h6>
                    </div>
                    <div id="@string.Format("collapse{0}", index)" class="collapse show" aria-labelledby="@string.Format("heading{0}", index)" data-parent="#accordionExample">
                        <div class="card-body">
                            @foreach (var s in sprzedaz.Where(sp => sp.indeks == k).OrderBy(sp => sp.indeks).ThenBy(sp => sp.data_platnosci))
                            {
                                <p>@string.Format("{0} - {3} - {2}", s.nrdok_wlasny, s.indeks.Replace("SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ", "SP. ZOO").Replace("SPÓŁKA KOMANDYTOWA", "SP. K."), s.data_platnosci.Value.ToString("dd-MM-yyyy"), s.saldo.Value.ToString("C"))</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <b>Badania lekarskie i BHP</b>
        </td>
    </tr>
    <tr>
        <td align="center">30 dni przed terminem</td>
        <td align="center">Po terminie</td>
        <td align="center">Nie wprowadzono</td>
    </tr>
    <tr>
        <td align="center">
            @if (badanie.Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var b in badanie)
            {
                <p>@string.Format("{0} {1} - {2}", b.imie, b.nazwisko, b.bad_lekarskie_nast.Value.ToString("dd-MM-yyyy"))</p>
            }
        </td>
        <td align="center">
            @if (badanie_p.Where(bp => bp.bad_lekarskie_nast != DateTime.Parse("01-01-2001")).ToList().Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var b in badanie_p.Where(bp => bp.bad_lekarskie_nast != DateTime.Parse("01-01-2001")))
            {
                <p>@string.Format("{0} {1} - {2}", b.imie, b.nazwisko, b.bad_lekarskie_nast.Value.ToString("dd-MM-yyyy"))</p>
            }
        </td>
        <td align="center">
            @if (badanie_p.Where(bp => bp.bad_lekarskie_nast == DateTime.Parse("01-01-2001")).ToList().Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var b in badanie_p.Where(bp => bp.bad_lekarskie_nast == DateTime.Parse("01-01-2001")))
            {
                <p style="color: red;">@string.Format("{0} {1}", b.imie, b.nazwisko)</p>
            }
        </td>
    </tr>
    @*<tr>
        <td colspan="3" align="center">
            <b>Badania BHP</b>
        </td>
    </tr>
    <tr>
        <td align="center">30 dni przed terminem</td>
        <td align="center">Po terminie</td>
        <td align="center">Nie wprowadzono</td>
    </tr>
    <tr>
        <td align="center">
            @if (bhp.Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var b in bhp)
            {
                <p>@string.Format("{0} {1} - {2}", b.imie, b.nazwisko, b.bad_bhp.Value.ToString("dd-MM-yyyy"))</p>
            }
        </td>
        <td align="center">
            @if (bhp_p.Where(bp => bp.bad_bhp != DateTime.Parse("01-01-2001")).ToList().Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var b in bhp_p.Where(bp => bp.bad_bhp != DateTime.Parse("01-01-2001")))
            {
                <p>@string.Format("{0} {1} - {2}", b.imie, b.nazwisko, b.bad_bhp.Value.ToString("dd-MM-yyyy"))</p>
            }
        </td>
        <td align="center">
            @if (bhp_p.Where(bp => bp.bad_bhp == DateTime.Parse("01-01-2001")).ToList().Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var b in bhp_p.Where(bp => bp.bad_bhp == DateTime.Parse("01-01-2001")))
            {
                <p style="color: red;">@string.Format("{0} {1}", b.imie, b.nazwisko)</p>
            }
        </td>
    </tr>*@
    <tr>
        <td colspan="3" align="center">
            <b>Ubezpieczenia pojazdów</b>
        </td>
    </tr>
    <tr>
        <td align="center">30 dni przed terminem</td>
        <td align="center">Po terminie</td>
        <td align="center">Nie wprowadzono</td>
    </tr>
    <tr>
        <td align="center">
            @if (polisa.Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var p in polisa)
            {
                <p>@string.Format("{0} - {1}", p.numer, p.polisa_do)</p>
            }
        </td>
        <td align="center">
            @if (polisa.Where(bp => bp.polisa_do != DateTime.Parse("01-01-2001")).ToList().Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var p in polisa.Where(bp => bp.polisa_do != DateTime.Parse("01-01-2001")))
            {
                <p>@string.Format("{0} - {1}", p.numer, p.polisa_do)</p>
            }
        </td>
        <td align="center">
            @if (polisa.Where(bp => bp.polisa_do == DateTime.Parse("01-01-2001")).ToList().Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var p in polisa.Where(bp => bp.polisa_do == DateTime.Parse("01-01-2001")))
            {
                <p>@string.Format("{0}", p.numer)</p>
            }
        </td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <b>Przeglądy pojazdów</b>
        </td>
    </tr>
    <tr>
        <td align="center">30 dni przed terminem</td>
        <td align="center">Po terminie</td>
        <td align="center">Nie wprowadzono</td>
    </tr>
    <tr>
        <td align="center">
            @if (przeglad.Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var p in przeglad)
            {
                <p>@string.Format("{0} - {1}", p.numer, p.przeglad_do.ToShortDateString())</p>
            }
        </td>
        <td align="center">
            @if (przeglad.Where(bp => bp.przeglad_do != DateTime.Parse("01-01-2001")).ToList().Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var p in przeglad.Where(bp => bp.przeglad_do != DateTime.Parse("01-01-2001")))
            {
                <p>@string.Format("{0} - {1}", p.numer, p.przeglad_do.ToShortDateString())</p>
            }
        </td>
        <td align="center">
            @if (przeglad.Where(bp => bp.przeglad_do == DateTime.Parse("01-01-2001")).ToList().Count == 0)
            {
                <p>BRAK</p>
            }
            @foreach (var p in przeglad.Where(bp => bp.przeglad_do == DateTime.Parse("01-01-2001")))
            {
                <p>@string.Format("{0} - {1}", p.numer, p.przeglad_do.ToShortDateString())</p>
            }
        </td>
    </tr>
</table>