﻿@{
    Layout = null;
    List<projekt> lista = (List<projekt>)ViewBag.Lista;
}

@if (lista.Count != 0)
{
    <fieldset>
        <legend>Nadchodzące przeglądy KL:</legend>

        @foreach (var p in lista)
        {
            <p style="color: red; font-size: 11px;">@string.Format("[{0}] {1} - {2}", p.numer, p.nazwa, p.data_przegladu.Value.AddYears(1).ToString("dd-MM-yyyy"))</p>
        }
    </fieldset>
}