﻿@using pobintranetMVC.Models
@{

    var urodziny = (List<pobintranetMVC.pracownik>)ViewBag.Urodziny;

    Layout = null;
}

@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@

@if (urodziny.Count != 0)
{
<fieldset>
    <legend>Nadchodzące urodziny:</legend>

    @foreach (var u in urodziny)
    {
        <p>@string.Format("{0} {1} - {2}", u.imie, u.nazwisko, u.data_urodzenia.Value.AddYears(DateTime.Now.Year - u.data_urodzenia.Value.Year).ToString("dd-MM"))</p>
    }
</fieldset>
}
