﻿
@{
    ViewBag.Title = "Kasa MVC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kasa MVC</h2>

<p><a href="Kasa/UploadExcelRozliczenieZaliczki">Wgraj plik z rozliczeniami pracownika &raquo;</a></p>

