﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "Podgląd wgranego pliku";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 0;
    bool doWgrania = true;

    List<ExcelRozliczenieZaliczki> lista = ViewBag.Lista != null ? (List<ExcelRozliczenieZaliczki>)ViewBag.Lista : new List<ExcelRozliczenieZaliczki>();
    if (lista.Count == 0)
    {
        doWgrania = false;
    }
}

<script>
    document.getElementById("menuLink").href = "/aplikacje/05/001/start.asp";
    document.getElementById("naglowekStrony").innerHTML = ":: ROZLICZENIE ZALICZKI PRACOWNIKA"
    document.getElementById("numerAplikacjiStrony").innerHTML = "[A.05.001]"
    document.getElementById("tytulStrony").innerHTML = "Obsługa kasy gotówkowej (vMJ)"
    document.getElementById("tytulDzialu").innerHTML = "::: BIURO :::"
    $("#liniaPodDzialem").attr("background", "/tlo_fiolet.jpg")
</script>

<h2>Plik został importowany pomyślnie. Sprawdź czy dane się zgadzają.</h2>
<br />
@if (lista.Count > 0)
{
    <table border="1" style="width: 100%;">
        <tr>
            <td align="right">Lp.</td>
            <td>Pracownik</td>
            <td>Tytuł</td>
            <td>Data</td>
            <td align="right">Kwota</td>
        </tr>
        @foreach (ExcelRozliczenieZaliczki rozliczenie in lista)
        {
            index++;
            <tr>
                <td align="right">@index</td>
                @if (rozliczenie.idpracownika != 0)
                {
                    <td title="@rozliczenie.idpracownika">@rozliczenie.pracownik</td>
                }
                else
                {
                    doWgrania = false;
                    <td style="color: red;" title="@rozliczenie.idpracownika">@string.Format("{0} - BRAK TAKIEGO PRACOWNIKA, REKORD NIE BĘDZIE BRANY POD UWAGĘ, SPRAWDŹ CZY PRACOWNIK ISTNIEJE W iNTRANECIE", rozliczenie.pracownik)</td>
                }
                <td>@rozliczenie.tytul</td>
                <td nowrap>@rozliczenie.data.ToString("dd-MM-yyyy")</td>
                @if (rozliczenie.kwota != 0)
                {
                    <td align="right">@rozliczenie.kwota.ToString("C")</td>
                }
                else
                {
                    doWgrania = false;
                    <td align="right" style="color: red;">@rozliczenie.kwota.ToString("C")</td>
                }

            </tr>
        }
    </table>
}
<br />
@if (doWgrania)
{
    <p>@Html.ActionLink("WGRAJ DO INTRANETU", "ExportRozliczenieZaliczkiToIntranet", "Kasa", null, new { @class = "btn btn-primary" })</p>
}
else
{
    if (lista.Count == 0)
    {
        <p style="color: red;">BRAK REKORDÓW. CZY NA PEWNO TO TEN PLIK? @Html.ActionLink("WGRAJ OD NOWA", "UploadExcelRozliczenieZaliczki", "Kasa", new { lista = lista }, new { @class = "btn btn-primary" })</p>
    }
    else
    {
        <p style="color: red;">POPRAW BŁĘDY NA CZERWONO W TABELI I WGRAJ NA NOWO PLIK @Html.ActionLink("WGRAJ OD NOWA", "UploadExcelRozliczenieZaliczki", "Kasa", new { lista = lista }, new { @class = "btn btn-primary" })</p>
    }
}


