﻿
@{
    ViewBag.Title = "Wgraj plik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    document.getElementById("menuLink").href = "/aplikacje/05/001/start.asp";
    document.getElementById("naglowekStrony").innerHTML = ":: ROZLICZENIE ZALICZKI PRACOWNIKA"
    document.getElementById("numerAplikacjiStrony").innerHTML = "[A.05.001]"
    document.getElementById("tytulStrony").innerHTML = "Obsługa kasy gotówkowej (vMJ)"
    document.getElementById("tytulDzialu").innerHTML = "::: BIURO :::"
    $("#liniaPodDzialem").attr("background", "/tlo_fiolet.jpg")
</script>

<h2>Przygotuj i importuj plik(.xlsx , .xls)</h2>

@using (Html.BeginForm("UploadRozliczenieZaliczki", "Kasa", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p class="red">@Html.Raw(ViewBag.Error)</p>
    <div style="position:relative;">
        <input type="file" accept=".xlsx, .xls" name="excelFile" size="40">
    </div>
    <br />
    <input type="submit" class="btn btn-primary" name="Submit" id="Submit" value="Importuj" />
}
<br />
<p>Plik do importu powinien mieć taki format:</p>
<table border="1">
    <tr>
        <td>&nbsp;</td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Kowalski Jan</td>
        <td>100</td>
        <td>Potrącenie zaliczki za Czerwiec 2019</td>
        <td>30-06-2019</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Nowak Andrzej</td>
        <td>300</td>
        <td>Potrącenie zaliczki za Czerwiec 2019</td>
        <td>30-06-2019</td>
    </tr>
</table>

<a href="/aplikacje/aplikacjeMVC/lokalnie2/csv/przyklad.xlsx">POBIERZ PRZYKŁAD</a> 