﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "DodajPodpis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idzakupu = Convert.ToInt32(ViewBag.Id);
    int istnieje = Convert.ToInt32(ViewBag.Istnieje);
    int zu = Convert.ToInt32(ViewBag.Zu);
    int ktory = Convert.ToInt32(ViewBag.Ktory);
    string podpis = ViewBag.Podpis;
}
<style>
</style>
@using (Html.BeginForm("DodajPodpis", "Zakup", FormMethod.Post))
{
    <script src='~/Scripts/signature-pad.min.js'></script>
    <input type="hidden" name="zu" value="@zu" />
    <input type="hidden" name="ktory" value="@ktory" />
    <input type="hidden" name="idzakupu" value="@idzakupu" />
    if (istnieje == 1)
    {
        <h2>Edytowanie podpisu @Help.GetImieNazwiskoPracownika(zu)</h2>

        <input type="hidden" name="@string.Format("imageData[0]")" id="@string.Format("imageData[0]")" />
        <canvas id="@string.Format("canvas[0]")" class="signature-pad @string.Format("Pracownik{0}", zu)" width="1000" height="500" style="border: 1px solid black;"></canvas>

        <p class="btn" onclick="ClearSignatures();" style="border: 1px solid black">Wyczyść</p>

        <button onclick="saveSignatures();document.forms[0].submit();" class="btn btn-success">Zatwierdź</button>
        <hr />
        <h3>Istniejący podpis:</h3>
        <img src="@podpis" width="400" height="200" />
    }
    else
    {
        <h2>Dodawanie podpisu @Help.GetImieNazwiskoPracownika(zu)</h2>

        <input type="hidden" name="@string.Format("imageData[0]")" id="@string.Format("imageData[0]")" />
        <canvas id="@string.Format("canvas[0]")" class="signature-pad @string.Format("Pracownik{0}", zu)" width="1000" height="500" style="border: 1px solid black;"></canvas>

        <p class="btn" onclick="ClearSignatures();" style="border: 1px solid black">Wyczyść</p>

        <button onclick="saveSignatures();document.forms[0].submit();" class="btn btn-success">Zatwierdź</button>
    }
    <script>
        var signaturePad = new SignaturePad(document.getElementById('@string.Format("canvas[0]")'), {
                    backgroundColor: 'rgba(255, 255, 255, 0)',
                    penColor: 'rgb(0, 0, 0)',
                    minWidth: 1
        });

        function ClearSignatures() {
            $("canvas").each(function () {
                var canvas = $(this);
                var ctx = canvas.get(0).getContext('2d');
                ctx.clearRect(0, 0, canvas.get(0).width, canvas.get(0).height);
            });
        }

        function saveSignatures() {
            for (index = 0; index < 1; index++)
            {
                var canvas = 'canvas[' + index + ']';
                var imageData = 'imageData[' + index + ']';
                var image = document.getElementById(canvas).toDataURL("image/png");
                image = image.replace('data:image/png;base64,', '');
                document.getElementById(imageData).value = image;
            }
        }
    </script>
}

