﻿@{
    string name = Request["name"];
    projekt projekt = (projekt)ViewBag.Projekt;
    int wybrany = Convert.ToInt32(ViewBag.Wybrany);
    List<obiekty> obiekty = (List<obiekty>)ViewBag.Obiekty;
    Layout = null;
}

@if (projekt != null)
{
    if (projekt.rodzaj == 1)
    {
        <select name="@name">
            <option value="0">Wybierz obiekt</option>
            @foreach (var o in obiekty)
            {
                if (o.idprojektu == wybrany)
                {
                    <option value="@o.idprojektu" selected>@o.nazwa</option>
                }
                else
                {
                    <option value="@o.idprojektu">@o.nazwa</option>
                }
            }
        </select>
    }
}