﻿@using pobintranetMVC.Models
@using pobintranetMVC.Controllers._05._004
@{
    ViewBag.Title = "Lista skanów";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<FakturaSkany> lista100 = (List<FakturaSkany>)ViewBag.Skany100;
}

@if (!AppConstants.Check())
{
    <script>
        document.getElementById("menuLink").href = "/aplikacje/05/004/start.asp";
        document.getElementById("naglowekStrony").innerHTML = ":: ZESTAWIENIE SKANÓW"
        document.getElementById("numerAplikacjiStrony").innerHTML = "[A.05.004]"
        document.getElementById("tytulStrony").innerHTML = "ZESTAWIENIE SKANÓW"
        document.getElementById("tytulDzialu").innerHTML = "::: BIURO :::"
        $("#liniaPodDzialem").attr("background", "/tlo_fiolet.jpg")
    </script>
}

<table style="width: 100%;" border="1">
    <tr>
        <td width="150">Faktura</td>
        <td width="75">Kwota</td>
        <td width="75">Kierownik</td>
        <td width="100">Data utworzenia</td>
        <td width="75">Kto utworzył</td>
        <td>Skany</td>
    </tr>
    @foreach (var rekord in lista100)
    {
        <tr>
            <td width="150"><a href="/aplikacje/05/004/koszt.asp?id_koszt=@rekord.id_faktury">@rekord.faktura</a></td>
            <td width="75" align="right">@rekord.kwota.ToString("C")</td>
            <td width="75">@rekord.kierownik</td>
            <td width="100">@rekord.data</td>
            <td width="75">@rekord.kto</td>
            <td>
                @foreach (var skan in rekord.skany)
                {
                    <a href="GetPlik?file=@Help.GetSciezka(skan)" target="_blank">
                        <img src="~/Images/SVG/pdf_icon.svg" height="20" width="20" title="@skan" />
                    </a>
                }
            </td>
        </tr>
    }
</table>
<div class="partialContents" data-url="reszta_skanow" id="reszta_skanow">
    <img src="~/Images/GIF/loading.gif" alt="Ładowanie" width="20" height="20" /> Ładowanie
</div>

<script>
    $(window).scroll(function () {
        var hT = $('#reszta_skanow').offset().top,
            hH = $('#reszta_skanow').outerHeight(),
            wH = $(window).height(),
            wS = $(this).scrollTop();
        if (wS > (hT + hH - wH)) {
            var url = $('#reszta_skanow').data("url");
            if (url && url.length > 0) {
                $('#reszta_skanow').load(url);
            }
        }
    });
</script>