﻿@using pobintranetMVC.Models
@{

    List<DirFile> foldery = (List<DirFile>)ViewBag.Foldery;
    List<DirFile> pliki = (List<DirFile>)ViewBag.Pliki;
    string data = Request.QueryString["data"];

    Layout = null;
}

<style>
    #tabelaPlikow th, td {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>
@if (pliki.Count > 0)
{
    <div id="divFilter" align="center">
        <h2>WYBIERZ DOKUMENT</h2>
        <label for="date">Dzień skanowania:</label>
        <select id="date" onchange="GoToDate(this);">
            @foreach (var folder in foldery.OrderByDescending(f => f.data_utworzenia).ToList())
            {
                if (data != folder.nazwa)
                {
                    <option value="@folder.nazwa">@folder.nazwa</option>
                }
                else
                {
                    <option value="@folder.nazwa" selected>@folder.nazwa</option>
                }
            }
        </select>
    </div>
    <div id="divList" style="margin-top: 5vh; border: 1px solid black; margin-bottom: 5vh;">
        <div style="padding:1vh;overflow: auto; max-height: 50vh">
            <table id="tabelaPlikow">
                <tr>
                    <td>Nazwa</td>
                    <td>Data skanowania</td>
                </tr>
                @foreach (var plik in pliki)
                {
                    if (Request.QueryString["plik"] == plik.sciezka)
                    {
                        <tr>
                            <td><img src="~/Images/SVG/pdf_icon.svg" height="20" width="20" />@plik.nazwa</td>
                            <td><p style="color:lightgray">@plik.data_utworzenia</p></td>
                        </tr>
                    }
                    else if (plik.sciezka == pliki[0].sciezka && string.IsNullOrEmpty(Request.QueryString["plik"]))
                    {
                        <tr>
                            <td><img src="~/Images/SVG/pdf_icon.svg" height="20" width="20" />@plik.nazwa</td>
                            <td><p style="color:lightgray">@plik.data_utworzenia</p></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td><a href="@string.Format("?plik={0}&data={1}&idfaktury={2}", plik.sciezka, data, Request["idfaktury"])"><img src="~/Images/SVG/pdf_icon.svg" height="20" width="20" />@plik.nazwa</a></td>
                            <td><p style="color:lightgray">@plik.data_utworzenia</p></td>
                        </tr>
                    }
                }
            </table>

        </div>
    </div>
    <div align="right">
        @Html.ActionLink("POWIĄŻ Z FAKTURĄ", "DodajSkan", "Zakup", new { idFaktury = Request["idfaktury"] }, new { @class = "btn btn-primary" })
        @Html.ActionLink("ANULUJ", "PodgladSkanowFaktury", "Zakup", new { idFaktury = Request["idfaktury"] }, new { @class = "btn btn-danger" })
    </div>

    <script>
        function GoToDate(select) {
            date = select.value;
            window.location.href = "?data=" + date + "&idfaktury=@Request["idfaktury"]";
        }
    </script>
}
else
{
    <h2 style="color:red;">BRAK SKANÓW. ROZPOCZNIJ SKANOWANIE NA DRUKARCE DO UŻYTKOWNIKA FAKTURY.<br /><br /> CO 7 SEKUND STRONA SIĘ ODŚWIEŻA, NIE MUSISZ WRACAĆ DO POPRZEDNICH KROKÓW</h2>
    <script>
        setTimeout(function () {
            window.location.href = "Skan?idfaktury=" + @Request["idfaktury"] + "&b=1";
        }, 7000);
    </script>
}