﻿@*@model pobintranetMVC.Models.FileModel*@
@using pobintranetMVC.Models
@{
    ViewBag.Title = "Podglad skanów faktury";
    Layout = "~/Views/Shared/_Layout.cshtml";

    pobintranetMVC.zakup faktura = (pobintranetMVC.zakup)ViewBag.Zakup;
    List<skany> listaSkanow = (List<skany>)ViewBag.ListaSkanow;
    int wybrany = Convert.ToInt32(ViewBag.Wybrany);
    int zu = Convert.ToInt32(ViewBag.Zu);
}
@if (!AppConstants.Check())
{
    <script>
        document.getElementById("menuLink").href = "/aplikacje/05/004/start.asp";
        document.getElementById("naglowekStrony").innerHTML = ":: SKANY FAKTURY ZAKUPOWEJ"
        document.getElementById("numerAplikacjiStrony").innerHTML = "[A.05.004]"
        document.getElementById("tytulStrony").innerHTML = "SKANY"
        document.getElementById("tytulDzialu").innerHTML = "::: BIURO :::"
        $("#liniaPodDzialem").attr("background", "/tlo_fiolet.jpg")
    </script>
}

<style>
    #filedrag {
        display: none;
        font-weight: bold;
        text-align: center;
        padding: 1em 0;
        margin: 1em 0;
        color: #555;
        border: 2px dashed #555;
        border-radius: 7px;
        cursor: default;
    }

        #filedrag.hover {
            color: #f00;
            border-color: #f00;
            border-style: solid;
            box-shadow: inset 0 3px 4px #888;
        }
</style>

<table style="width: 100%;">
    <tr>
        <td valign="top">
            <h2><a href="/aplikacje/05/004/koszt.asp?id_koszt=@faktura.idzakupu">@string.Format("Faktura: {0} [{1}]", faktura.nrdok_wlasny, faktura.nrdok_obcy)</a></h2>
            <p style="color:gray">@string.Format("Kontrahent: {0}", Help.GetNazwaKontrahenta(faktura.idkontrahenta, false))</p>
            <p style="color:gray">@string.Format("Data wystawienia: {0} Data płatności: {1}", Convert.ToDateTime(faktura.data_wystawienia).ToString("dd-MM-yyyy"), Convert.ToDateTime(faktura.data_platnosci).ToString("dd-MM-yyyy"))</p>
        </td>
        <td align="right" valign="top">
            @if (Help.SprawdzUprawnienie(zu, 1))
            {
                <button class="btn btn-danger" title="Usuwa wszystkie skany z faktury." onclick="var r = confirm('@string.Format("Czy na pewno chcesz usunąć wszystkie skany z faktury {0}!", faktura.nrdok_wlasny.Replace(" ", ""))'); if (r == true) { window.location.href = 'UsunSkanyZFaktury?id=@faktura.idzakupu'; }">x</button>
            }
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#plikModal" title="Wgrywanie pliku lokalnego.">Wgraj plik</button>
        </td>
    </tr>
    <tr>
        <td style="min-width:55vh;">
            @if (listaSkanow.Count > 0)
            {
                if (AppConstants.Check())
                {
                    <a href="@string.Format(@"/PDF/{0}", listaSkanow[wybrany].sciezka)" target="_blank">Widok pełnoekranowy</a>
                    <embed src="@string.Format(@"/PDF/{0}", listaSkanow[wybrany].sciezka)" type="application/pdf" style="width:100%;height:90vh" id="pdfView" />
                }
                else
                {
                    <a href="@string.Format(@"/aplikacje/aplikacjeMVC/lokalnie2/PDF/{0}", listaSkanow[wybrany].sciezka)" target="_blank">Widok pełnoekranowy</a>
                    <embed src="@string.Format(@"/aplikacje/aplikacjeMVC/lokalnie2/PDF/{0}", listaSkanow[wybrany].sciezka)" type="application/pdf" style="width:100%;height:90vh" id="pdfView" />
                }
            }

        </td>
        <td align="center" valign="top">
            <br />
            @if (listaSkanow.Count > 0)
            {
                int index = -1;
                <table style="width:100%;" border="1">
                    @foreach (var skan in listaSkanow)
                    {
                        index += 1;
                        <tr>
                            <td><a href="@string.Format("PodgladSkanowFaktury?index={0}&idFaktury={1}&zu={2}", index, skan.id_faktury, zu)">@skan.sciezka</a></td>
                            <td align="right">
                                @if (Help.SprawdzUprawnienie(zu, 5) || skan.kto == zu)
                                {
                                    <button class="btn btn-sm btn-danger" onclick="var r = confirm('@string.Format("Czy na pewno chcesz usunąć ten skan z faktury {0}!", faktura.nrdok_wlasny.Replace(" ", ""))'); if (r == true) { window.location.href = 'UsunSkan?id=@skan.id_skanu&idfaktury=@faktura.idzakupu'; }">x</button>
                                }
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p style="color:red;">BRAK SKANÓW</p>
            }
        </td>
    </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="plikModal" tabindex="-1" role="dialog" aria-labelledby="Wgrywanie pliku" aria-hidden="true" style="padding-top:25vh;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("FileUpload", "Zakup", FormMethod.Post,
                                         new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Wgrywanie plików lokalnych</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="fileselect">
                            Pliki do wgrania (PDF, JPG, PNG):
                        </label>
                        @*@Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })*@
                        <input type="file" id="fileselect" name="files" multiple="multiple" accept="application/pdf, image/jpeg, image/png" style="border: 1px solid black;width: 100%;max-width: 1000px !important;" />
                        <input type="hidden" name="idfaktury" value="@faktura.idzakupu" />
                        <div id="filedrag">or drop files here</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <input type="submit" value="Wgraj" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

<script>
    $("#plikModal").on('shown.bs.modal', function (e) {
        $('.modal-backdrop').remove();
    });
</script>