﻿@using pobintranetMVC.Models
@{ ViewBag.Title = "Sprawdzenie pod względem rachunkowym";
    Layout = "~/Views/Shared/_Blank.cshtml";
    int idzakupu = Convert.ToInt32(ViewBag.IdFaktury);

    int istniejePodpis = Convert.ToInt32(ViewBag.Istnieje);

    int zu = Convert.ToInt32(ViewBag.zu);
    var dalej = false;
    var autoryzowany = false; }

<h2>Sprawdzono pod względem rachunkowym - @Help.GetImieNazwiskoPracownika(zu)</h2>
@if ((bool)ViewBag.Dostep == false)
{
    if (Help.SprawdzUprawnienie(zu, 2))
    {
        autoryzowany = true;
        if (Help.GetFakturyDoZaakceptowania(zu, 2).Count > 0)
        {
            Response.Redirect("Podpis_z?zu=" + zu);
        }
        else
        {
            dalej = true;
        }
    }
    else if (Help.SprawdzUprawnienie(zu, 3))
    {
        autoryzowany = true;
        if (Help.GetFakturyDoZaakceptowania(zu, 3).Count > 0)
        {
            Response.Redirect("Podpis_k?zu=" + zu);
        }
        else
        {
            dalej = true;
        }
    }
    else if (Help.SprawdzUprawnienie(zu, 4))
    {
        autoryzowany = true;
        if (Help.GetFakturyDoZaakceptowania(zu, 4).Count > 0)
        {
            Response.Redirect("Podpis_d?zu=" + zu);
        }
        else
        {
            dalej = true;
        }
    }
    else if (Help.SprawdzUprawnienie(zu, 5))
    {
        autoryzowany = true;
        if (Help.GetFakturyDoZaakceptowania(zu, 5).Count > 0)
        {
            Response.Redirect("Podpis_p?zu=" + zu);
        }
        else
        {
            dalej = true;
        }
    }
    else
    {
<div style="display: flex; justify-content: center;">
    <h2 style="color: red;">NIEAUTORYZWANY DOSTĘP. SKONTAKTUJ SIĘ Z ADMINISTRATOREM, ABY UDZIELIŁ CI DOSTĘPU DO TEGO ZASOBU.</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a class="btn btn-default" href="javascript:history.back()">POWRÓT</a>
</div>autoryzowany = false;
}
}
else
{
dalej = true;
autoryzowany = true;
}
@if (autoryzowany)
{
    if (istniejePodpis == 0 && dalej)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
<a href="DodajPodpis?zu=@zu&idzakupu=@idzakupu&ktory=1" style="color: red;">Brak podpisu elektronicznego. Kliknij aby dodać podpis.</a> if (!AppConstants.Check())
{
<script>
    document.getElementById("menuLink").href = "/3.asp";
    document.getElementById("naglowekStrony").innerHTML = ":: SKANY"
    document.getElementById("numerAplikacjiStrony").innerHTML = "[A.03.012]"
    document.getElementById("tytulStrony").innerHTML = "SKANY"
    document.getElementById("tytulDzialu").innerHTML = "::: CONTROLING :::"
    $("#liniaPodDzialem").attr("background", "/tlo_zolty.jpg")
</script> }
                }
                else
                {

<a href="DodajPodpis?zu=@zu&idzakupu=@idzakupu&ktory=1" style="color: green;">Podpis dodany. Kliknij aby zmienić.</a> var zakup = Help.GetZakup(idzakupu);
if (zakup != null)
{
    List<skany> listaSkanow = (List<skany>)ViewBag.ListaSkanow;
    int wybrany = Convert.ToInt32(ViewBag.Wybrany);
    int ktory = Convert.ToInt32(ViewBag.Ktory);
    int indeksSkanow = -1;
    int kolejny = Convert.ToInt32(ViewBag.Kolejny);
    int poprzedni = Convert.ToInt32(ViewBag.Poprzedni);

    var osobyDoZatwierdzeniaR = Help.GetUprawnieniaOsoby(0);
    var osobyDoZatwierdzeniaZ = Help.GetUprawnieniaOsoby(1);
    var osobyDoZatwierdzeniaK = Help.GetUprawnieniaOsoby(2);

    skany wybranySkan = listaSkanow != null ? listaSkanow[0] : new skany();
    var r = wybranySkan.przekierowanie_r == -1 || wybranySkan.przekierowanie_r == null ? zu : wybranySkan.przekierowanie_r;
    var z = wybranySkan.przekierowanie_z;
    var k = wybranySkan.przekierowanie_k == -1 ? Help.GetKierownikBudowy(zakup == null ? -1 : zakup.ids2) : wybranySkan.przekierowanie_k;
<style>
    th, td {
        padding: 5px;
    }
</style>

                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 15%;" align="center">
                                    @*<a href="AkceptujeR?kolejny=@kolejny&zu=@zu&idzakupu=@idzakupu" class="btn btn-primary">AKCEPTUJE</a>*@
                                    <button onclick="Sprawdz()" class="btn btn-primary">AKCEPTUJE</button>
                                </td>
                                <td style="width: 70%;" align="center"><div id="statusy"></div></td>
                                <td style="width: 15%;" align="center">
                                    @if (kolejny != -1)
                                    {
                                <a href="NieAkceptujeR?kolejny=@kolejny&zu=@zu&first=0" class="btn btn-primary">DALEJ (NIE AKCEPTUJE)</a>}
                                    @if (poprzedni != -1)
                                    {
                                <a href="NieAkceptujeR?kolejny=@poprzedni&zu=@zu&first=0" class="btn btn-primary">WRÓĆ</a>}
                                    <br /><br />
                                    @if (Help.SprawdzUprawnienie(zu, 2))
                                    {
                                <a href="Podpis_z?zu=@zu" class="btn btn-success">Przejdź do podpisywania jako dz. zakupowy (@Help.SprawdzIloscFakturDoPodpisania(zu, 2))</a>}
                                    @if (Help.SprawdzUprawnienie(zu, 3))
                                    {
                                <a href="Podpis_k?zu=@zu" class="btn btn-success">Przejdź do podpisywania jako kierownik (@Help.SprawdzIloscFakturDoPodpisania(zu, 3))</a>}
                                    @if (Help.SprawdzUprawnienie(zu, 4))
                                    {
                                <a href="Podpis_d?zu=@zu" class="btn btn-success">Przejdź do podpisywania jako dyrektor (@Help.SprawdzIloscFakturDoPodpisania(zu, 5))</a>}
                                    @if (Help.SprawdzUprawnienie(zu, 5))
                                    {
                                <a href="Podpis_p?zu=@zu" class="btn btn-success">Przejdź do podpisywania jako prezes (@Help.SprawdzIloscFakturDoPodpisania(zu, 5))</a>}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 15%;" align="center">&nbsp;</td>
                                <td style="width: 70%;" align="center"><span>@Session["Indeks"].ToString()</span>/<span>@Session["LiczbaFaktur"].ToString()</span></td>
                                <td style="width: 15%;" align="center">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <div id="czesciowo_div">
                                        <label for="czesciowo"><input id="czesciowo" name="czesciowo" type="checkbox" onclick="kryj()" /> Częściowo akceptuję</label>
                                        @{ var kwota = (zakup.suma_netto_pln - zakup.suma_knetto_pln) + (zakup.suma_vat_pln + zakup.suma_kvat_pln);}
                                        <input type="number" id="ile" class="form-control" value="@kwota" step="0.01" max="@kwota" />&nbsp;
                                    </div>
                                </td>
                                <td align="left" valign="top">
                                    <div style="float: left; margin-right: 20px;">
                                        <label style="min-height: 20px;">Przekierowanie dział rachunkowy:</label>
                                        <select id="przekierowanie_r" name="przekierowanie_r" class="form-control" onchange="$('#namePodpisR').text($('#przekierowanie_r option:selected').text()); Zmien(this.value, 'r');">
                                            @*@if (r == -1 || r == null)
                                                {*@
                                            <option value="-1">BRAK</option>
                                            @*}*@
                                            @foreach (var osoba in osobyDoZatwierdzeniaR)
                                            {
                                                if (osoba.id == r)
                                                {
                    <option value="@osoba.id" selected>@Help.GetImieNazwiskoPracownika(osoba.id)</option> }
                                                else
                                                {
                    <option value="@osoba.id">@Help.GetImieNazwiskoPracownika(osoba.id)</option>}
                                            }
                                        </select>
                                    </div>
                                    <div style="float: left; margin-right: 20px;">
                                        <label style="min-height: 20px;">Przekierowanie dział zakupowy:</label>
                                        <select id="przekierowanie_z" name="przekierowanie_z" class="form-control" onchange="$('#namePodpisZ').text($('#przekierowanie_z option:selected').text()); Zmien(this.value, 'z');">
                                            @*@if (z == -1 || z == null)
                                                {*@
                                            <option value="-1">BRAK</option>
                                            //}
                                            @foreach (var osoba in osobyDoZatwierdzeniaZ)
                                            {
                                                if (osoba.id == z)
                                                {
                    <option value="@osoba.id" selected>@Help.GetImieNazwiskoPracownika(osoba.id)</option> }
                                                else
                                                {
                    <option value="@osoba.id">@Help.GetImieNazwiskoPracownika(osoba.id)</option>}
                                            }
                                        </select>
                                    </div>
                                    <div style="float: left; margin-right: 20px;">
                                        <label style="min-height: 20px;">Przekierowanie dział kierowniczy:</label>
                                        <select id="przekierowanie_k" name="przekierowanie_k" class="form-control" onchange="$('#namePodpisK').text($('#przekierowanie_k option:selected').text()); Zmien(this.value, 'k');">
                                            @*@if (k == -1 || k == null)
                                                {*@
                                            <option value="-1">BRAK</option>
                                            @*}*@
                                            @foreach (var osoba in osobyDoZatwierdzeniaK)
                                            {
                                                if (osoba.id == k)
                                                {
                    <option value="@osoba.id" selected>@Help.GetImieNazwiskoPracownika(osoba.id)</option> }
                                                else
                                                {
                    <option value="@osoba.id">@Help.GetImieNazwiskoPracownika(osoba.id)</option>}
                                            }
                                        </select>
                                    </div>
                                    <div>
                                        <label style="min-height: 20px;">Akcje:</label><br />
                                        <button class="btn btn-primary" onclick="window.location.href='Podpis_r?zu=@zu&idzakupu=@kolejny'">Przekieruj bez podpisywania</button>
                                    </div>
                                </td>
                                <td align="left">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <br />
                                    <table style="width: 100%" border="1">
                                        <tr>
                                            <td style="width: 45%" valign="top" align="center"><div id="alonge"></div></td>
                                            <td style="width: 45%" valign="top">
                                                @if (listaSkanow.Count > 0)
                                                {
                                                    if (AppConstants.Check())
                                                    {
                        <a href="@string.Format(@"/PDF/{0}", listaSkanow.Where(s => s.id_skanu == wybrany).First().sciezka)" target="_blank">Widok pełnoekranowy</a>
                                                        <embed src="@string.Format(@"/PDF/{0}", listaSkanow.Where(s => s.id_skanu == wybrany).First().sciezka)" type="application/pdf" style="width:100%;height:90vh" id="pdfView" /> }
                                                    else
                                                    {
                        <a href="@string.Format(@"/aplikacjeMVC/PDF/{0}", listaSkanow.Where(s => s.id_skanu == wybrany).First().sciezka)" target="_blank">Widok pełnoekranowy</a>
                                                        <embed src="@string.Format(@"/aplikacjeMVC/PDF/{0}", listaSkanow.Where(s => s.id_skanu == wybrany).First().sciezka)" type="application/pdf" style="width:100%;height:90vh" id="pdfView" />}
                                                }
                                            </td>
                                            <td style="width: 10%" align="center" valign="top">
                                                @foreach (var skany in listaSkanow)
                                                {
                                                    indeksSkanow++;
                                                    if (skany.id_skanu == wybrany)
                                                    {
                        <span style="font-size: 14px;">@skany.sciezka</span> }
                    else
                    {
<a style="font-size: 14px;" href="@string.Format("Podpis_r?zu={0}&ktory={1}&idzakupu={2}", zu, indeksSkanow, idzakupu)">@skany.sciezka</a>}
}
                                                <a href="PodgladSkanowFaktury?idFaktury=@wybranySkan.id_faktury&zu=@zu" target="_blank" class="btn btn-info">DODAJ</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                                                <script>
            $(document).ready(function () {
                $("#statusy").load("StatusPodpisow?id=@idzakupu", function (responseTxt, statusTxt, xhr) {
                    if (statusTxt == "success") {
                        $('#namePodpisK').text($('#przekierowanie_k option:selected').text());
                        $('#namePodpisZ').text($('#przekierowanie_z option:selected').text());
                        $('#namePodpisR').text($('#przekierowanie_r option:selected').text());
                    }
                    if (statusTxt == "error")
                        alert("Error: " + xhr.status + ": " + xhr.statusText);
                });
                $('#ile').hide();
                $('#czesciowo_div').hide();
            });

            function kryj() {
                if ($('#czesciowo').is(":checked")) {
                    $('#ile').show();
                }
                else {
                    $('#ile').hide();
                }
            }

            function Zmien(id, k) {
                if (id != -1) {
                    var url = "";
                    if (k == 'r') {
                        url = "Przekieruj_r?idzakupu=@idzakupu&zu=" + id;
                    }
                    else if (k == 'z') {
                        url = "Przekieruj_z?idzakupu=@idzakupu&zu=" + id;
                    }
                    else if (k == 'k') {
                        url = "Przekieruj_k?idzakupu=@idzakupu&zu=" + id;
                    }
                    $.get(url, function (data, status) {

                    });
                }
                }

                function Sprawdz() {
                    if ($('#namePodpisZ').text() === "BRAK") {
                        $('#przekierowanie_z').css("border", "1px solid red")
                    }
                    else {
                        window.location.href = "AkceptujeR?kolejny=@kolejny&zu=@zu&idzakupu=@idzakupu";
                    }
                }

            Zmien("@k", 'k')
                                                </script> if (!AppConstants.Check())
                                                                        {
                                                <script>
                $(document).ready(function() {
                    $("#alonge").load("/aplikacjeASPX/05/004/WydrukAlonge.aspx?id_koszt=@idzakupu&zu=@zu");
                });
                                                </script> }
                                                                    }
                                                                    else
                                                                    {
                                                <h2 style="color: red; font-weight: bold;">NIE MA FAKTUR DO ZAAKCEPTOWANIA</h2>if (Help.SprawdzUprawnienie(zu, 2))
                                                {
                                                    if (Help.GetFakturyDoZaakceptowania(zu, 2).Count > 0)
                                                    {
                                                        Response.Redirect("Podpis_z?zu=" + zu);
                                                    }
                                                }
                                                if (Help.SprawdzUprawnienie(zu, 3))
                                                {
                                                    if (Help.GetFakturyDoZaakceptowania(zu, 3).Count > 0)
                                                    {
                                                        Response.Redirect("Podpis_k?zu=" + zu);
                                                    }
                                                }
                                                if (Help.SprawdzUprawnienie(zu, 4))
                                                {
                                                    if (Help.GetFakturyDoZaakceptowania(zu, 4).Count > 0)
                                                    {
                                                        Response.Redirect("Podpis_d?zu=" + zu);
                                                    }
                                                }
                                                if (Help.SprawdzUprawnienie(zu, 5))
                                                {
                                                    if (Help.GetFakturyDoZaakceptowania(zu, 5).Count > 0)
                                                    {
                                                        Response.Redirect("Podpis_p?zu=" + zu);
                                                    }
                                                }
                                            }
                                        }
                                    }


