﻿@using pobintranetMVC.Models
@{ 
    Layout = null;
    List<FakturaSkany> lista= (List<FakturaSkany>)ViewBag.Skany;
}

<table style="width: 100%;" border="1">
    @foreach (var rekord in lista)
    {
        <tr>
            <td width="150"><a href="/aplikacje/05/004/koszt.asp?id_koszt=@rekord.id_faktury">@rekord.faktura</a></td>
            <td width="75"  align="right">@rekord.kwota.ToString("C")</td>
            <td width="75">@rekord.kierownik</td>
            <td width="100">@rekord.data</td>
            <td width="75">@rekord.kto</td>
            <td>
                @foreach (var skan in rekord.skany)
                {
                    <a href="GetPlik?file=@Help.GetSciezka(skan)" target="_blank">
                        <img src="~/Images/SVG/pdf_icon.svg" height="20" width="20" title="@skan" />
                    </a>
                }
            </td>
        </tr>
    }
</table>
