﻿
@{
    ViewBag.Title = "Skan dokumentu";
    Layout = null;
    string height = "90vh";
    string data = ViewBag.Data != null ? ViewBag.Data : "";
    string plik = ViewBag.Plik != null ? ViewBag.Plik : "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>iNTRANET - Poburski Dachtechnik Sp. z o.o.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <table style="width: 95%; margin: 2vh; border: 1px solid black;" align="center" cellpadding="2">
        <tr>
            <td colspan="2">
                <div class="info">
                    <div class="partialContents" data-url="sortowanie">
                        @*<img src="~/Images/GIF/loading.gif" alt="Ładowanie" width="20" height="20" /> Porządkowanie plików według daty skanu
                            <hr />*@
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width:50%;height:@height; padding-top: 5vh; padding-left: 5vh; padding-right: 5vh;">
                <div class="pliki">
                    <div class="partialContents" data-url="@string.Format("pliki?data={0}&plik={1}&idfaktury={2}", data, plik, Request["idfaktury"])">
                        <img src="~/Images/GIF/loading.gif" alt="Ładowanie" width="20" height="20" /> Ładowanie
                    </div>
                </div>
            </td>
            <td align="center" valign="middle" style="margin-top: 5vh; margin-bottom: 5vh;">
                <div style="width:100%;height:@height;">
                    <div class="podglad">
                        <div class="partialContents" data-url="@string.Format("podglad?data={0}&plik={1}", data, plik)">
                            <img src="~/Images/GIF/loading.gif" alt="Ładowanie" width="20" height="20" /> Ładowanie
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <script>
        $(document).ready(function (e) {
            $(".partialContents").each(function (index, item) {
                var url = $(item).data("url");
                if (url && url.length > 0) {
                    $(item).load(url);
                }
            });
        });
    </script>
</body>
</html>