﻿@{
    Layout = null;
}
@*<div id="messageBox">
    <img src="~/Images/JPG/blank.jpg" alt="" width="20" height="20" /> <span class="message" id="adminMessage" style="color: @ViewBag.ColorMessage" title="@string.Format("{0} / {1}", ViewBag.Message, ViewBag.TitleMessage)">Info: Wszystkie pliki gotowe.</span>
</div>*@