﻿@using pobintranetMVC.Models
@{
    List<skany> skany = (List<skany>)ViewBag.Statusy;
    Layout = null;
}

<table style="width: 100%;" border="1">
    @foreach (var skan in skany)
    {
    <tr>
        <td rowspan="2" align="center"><a href="@string.Format("/aplikacje/05/004/koszt.asp?id_koszt={0}", skan.id_faktury)" target="_blank">@Help.GetNazwaFaktury(skan.id_faktury)</a></td>
        <td style="width:16%;" align="center"><span id="namePodpisR">@Help.GetImieNazwiskoPracownika(skan.przekierowanie_r == -1 ? skan.zaakceptowano_rachunkowo : skan.przekierowanie_r)</span></td>
        <td style="width:16%;" align="center"><span id="namePodpisZ">@Help.GetImieNazwiskoPracownika(skan.przekierowanie_z == -1 ? skan.zaakceptowano_dz_zakupu : skan.przekierowanie_z)</span></td>
        <td style="width:16%;" align="center"><span id="namePodpisK">@Help.GetImieNazwiskoPracownika(skan.przekierowanie_k == -1 ? skan.kto == 0 ? skan.zaakceptowano_kierownik : skan.kto : skan.przekierowanie_r)</span></td>
        <td style="width:16%;" align="center"><span id="namePodpisD">@Help.GetImieNazwiskoPracownika(skan.zaakceptowano_dyrektor == -1 ? -2 : skan.zaakceptowano_dyrektor)</span></td>
        <td style="width:16%;" align="center"><span id="namePodpisP">@Help.GetImieNazwiskoPracownika(skan.zaakceptowano_prezes == -1 ? -3 : skan.zaakceptowano_prezes)</span></td>
    </tr>
    <tr>
        @{ 
            string r = skan.zaakceptowano_rachunkowo == -1 ? string.Format("{0}.png", "nok") : string.Format("{0}.png", "ok");
            string z = skan.zaakceptowano_dz_zakupu == -1 ? string.Format("{0}.png", "nok") : string.Format("{0}.png", "ok");
            string k = skan.zaakceptowano_kierownik == -1 ? string.Format("{0}.png", "nok") : string.Format("{0}.png", "ok");
            string d = skan.zaakceptowano_dyrektor == -1 ? string.Format("{0}.png", "nok") : string.Format("{0}.png", "ok");
            string p = skan.zaakceptowano_prezes == -1 ? string.Format("{0}.png", "nok") : string.Format("{0}.png", "ok");

        }
        <td align="center"><img src="~/Images/PNG/@r" alt="" height="25"/></td>
        <td align="center"><img src="~/Images/PNG/@z" alt="" height="25"/></td>
        <td align="center"><img src="~/Images/PNG/@k" alt="" height="25"/></td>
        <td align="center"><img src="~/Images/PNG/@d" alt="" height="25"/></td>
        <td align="center"><img src="~/Images/PNG/@p" alt="" height="25"/></td>
    </tr>
    }
</table>