﻿@using pobintranetMVC.Models
@{
    ViewBag.Title = "iNTRANET - Poburski Dachtechnik Sp. z o.o.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<rozrachunki_> lista = (List<rozrachunki_>)ViewBag.Lista;
    var kontrahent = ViewBag.Id;
    int rekord = -1;
    double sumaKwota = 0;
    double sumaZaplacono = 0;

    int? idwysylki = Convert.ToInt32(Request["idwysylki"]);
}
@* Tytuły i linki dla strony *@
<script>
    document.getElementById("menuLink").href = "/aplikacje/05/005/start.asp";
    document.getElementById("naglowekStrony").innerHTML = ":: ZAPŁAĆ SALDO KONTRAHENTA"
</script>

@using (Html.BeginForm("ZaplacFakturySprzedaz", "Rozliczenie", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
{
    <input type="hidden" name="idkontrahenta" value="@kontrahent" />
    <input hidden name="ilosc" value="@lista.Count" />

    <table style="width: 100%;" cellpadding="10" border="1">
        <tr>
            <td style="font-weight: bold;" align="right">Lp.</td>
            <td style="font-weight: bold;">Nazwa dokumentu</td>
            <td style="font-weight: bold;">Kontrahent</td>
            <td style="font-weight: bold;" align="right">Kwota faktury</td>
            <td style="font-weight: bold;" align="right">Zapłacono już</td>
            <td style="font-weight: bold;">Data płatności</td>
            <td style="font-weight: bold;" align="center">Zapłać</td>
            <td style="font-weight: bold;" align="center">VAT</td>
        </tr>
        @foreach (var rozrachunek in lista.OrderBy(l => Help.GetNazwaKontrahenta(l.idkontahenta, false)))
        {
            rekord++;
            <tr>
                <td align="right">@string.Format("{0}.", rekord + 1)</td>
                <td><input type="hidden" name="zakup[@rekord].idsprzedazy" value="@rozrachunek.idsprzedazy" /><p><a href="/aplikacje/05/004/koszt.asp?id_koszt=@rozrachunek.idsprzedazy" target="_blank">@rozrachunek.dok</a></p></td>
                <td title="@rozrachunek.idkontahenta">@Help.GetNazwaKontrahenta(rozrachunek.idkontahenta, false)</td>
                <td align="right"><p>@Convert.ToDouble(rozrachunek.kwota).ToString("C").Replace(",", ".")</p></td>
                <td align="right"><p>@Convert.ToDouble(rozrachunek.zaplacono).ToString("C").Replace(",", ".")</p></td>
                @*<td width="150"><input type="text" value="06-08-2020" name="zakup[@rekord].data_platnosci" class="form-control" /></td>*@
                <td width="150"><input type="text" value="@DateTime.UtcNow.ToString("dd-MM-yyyy")" name="zakup[@rekord].data_platnosci" class="form-control" /></td>
                <td width="180" align="center">
                    <input type="number" step="0.01" min="0.00" max="@Convert.ToDouble(rozrachunek.kwota-rozrachunek.zaplacono).ToString().Replace(",", ".")" value="@Convert.ToDouble(Help.GetKwotaRozrachunkuZWysylki(rozrachunek.kwota, idwysylki, rozrachunek.idsprzedazy)-rozrachunek.zaplacono).ToString().Replace(",", ".")" class="form-control doSumy" name="zakup[@rekord].zaplacono" id="@string.Format("zakup{0}", rekord)" onkeydown="policzSume()" onclick="$(this).focus();" />
                </td>
                <td width="180" align="center">
                    <input type="number" step="0.01" min="0.00" max="@Convert.ToDouble(rozrachunek.vat-rozrachunek.vat_zaplacono).ToString().Replace(",", ".")" value="@Convert.ToDouble(Help.GetVatRozrachunkuZWysylki(rozrachunek.vat, idwysylki, rozrachunek.idsprzedazy)-rozrachunek.vat_zaplacono).ToString().Replace(",", ".")" class="form-control" name="zakup[@rekord].vat" id="@string.Format("vat{0}", rekord)" onclick="$(this).focus();" />
                </td>
            </tr>
            sumaKwota += Convert.ToDouble(rozrachunek.kwota);
            sumaZaplacono += Convert.ToDouble(rozrachunek.zaplacono);
        }
        <tr>
            <td colspan="3" align="right"><b>SUMA</b></td>
            <td align="right" nowrap><b>@sumaKwota.ToString("C").Replace(",", ".")</b></td>
            <td align="right" nowrap><b>@sumaZaplacono.ToString("C").Replace(",", ".")</b></td>
            <td width="150"></td>
            <td width="180" align="right"><span id="suma" style="font-weight: bold;">@sumaKwota.ToString("C"))</span></td>
            <td width="150"></td>
        </tr>
    </table>
    <br />
    <button class="btn btn-primary" id="submitButton" data-confirm="Czy na pewno chcesz zapłacić te faktury?">Zapłać</button>
}

<script>
    policzSume();
    $(function () {
        $(document).keydown(function (e) {
            return (e.which || e.keyCode) != 116;
        });
    });

    $(document).ready(function () {
        $('#submitButton').click(function (e) {
            if (!confirm($(this).attr("data-confirm"))) {
                e.preventDefault();
            }
            else {
                this.disabled = true;
                $("#form").submit();
            }
        });
    });

    function policzSume() {
        suma = 0;
        $(".doSumy").each(function (index) {
            suma += parseFloat($(this).val());
        });
        $("#suma").text(suma + " zł");
    }

    //jQuery("input.doSumy").on("keydown", function (e) {
    //    if (e.keyCode === 190) { alert("Wstaw przecinek zamiast kropki!"); e.preventDefault(); }
    //});
</script>