﻿@using pobintranetMVC.Models
@{
    Layout = "~/Views/Shared/_Blank.cshtml";
    List<string> listaZakupow = (List<string>)ViewBag.ListaZakupow;
    string message = ViewBag.Message.ToString();
    List<wysylki> wysylki = (List<wysylki>)ViewBag.ListaWysylek;
    int idkontrahenta = Convert.ToInt32(ViewBag.idkontrahenta);
    string kontrahent = idkontrahenta == 0 ? "" : Help.GetNazwaKontrahenta(idkontrahenta, false);
    string zakupy = "";
    foreach (var lz in listaZakupow)
    {
        zakupy += lz + ",";
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>doWysylki</title>
</head>
<body>
    <h2>@kontrahent</h2>
    <p>@message</p>
    @using (Html.BeginForm("doWysylkiZapisz", "Wysylka", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <select name="wysylka" class="form-control">
            @foreach (var w in wysylki)
            {
                <option value="@w.idwysylka">@w.numer</option>
            }
        </select>
        <input type="hidden" name="zakupy" value="@zakupy" />
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    }

</body>
</html>
