﻿@using pobintranetMVC.Models
@{
    Layout = null;
    List<zakup_zamowienia> lista = (List<zakup_zamowienia>)ViewBag.Lista;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/selectize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css">

@if (lista.Count == 0)
{
    <p style="color: red;">BRAK ZAMÓWIEŃ</p>
}
else
{
    int lp = 0;
    <table style="width: 100%" ; border="1">
        <tr>
            <td><b>Lp.</b></td>
            <td><b>Data</b></td>
            <td><b>Zamówienie</b></td>
            <td align="right"><b>Pozycja</b></td>
            <td align="center"><b>Kto wprowadził</b></td>
            <td align="center"><b>Akcje</b></td>
        </tr>
        @foreach (var z in lista)
        {
            lp += 1;
    <tr>
        <td>@lp</td>
        <td>@z.data_wprowadzenia.ToString("dd-MM-yyyy")</td>
        <td>@Help.GetNumerZamowienia(z.id_zamowienia)</td>
        <td align="right">@z.pozycja</td>
        @*<td align="right">@Math.Round(Convert.ToDouble(z.kwota), 2 , MidpointRounding.AwayFromZero)</td>*@
        <td align="center">@Help.GetImieNazwiskoPracownika(z.kto_wprowadzil)</td>
        <td align="center"><a href="/aplikacjeMVC/Zamowienie/UsunFakture?id=@z.id&idz=@z.id_zakupu">Usuń</a></td>
    </tr>
        }
    </table>
}
