﻿@using pobintranetMVC.Models
@{
    Layout = null;
    List<zakup_zamowienia> lista = (List<zakup_zamowienia>)ViewBag.Lista;
}

@if (lista.Count == 0)
{

    <p style="color: red;">BRAK FAKTUR</p>
}
else
{
    int lp = 0;
    <table style="width: 100%" ; border="1">
        <tr>
            <td><b>Lp.</b></td>
            <td><b>Data</b></td>
            <td><b>Zamówienie</b></td>
            <td align="right"><b>Kwota</b></td>
            <td align="center"><b>Kto wprowadził</b></td>
        </tr>
        @foreach (var z in lista)
        {
            lp += 1;
            <tr>
                <td>@lp</td>
                <td>@z.data_wprowadzenia.ToString("dd-MM-yyyy")</td>
                <td>@Help.GetNumerZamowienia(z.id_zamowienia)</td>
                <td align="right">@Math.Round(Convert.ToDouble(z.kwota), 2, MidpointRounding.AwayFromZero)</td>
                <td align="center">@Help.GetImieNazwiskoPracownika(z.kto_wprowadzil)</td>
            </tr>
        }
    </table>
}