﻿@using pobintranetMVC.Models
@{
    Layout = null;
    List<zamowieniaPozycjaOpi> lista = (List<zamowieniaPozycjaOpi>)ViewBag.Lista;
    var index = 0;
}
@if (lista.Count > 0)
{
    <tr style="background-color: #a8a497; display: none;" class="realizacje">
        <td colspan="2" rowspan="@string.Format("{0}", lista.Count+1)" style="font-weight: bold;" align="right" valign="top">Realizacje</td>
        <td><div align="right">Lp.</div></td>
        <td>Data realizacji</td>
        <td><div align="right">Ilość</div></td>
        <td colspan="3">Budowa</td>
    </tr>
    foreach (var l in lista)
    {
        index += 1;
        var budowa = Help.GetBudowa(l.id_projektu);
        <tr style="background-color: #a8a497; display: none;" class="realizacje">
            @*<td colspan="2">&nbsp;</td>*@
            <td><div align="right">@index</div></td>
            <td>@l.data.ToShortDateString()</td>
            <td><div align="right">@l.ilosc</div></td>
            <td colspan="3">@string.Format("[{0}] {1}", budowa.numer, budowa.nazwa)</td>
        </tr>
    }
}