﻿@using pobintranetMVC.Models
@{
    zamowieniaDokument dokument = (zamowieniaDokument)ViewBag.Dokument;
    List<zamowieniaPozycje> pozycje = (List<zamowieniaPozycje>)ViewBag.Pozycje;

    ViewBag.Title = "Wydruk - Zamówienie " + dokument.NrZamowienia;
    Layout = "~/Views/Shared/_Blank2.cshtml";
    int i = 0;

    string tytul = "";

    if (Request["p"] == "1")
    {
        tytul = string.Format("Raport z zamówienia nr {0}", dokument.NrZamowienia.Replace("Z", "O"));
    }
    else
    {
        if (Request["rodzaj"] == "o")
        {
            tytul = string.Format("Zapytanie ofertowe nr {0}", dokument.NrZamowienia.Replace("Z", "O"));
        }
        else
        {
            tytul = string.Format("Zamówienie nr {0}", dokument.NrZamowienia);
        }
    }

    decimal sumaPozostaloWartosc = 0;
}
<style>
    .pozycjatbl tr, .pozycjatbl td {
        border: 1px solid black;
    }

    td p {
        line-height: 5px;
    }

    #tabelaPozycje td {
        border: 1px solid #FF4F01;
    }
</style>

<table style="width: 100%; padding-left: 75px; padding-right: 35px;" cellpadding="10" cellspacing="10">
    <tr>
        @if (Request["p"] != "1")
        {
            <td align="left" valign="top" style="width: 40%;"><img src="~/Images/JPG/Wizualizacja_color2.jpg" height="150" /></td>
        }
        <td align="right"><h2 style="text-transform: uppercase;">@string.Format("{0}", tytul) </h2><h2 style="text-transform: uppercase;">@string.Format("z dnia {0}", dokument.DataZamowienia.Value.ToShortDateString()) </h2></td>
    </tr>
    <tr>
        <td valign="top" align="left">
            <h4>@dokument.KontrahentNazwa</h4>
            <p>@dokument.KontrahentUlica</p>
            <p>@string.Format("{0} {1}", dokument.KontrahentKod, dokument.KontrahentMiejscowosc)</p>
            <p>NIP: @Help.GetNipKontrahenta(dokument.IdKontrahenta)</p>
            <p>@dokument.KontrahentFax</p>
            <p>Telefon: @dokument.KontrahentTelefon</p>
            <p>Email: @dokument.KontrahentEmail</p>
            <br />
            <p style="white-space: nowrap;"><b>Budowa: </b> @dokument.ProjektNazwa (@dokument.NrProjektu)</p>
            @*<p><b>Numer budowy: </b> @dokument.NrProjektu</p>
                <p><b>Adres budowy: </b> @dokument.ProjektAdres</p>*@
            @*<p><b>Zamówienie z dnia: </b> @dokument.DataZamowienia.Value.ToShortDateString()</p>*@
        </td>
        @if (Request["p"] != "1")
        {
            <td valign="top" align="right" style="text-justify: inter-word;">
                <h4 style="text-transform: uppercase;">Wizualizacja Spółka z ograniczoną odpowiedzialnością</h4>
                <p>ul. Kasztanowa 6</p>
                <p>46-022 Luboszyce</p>
                <p>NIP: 7542751410</p>
                <p>@string.Format("{0} {1}", dokument.OsobaOdpImie, dokument.OsobaOdpNazwisko)</p>
                <p>Telefon: @dokument.OsobaOdpTelefon</p>
                <p>Email: @dokument.OsobaOdpEmail</p>
            </td>
        }
    </tr>

    <tr>
        <td align="center" colspan="2">
            <table style="width: 100%; border-collapse: collapse" class="pozycjatbl" id="tabelaPozycje" cellpadding="5">
                <tr>
                    <td>Lp.</td>
                    <td align="center">Producent</td>
                    <td align="left">Kod</td>
                    <td align="left">Oznaczenie produktu</td>
                    <td align="center">Jednostka</td>
                    @if (Request["rodzaj"] != "o")
                    {
                        <td align="right">Cena netto</td>
                    }

                    <td align="right">Ilość</td>
                    @if (Request["rodzaj"] != "o")
                    {
                        <td align="right">Wartość netto</td>
                    }
                    @if (Request["p"] == "1")
                    {
                        <td align="right">Ilość po korekcie</td>
                        if (Request["rodzaj"] != "o")
                        {
                            <td align="right">Wartość po korekcie</td>
                        }
                        <td align="right">Realizacja</td>
                        <td align="right">
                            Pozostało
                        </td>
                        <td align="right">Wartość pozostało </td>
                    }
                    <td align="center">Waluta</td>
                </tr>
                @if (pozycje.Count == 0)
                {
                    <tr>
                        <td style="color: red;" colspan="12">BRAK POZYCJI</td>
                    </tr>
                }
                @foreach (zamowieniaPozycje pozycja in pozycje)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td align="center">@Help.GetNazwaProducentaZMaterialu(pozycja.IdMaterialu)</td>
                        <td align="justify">@Help.GetKodMaterialu(pozycja.IdMaterialu)</td>
                        <td align="justify">@Help.GetNazwaMaterialu(pozycja.IdMaterialu)</td>
                        <td align="center">@string.Format("{0}", pozycja.MaterialJednostka)</td>

                        @if (Request["rodzaj"] != "o")
                        {
                            <td align="right">@string.Format("{0:#,0.00}", pozycja.MaterialCenaJednostkowa)</td>
                        }
                        <td align="right">@string.Format("{0:#,0.00}", pozycja.MaterialKorekta)</td>
                        @if (Request["rodzaj"] != "o")
                        {
                            <td align="right">@string.Format("{0:#,0.00}", Math.Round(Convert.ToDecimal(pozycja.MaterialCenaJednostkowa) * Convert.ToDecimal(pozycja.MaterialKorekta)), 2, MidpointRounding.AwayFromZero)</td>
                        }
                        @if (Request["p"] == "1")
                        {
                            var realizacja = pozycja.Realizacja == null ? 0 : pozycja.Realizacja;
                            var pozostalo = pozycja.MaterialKorekta != pozycja.MaterialIlosc && pozycja.MaterialKorekta != null ? pozycja.MaterialKorekta - realizacja : pozycja.MaterialIlosc - realizacja;
                            var korekta = string.IsNullOrWhiteSpace(pozycja.MaterialKorekta.ToString()) || pozycja.MaterialIlosc == pozycja.MaterialKorekta ? "" : pozycja.MaterialKorekta.ToString();
                            var wartoscKorekty = string.IsNullOrWhiteSpace(pozycja.MaterialKorekta.ToString()) || pozycja.MaterialIlosc == pozycja.MaterialKorekta ? "" : Math.Round(Convert.ToDecimal(pozycja.MaterialCenaJednostkowa) * Convert.ToDecimal(pozycja.MaterialKorekta), 2, MidpointRounding.AwayFromZero).ToString();
                            sumaPozostaloWartosc += string.IsNullOrWhiteSpace(pozostalo.ToString()) ? Math.Round(Convert.ToDecimal(pozycja.MaterialCenaJednostkowa) * Convert.ToDecimal(pozycja.MaterialIlosc), 2, MidpointRounding.AwayFromZero) : Math.Round(Convert.ToDecimal(pozycja.MaterialCenaJednostkowa) * Convert.ToDecimal(pozostalo), 2, MidpointRounding.AwayFromZero);
                            <td align="right">@korekta</td>
                            if (Request["rodzaj"] != "o")
                            {
                                <td align="right">@string.Format("{0:#,0.00}", wartoscKorekty)</td>
                            }
                            <td align="right">@string.Format("{0:#,0.00}", pozycja.Realizacja)</td>
                            <td align="right">@string.Format("{0:#,0.00}", string.IsNullOrWhiteSpace(pozostalo.ToString()) ? 0.00 : Convert.ToDouble(pozostalo))</td>
                            <td align="right">@string.Format("{0:#,0.00}", string.IsNullOrWhiteSpace(pozostalo.ToString()) ? Math.Round(Convert.ToDecimal(pozycja.MaterialCenaJednostkowa) * Convert.ToDecimal(pozycja.MaterialIlosc), 2, MidpointRounding.AwayFromZero) : Math.Round(Convert.ToDecimal(pozycja.MaterialCenaJednostkowa) * Convert.ToDecimal(pozostalo), 2, MidpointRounding.AwayFromZero))</td>
                        }
                        <td align="center">@string.Format("{0}", pozycja.MaterialCenaWaluta)</td>
                    </tr>
                }

                @if (Request["rodzaj"] != "o")
                {
                    var suma = pozycje.Sum(p => Math.Round(Convert.ToDecimal(p.MaterialCenaJednostkowa) * Convert.ToDecimal(p.MaterialIlosc), 2, MidpointRounding.AwayFromZero));
                    var sumaKorekta = pozycje.Sum(p => Math.Round(Convert.ToDecimal(p.MaterialCenaJednostkowa) * Convert.ToDecimal(p.MaterialKorekta == null ? p.MaterialIlosc : p.MaterialKorekta), 2, MidpointRounding.AwayFromZero));
                    var colspan = Request["p"] == "1" ? 7 : 5;
                    <tr>
                        <td colspan="@colspan" align="right">
                            <b>Podsumowanie wartości netto:</b>
                        </td>
                        <td align="right">
                            <b>@string.Format("{0:#,0.00}", suma)</b>
                        </td>
                        <td>&nbsp;</td>
                        <td align="right">
                            <b>@string.Format("{0:#,0.00}", sumaKorekta)</b>
                        </td>
                        <td colspan="2">&nbsp;</td>
                        @if (Request["p"] == "1")
                        {
                            <td align="right"><b>@string.Format("{0:#,0.00}", sumaPozostaloWartosc)</b></td>
                            <td>&nbsp;</td>
                        }
                    </tr>
                }
            </table>
        </td>
    </tr>
    @if (!string.IsNullOrWhiteSpace(dokument.ZamowienieOpis))
    {
        <tr>
            <td colspan="2" align="left" style="width: 75%;"><p><b>OPIS ZAMÓWIENIA</b></p><p>@dokument.ZamowienieOpis</p></td>
        </tr>
    }
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        @if (Request["p"] != "1")
        {
            <td align="left">
                <p>.................................................................................</p>
                @if (Request["rodzaj"] != "o")
                {
                    <p style="line-height: 20px;">Data, pieczątka, podpis osoby <br />upoważnionej do przyjęcia zamówienia</p>
                }
                else
                {
                    <p style="line-height: 20px;">Data, pieczątka, podpis osoby <br />upoważnionej do przyjęcia oferty</p>
                }
            </td>
        }
        @if (Request["p"] != "1")
        {
            <td align="right">
                <p>.................................................................................</p>
                @if (Request["rodzaj"] != "o")
                {
                    <p style="line-height: 20px;">Data, pieczątka, podpis osoby <br />upoważnionej do składania zamówienia</p>
                }
                else
                {
                    <p style="line-height: 20px;">Data, pieczątka, podpis osoby <br />upoważnionej do składania oferty</p>
                }
            </td>
        }

    </tr>
</table>

