﻿@using pobintranetMVC
@using pobintranetMVC.Models
@{
    Layout = null;
    var lista = (List<zamowieniaTopKontrahenci>)ViewBag.Lista;
    var lista2 = (List<kontrahent>)ViewBag.Lista2;

    var lista3 = lista;
    foreach (var l in lista2)
    {
        if (!lista.Where(l1 => l1.IdKontrahenta == l.idkontahenta).Any())
        {
            var z = new zamowieniaTopKontrahenci();
            z.IdKontrahenta = l.idkontahenta;
            z.liczba = 0;
            lista3.Add(z);
        }
    }
}

<option selected="selected" value="">WYBIERZ ULUBIONEGO</option>



@foreach (var l in lista3)
{
    <option value="@Help.GetNipKontrahenta(l.IdKontrahenta)">@Help.GetNazwaKontrahenta(l.IdKontrahenta, true)</option>
}
