﻿@using pobintranetMVC.Models
@{
    Layout = null;

    List<zamowieniaDokument> zamowienia = (List<zamowieniaDokument>)ViewBag.Lista;
}

<select id="selectzamowienie" name="id_zam" onload="$(this).val('')" onclick="" runat="server" class="wpisy_dp_male" style="width: 100%" required>
    <option value="" disabled selected></option>
    @foreach (zamowieniaDokument z in zamowienia)
    {
        <option value="@z.IdZamowienia" data-cena="@z.SumaNetto">@string.Format("{0} | {1} | {2} | {3}", z.NrZamowienia, z.ZnakWlasny , z.DataZamowienia.Value.ToString("dd-MM-yyyy"), Help.GetSumaZamowieniaZPozycji(z.IdZamowienia))</option>
    }
</select>
