﻿@using pobintranetMVC.Models
@{
    Layout = null;
    decimal max = 0;
    var producent = Request["producent"];

    if (!string.IsNullOrEmpty(Request["max"]))
    {
        try
        {
            max = Convert.ToDecimal(Request["max"]);
        }
        catch (Exception) { }
    }
    string pozycja = Request["pozycja"];
    string host = "/aplikacjeMVC";
    if(Request.Url.Host.Contains("localhost"))
    {
        host = "";
    }
}

@if (Help.CzyZamowieniaDlaKontrahenta(Convert.ToInt32(producent)))
{
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css">
    <button type="button" class="przycisk_05" data-toggle="modal" data-target="#dodajModal" title="Dodaj do faktury numer zamówienia i kwotę">Dodaj zamówienie</button>
    <!-- Modal -->
    <div class="modal fade" id="dodajModal" tabindex="-1" role="dialog" aria-labelledby="Wgrywanie pliku" aria-hidden="true" style="padding-top:25vh;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("DodajZakupDoZamowienia", "Zamowienie", FormMethod.Post,
                                     new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Dodawanie zamówienia do faktury kosztowej</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="@pozycja" name="p" />
                        <input type="hidden" value="@Request["id"]" name="idz" />
                        <input type="hidden" value="@Request["zu"]" name="zu" />
                        <div class="form-group">
                            <label for="zamowienie">
                                Zamówienie:
                            </label>
                            <div id="select_zam">
                                <select id="selectzamowienie" name="id_zam" runat="server" class="wpisy_dp_male" style="text-align: left;" required>
                                    <option value="-1">Ładowanie zamówień...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="kwota">
                                Kwota:
                            </label>
                            <input type="number" step="0.01" min="0" id="kwota" name="kwota" value="" class="form-control" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <input type="submit" value="Dodaj" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>

    <script>
    $("#plikModal").on('shown.bs.modal', function (e) {
        $('.modal-backdrop').remove();
    });

    $('#select_zam').load("@host/Zamowienie/SelectZamowienia?producent=@producent", function () {
        $('#selectzamowienie').selectize({
            sortField: 'text',
            onInitialize: function () {
                this.trigger('change', this.getValue(), true);
            },
            onChange: function (value, isOnInitialize) {
                if ($('#selectzamowienie').find('option:selected').val()) {
                    $.get("@host/Zamowienie/SelectCena2?id=" + $('#selectzamowienie').find('option:selected').val() + " &max=" + @max, function (data) {
                        $("#kwota").val(data);
                    });
                }
            }
        });
    });
    </script>
}
