﻿@using pobintranetMVC.Models
@{
    Layout = null;
    List<zamowieniaPozycjaOpi> opisy = (List<zamowieniaPozycjaOpi>)ViewBag.Opisy;
    zamowieniaDokument zamowienie = (zamowieniaDokument)ViewBag.Zamowienie;

    zamowieniaPozycje pozycja = (zamowieniaPozycje)ViewBag.Pozycja;
    var index = 0;
    bool edycja = string.IsNullOrEmpty(Request["edit"]) || Request["edit"] != "1" ? false : true;

    string budowy = "";
    foreach (var idprojektu in opisy.Select(o => o.id_projektu).Distinct().ToList())
    {
        var budowa = Help.GetBudowa(idprojektu);
        budowy += string.Format(@"+ {0}\r\n", budowa.nazwa);
    }
}
<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

@if (opisy.Count != 0)
{
    <script>
        function UsunOpis(id, idzam, poz) {
            if (confirm("Czy na pewno chcesz usunąć realizację?") == true) {
                window.location.href = "/aplikacjeMVC/Zamowienie/UsunRealizacje?id=" + id + "&idzam=" + idzam + "&pozycja=" + poz;
            }
        }
        function PokazBudowyZPozycji() {
            $("#budowyZPozycji").html("@Html.Encode(budowy)");
        }
    </script>
    <h5 style="margin-bottom: 0; margin-top:5px;">Realizacje</h5>
    <table border="0" style="min-width: 50%;">
        @foreach (var opis in opisy)
        {
            index += 1;
            <tr>
                <td style="width: 10%">@index</td>
                <td style="width: 30%" nowrap>@opis.data.ToShortDateString()</td>
                <td style="width: 20%" title="@string.Format("{0} jednostek", opis.ilosc)">@opis.ilosc j.</td>
                <td style="width: 20%">
                    @if (opis.id_projektu == 12550)
                    {
                        <span title="SIEDZIBA LUBOSZYCE">W</span>
                    }
                    else
                    {
                        var budowa = Help.GetBudowa(opis.id_projektu);
                        <span title="BUDOWA @string.Format("[{0}] {1}", budowa.numer, budowa.nazwa)">@string.Format("[{0}]", budowa.numer)</span>
                    }
                </td>
                @if (!string.IsNullOrWhiteSpace(opis.opis))
                {
                    int max = opis.opis.Length > 30 ? 30 : opis.opis.Length;
                    <td colspan="2" style="width: 30%" title="@opis.opis">
                        @if (string.IsNullOrWhiteSpace(opis.opis))
                        {
                            opis.opis = "-";
                        }

                        @opis.opis.Substring(0, max)
                    </td>
                }
                else
                {
                    <td></td>
                }
                @if (edycja)
                {
                    <td>
                        <button type="button" onclick="" id="@string.Format("editRealizacjaOpis")" class="pointer editRealizacjeOpis"><img src="/zamowienia/images/edit.jpg" /></button>
                    </td>
                    <td>
                        <a onclick="UsunOpis('@opis.id', '@opis.id_zamowienia', '@opis.id_materialu')" class="pointer"><img src="/zamowienia/images/delete.jpeg" /></a>
                        <!-- The Modal -->
                        <div id="@string.Format("myModal")" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="@string.Format("close")">&times;</span>
                                <div id="panelEdycjaOpisPozycje" style="color: black;">
                                    <input type="hidden" value="@opis.id" id="@string.Format("eidPozycjaOpis{0}", index)" />
                                    <label for="dataPozycjaOpis">Data realizacji</label><br />
                                    <input type="date" value="@opis.data.ToString("yyyy-MM-dd")" id="@string.Format("edataPozycjaOpis{0}", index)" formnovalidate="formnovalidate" /><br />
                                    <label for="eiloscPozycjaOpis">Ilość</label><br />
                                    <input type="number" id="@string.Format("eiloscPozycjaOpis{0}", index)" step="0.01" min="0.01" max="@Help.ObliczMaxDlaRealizacji(opis.id_materialu)" value="@opis.ilosc" formnovalidate="formnovalidate" /><br />
                                    <label for="eopisPozycjaOpis">Opis</label><br />
                                    <input type="text" value="@opis.opis" placeholder="Opis realizacji" id="@string.Format("eopisPozycjaOpis{0}", index)" formnovalidate="formnovalidate" /><br />
                                    <label for="eprojektPozycjaOpis">Projekt</label><br />
                                    <select id="@string.Format("eprojektPozycjaOpis{0}", index)" formnovalidate="formnovalidate" onchange="$('#infoPrzerzuc').show();">
                                        @if (opis.id_projektu == 12550)
                                        {
                                            <option value="0" selected>Magazyn</option>
                                        }
                                        else
                                        {
                                            <option value="0">Magazyn</option>
                                        }
                                        @if (opis.id_projektu != 12550)
                                        {
                                            <option value="1" selected>Budowa</option>
                                        }
                                        else
                                        {
                                            <option value="1">Budowa</option>
                                        }
                                    </select><span id="infoPrzerzuc" style="color: blue; display: none;">Towar zostanie przerzucony w dniu dzisiejszym jeśli projekt został zmieniony.</span><br />
                                    <button type="button" onclick="window.location.href = '/aplikacjeMVC/Zamowienie/EdytujOpisPozycji?idzam=@opis.id_zamowienia&id=@opis.id_materialu&data=' + $('#@string.Format("edataPozycjaOpis{0}", index)').val() + '&ilosc=' + $('#@string.Format("eiloscPozycjaOpis{0}", index)').val() + '&opis=' + $('#@string.Format("eopisPozycjaOpis{0}", index)').val() + '&idprojektu=' + $('#@string.Format("eprojektPozycjaOpis{0}", index)').val() + '&idrealizacji=' + $('#@string.Format("eidPozycjaOpis{0}", index)').val();">Zapisz</button>
                                    <button type="button" @*onclick="$('#@string.Format("myModal")').hide()"*@ class="anulujOpis">Anuluj</button>
                                </div>
                            </div>

                        </div>
                        <script>
                            var count = @opisy.Count;
                            for (let i = 0; i < count; i++)
                            {
                                var close = document.getElementsByClassName("close")[i];
                                close.onclick = function () {
                                    document.getElementsByClassName("modal")[i].style.display = "none";
                                };

                                var anuluj = document.getElementsByClassName("anulujOpis")[i];
                                anuluj.onclick = function () {
                                    document.getElementsByClassName("modal")[i].style.display = "none";
                                };

                                var btn = document.getElementsByClassName("editRealizacjeOpis")[i];
                                btn.onclick = function () {
                                    document.getElementsByClassName("modal")[i].style.display = "block";
                                };

                                window.onclick = function (event) {
                                    if (event.target == document.getElementsByClassName("modal")[i]) {
                                        document.getElementsByClassName("modal")[i].style.display = "none";
                                    }
                                }
                            }


                            //modal = document.getElementById("myModal");
                            //btn = document.getElementById("editRealizacjaOpis");
                            //span = document.getElementsByClassName("close")[0];
                            //btn.onclick = function () {
                            //    modal.style.display = "block";
                            //}
                            //span.onclick = function () {
                            //    modal.style.display = "none";
                            //}
                            //window.onclick = function (event) {
                            //    if (event.target == modal) {
                            //        modal.style.display = "none";
                            //    }
                            //}

                        </script>
                    </td>
                }
            </tr>
        }
    </table>
}