﻿@{
    Layout = null;
    List<zamowienieOpi> opisy = (List<zamowienieOpi>)ViewBag.Opisy;
    zamowieniaDokument zamowienie = (zamowieniaDokument)ViewBag.Zamowienie;
    var index = 0;
}

<script>
    function Zapisz() {
        var id_zam = $("#idzamowienia").val();
        var data_wprowadzenia = $("#data_wprowadzenia").val();
        var zu = $("#zu").val();
        var data = $("#data").val();
        var opis = $("#opis").val();

        window.location.href = encodeURI("/aplikacjeMVC/zamowienie/ZamowienieOpisDodaj?idzamowienia=" + id_zam + "&data_wprowadzenia=" + data_wprowadzenia + "&zu=" + zu + "&data=" + data + "&opis=" + opis);
    }
</script>

@*<form id="form" action="/aplikacjeMVC/Zamowienie/ZamowienieOpisDodaj" method="post">*@
<table border="1" style="min-width: 50%;">
    <tr id="buttonDodaj">
        <td colspan="5"><button type="button" onclick="$('#buttonDodaj').hide();$('#formDodaj').show();" class="przycisk_05">Dodaj</button></td>
    </tr>
    <tr id="formDodaj" style="display:none;">
        <td style="width: 10%">
            <label>@DateTime.Now.ToShortDateString()</label>
            <input type="hidden" name="idzamowienia" id="idzamowienia" value="@zamowienie.IdZamowienia" />
            <input type="hidden" name="data_wprowadzenia" id="data_wprowadzenia" value="@DateTime.Now.ToShortDateString()" />
            <input type="hidden" name="zu" id="zu" value="@Request["zu"]" />
        </td>
        <td style="width: 30%">
            <label for="opis">Data zdarzenia</label>
            <input type="date" name="data" id="data" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="Wpisz datę zdarzenia" class="wpisy_dp_male" />
        </td>
        <td colspan="2" style="width: 50%">
            <label for="opis">Opis zdarzenia</label>
            <input type="text" name="opis" id="opis" value="" placeholder="Wpisz opis zdarzenia" class="wpisy_dp_male" />
        </td>
        <td style="width: 10%">
            @*<input type="submit" value="Dodaj" />*@
            <button type="button" onclick="Zapisz();" class="przycisk_05">Zapisz</button>
            <button type="button" onclick="$('#buttonDodaj').show();$('#formDodaj').hide();" class="przycisk_05">Anuluj</button>
        </td>
    </tr>
    <tr>
        <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 10%"><b>Lp</b></td>
        <td style="width: 30%"><b>Data</b></td>
        <td colspan="2" style="width: 50%"><b>Opis</b></td>
        <td style="width: 10%"><b>Akcje</b></td>
    </tr>
    @if (opisy.Count == 0)
    {
        <tr>
            <td colspan="5">BRAK</td>
        </tr>
    }
    @foreach (var opis in opisy)
    {
        index += 1;
        bool czyUser = opis.id_osoby == Convert.ToInt32(Request["zu"]) ? true : false;
        <tr>
            <td>@index</td>
            <td>@opis.data.ToString("dd-MM-yyyy")</td>
            <td colspan="2">@opis.opis</td>
            @if (czyUser)
            {
                <td>
                    <a href="/aplikacjeMVC/Zamowienie/UsunOpis?id=@opis.id&idzam=@opis.id_zamowienia">Usuń</a>
                </td>
            }
            else
            {
                <td>-</td>
            }
        </tr>
    }

</table>
@*</form>*@